
.app-tags {

  margin-top: $baseline-grid-unit;
  margin-bottom: $baseline-grid-unit * 3;

  .app-tags__item, .cardrow-moretags {
    display: inline-block;
    border: 1px solid $nhs-grey3;
    border-radius: 4px;
    padding: 2px 4px;
    margin-bottom: 4px;
    text-decoration: none;
    font-size: 14px;

    @include media(desktop) {
      font-size: 16px;
      padding: 2px $baseline-grid-unit;
    }
  }

  .app-tags__item--free {
    background-color: #008e62;
    border: 1px solid #008e62;
    color: #FFF;
  }

  .app-tags__item--paid {
    background-color: $nhs-grey1;
    border: 1px solid $nhs-grey1;
    color: #FFF;
  }

  /*
  .cardrow-moretags {
    background-color: #FFF;
    text-decoration: underline;
    border: 1px solid #FFF;
    cursor: pointer;
  }
  */
}
