
/* This is just an experiment */
/* Not for production */

.stv-radio-buttons-wrapper {
  clear: both;
  display: inline-block;
  margin-right: 10px;
}

.stv-radio-buttons-wrapper--small {
  font-size: 16px;
}

.stv-radio-button {
  position: absolute;
  //left: -9999em;
  //top: -9999em;
  visibility: hidden;

  & + label {
    float: left;
    padding: .5em 1em;
    cursor: pointer;
    border: 2px solid #000;
    margin-right: -2px;
    color: #000;
    background-color: #FFF;
  }

  &:checked + label {
    background-color: #000;
    color: #FFF;
  }
}


/* Not for production */

.v2-radio-buttons-wrapper {
  clear: both;
  display: inline-block;
  margin-right: 10px;
}

.v2-radio-buttons-wrapper--small {
  font-size: 16px;
}

.v2-radio-button {
  position: absolute;
  visibility: hidden;

  & + label {
    float: left;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-right: 4px;
    color: #000;





    @media only screen and (min-device-width : 380px) and (max-device-width : 480px) {
      font-size: 16px;
      padding: 0.5em 0.75em;
    }

    @media only screen and (max-device-width : 379px) {
      font-size: 14px;
      padding: 0.5em 0.5em;
    }

  }

  &:checked + label {
    background-color: #000;
    color: #FFF;
  }
}


.radio-button--approve, .radio-button--approve-with-recomendations {
  & + label {
    border-left: 2px solid #00823b;
    border-right: 2px solid #00823b;
    border-bottom: 2px solid #00823b;
    border-top: 2px solid #00823b;
    color: #00823b;
  }
  &:checked + label {
    background-color: #00823b;
    border-left: 2px solid #00823b;
    border-right: 2px solid #00823b;
    border-bottom: 2px solid #00823b;
    border-top: 2px solid #003718;
    color: #FFF;
  }
}

.radio-button--reject {
  & + label {
    border-left: 2px solid $nhs-red;
    border-right: 2px solid $nhs-red;
    border-bottom: 2px solid $nhs-red;
    border-top: 2px solid $nhs-red;
    color: $nhs-red;
  }
  &:checked + label {
    background-color: $nhs-red;
    border-left: 2px solid $nhs-red;
    border-right: 2px solid $nhs-red;
    border-bottom: 2px solid $nhs-red;
    border-top: 2px solid #941208;
    color: #FFF;
  }
}

.radio-button--request {
  & + label {
    border-left: 2px solid $nhs-grey2;
    border-right: 2px solid $nhs-grey2;
    border-bottom: 2px solid $nhs-grey2;
    border-top: 2px solid $nhs-grey2;
    color: $nhs-grey2;
  }
  &:checked + label {
    background-color: $nhs-grey2;
    border-left: 2px solid $nhs-grey2;
    border-right: 2px solid $nhs-grey2;
    border-bottom: 2px solid $nhs-grey2;
    border-top: 2px solid $nhs-grey1;
    color: #FFF;
  }
}
