
.callout {
  //@include element-padding;
  background-color: $white;
  padding: $baseline-grid-unit * 2;

  @include clearfix;

  p {
    margin-bottom: 0;
  }

  .callout__title {
    @extend .heading-medium;
    margin-top: $baseline-grid-unit;
  }

  .callout__para {
    margin-top: 0;
  }

  .callout__list {
    margin-left: $baseline-grid-unit * 2;
  }

  &:focus {
    outline: 3px solid $focus-colour;
  }

}

.callout--muted {
  background-color: $grey-4;
}

.callout--info {
  background-color: $grey-5;
  border: solid $grey-2;
  border-width: 0 0 0 $baseline-grid-unit;
}

.callout--attention {
  border: $baseline-grid-unit solid $bright-blue;
}

.callout--warning {
  background-color: $yellow-10;
  border: solid $yellow-50;
  border-width: $baseline-grid-unit 0;
}

.callout--alert {
  background-color: $red-10;
  border-top: $baseline-grid-unit solid $red;
}

.callout--severe {
  background-color: $red;
  color: $white;

  a {
    // @include link-reverse-polarity;
  }
}

.callout--error {
  border: $baseline-grid-unit solid $red;
}

.callout--compact {
  display: inline-block;

  @include media(desktop) {
    padding: $baseline-grid-unit * 2 $baseline-grid-unit * 6;
  }
}

.callout__inner {
  max-width: 900px;
  margin: 0px auto;
}


.callout--small {

  .callout__title {
    @extend .heading-small;
  }

  .callout__para, .callout__list {
    font-size: 16px;
  }

}


.callout--mobile-accordion {
  @include media(mobile) {
    border: 1px solid $nhs-grey4;
  }
  padding: 0px;

  .callout__title {
    padding-left: $baseline-grid-unit * 2;
    padding-right: $baseline-grid-unit * 2;
    padding-bottom: 0;
    padding-top: $baseline-grid-unit * 2;
  }

  .callout__para {
    padding-left: $baseline-grid-unit * 2;
    padding-right: $baseline-grid-unit * 2;
    padding-bottom: $baseline-grid-unit * 2;
    padding-top: 0;
  }

  @include media(mobile) {

    .callout__title {
      position: relative;
      cursor: pointer;
      padding: $baseline-grid-unit;

      &:after {
        position: absolute;
        right: 10px;
        top: 11px;
        content: "";
        background-size: 12px 12px;
        width: 12px;
        height: 12px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: url(/images/icon-grey-chevron.png);
      }
    }


    &.is-open {
      .callout__title {
        &:after {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    .callout__list {
      display: none;
    }
    .callout__para {
      display: none;
      padding-left: $baseline-grid-unit;
      padding-right: $baseline-grid-unit;
      padding-bottom: $baseline-grid-unit;
      padding-top: 0;
    }

    &.is-open {
      .callout__para {
        display: block;
      }
      .callout__list {
        display: block;
      }

    }
  }

}
