
.cardapp {
  position: relative;
  border-top: 1px solid #e8edee;
  border-left: 1px solid #e8edee;
  border-right: 1px solid #e8edee;
  border-bottom: 4px solid #e8edee;
  padding: $baseline-grid-unit * 3;
  margin-bottom: $baseline-grid-unit * 2;
  min-height: 205px;
}

.cardapp__top {
  min-height: 65px;
}

.cardapp__top__img {
  float: left;
  border: 1px solid #aaa;
  border-radius: 17px;
  width: 100%;
  max-width: 65px;
  min-width: 50px;
  margin-right: $baseline-grid-unit * 2;
  margin-bottom: 0;
}

.cardapp__top__title {
  display: block;
  font-size:21px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: $baseline-grid-unit;

  &:hover, &:active {
    background-color: #FFF;
    outline: 0;
  }

}

.cardapp__content {
  margin-top: $baseline-grid-unit * 2;
  font-size: 16px;
}

.cardapp__footer {
  position: absolute;
  bottom: $baseline-grid-unit * 2;
  left: $baseline-grid-unit * 2;
  right: $baseline-grid-unit * 2;
  border-top: 1px solid #CCC;
  padding-top: $baseline-grid-unit * 1;
  font-size: 14px;

  .cardapp__footer__text {
    float: right;
  }
}

.cardapp--list {
  position: relative;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #CCC;
  padding: 15px 0 0px 0;
  margin-bottom: 0;

  .cardapp__top {
      min-height: 42px;
  }

  .cardapp__top__subtitle {
    @include media(desktop) {
      position: absolute;
      top: 8px;
      right: 0px;
    }
  }

  .cardapp__top__title {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .cardapp__top__img {
    width: 45px;
    min-width: 45px;
    border-radius: 12px;
  }

  .cardapp__content {
    min-height: auto;
    margin-top: 0px;
    font-size: 14px;
    padding-left: 63px;

    @include media(desktop) {
      position: relative;
      top: -18px;
    }
  }

  .cardapp__footer {
    border-top: 0;
    display: none;
  }
}



/* ######################### */
/* Card row - Current winner */
/* ######################### */


.cardrow {
  position: relative;
  background-color: #FFF;
  border-bottom: 1px solid #FFF;

  padding-top: 18px;
  padding-left: 90px;
  padding-right: $baseline-grid-unit;
  padding-bottom: $baseline-grid-unit / 2;
  margin-bottom: $baseline-grid-unit * 2;
  min-height: 80px;

  @include media(desktop) {
    padding-left: 140px;
    padding-right: $baseline-grid-unit * 2;
  }

  .cardrow-content {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
  }

  .cardrow__img {
    position: absolute;
    top: 18px;
    left: 14px;
    width: 60px;
    border-radius: 15px;
    border: 1px solid #BFC1C3;

    @include media(desktop) {
      //top: 25px;
      width: 90px;
      border-radius: 20px;
      left: 18px;
    }
  }

  .cardrow__title {
    @extend .heading-small;
    margin: 0;
  }

  .cardrow__para {
    margin-bottom: 0;
  }

  .cardrow__price {
    margin-bottom: 0;

    @include media(desktop) {
      position: absolute;
      top: 49px;
      right: 18px;

      //font-weight: bold;
    }
  }


  .cardrow__featured {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 170px;
    z-index: 0;

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;

    &:after {
      content: "Featured";
      position: absolute;
      top: $baseline-grid-unit;
      left: $baseline-grid-unit;
      background-color: rgba(0,0,0,0.5);
      z-index: 20;
      font-size: 16px;
      color: #FFF;
      padding: $baseline-grid-unit / 2 10px;
      border-radius: 20px;
    }
  }
}





.cardrow--featured {
  border: 3px solid $nhs-grey3;
  padding-top: 191px;
  padding-right: 10px;

  .cardrow__img {
    top: 190px;
  }

  .cardrow__price {
    margin-bottom: 0;

    @include media(desktop) {
      position: absolute;
      top: 189px;
      //font-weight: bold;
    }
  }
}

.cardrow--last {
  border-bottom: 0;
}



a.cardrow-title:link, a.cardrow-title:visited {

  @extend .heading-medium;

  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px 0 12px 0;
  text-decoration: none;
  color: $nhs-blue;

  &:after {
    position: relative;
    content: "See more >";
    margin-left: $baseline-grid-unit * 2;
    top: 0;
    color: $nhs-blue;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;

    @include media(mobile) {
      float: right;
    }

  }

  &:active, &:focus {
    background-color: transparent;
    outline: 0;
    &:after {
      color: #000;
    }
  }

}
