
.cardapp {
  position: relative;
  border-top: 1px solid #e8edee;
  border-left: 1px solid #e8edee;
  border-right: 1px solid #e8edee;
  border-bottom: 4px solid #e8edee;
  padding: $baseline-grid-unit * 3;
  margin-bottom: $baseline-grid-unit * 2;
  min-height: 205px;
}

.cardapp__top {
  min-height: 65px;
}

.cardapp__top__img {
  float: left;
  border: 1px solid #aaa;
  border-radius: 17px;
  width: 100%;
  max-width: 65px;
  min-width: 50px;
  margin-right: $baseline-grid-unit * 2;
  margin-bottom: 0;
}

.cardapp__top__title {
  display: block;
  font-size:21px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: $baseline-grid-unit;
  &:hover, &:active {
    background-color: #FFF;
    outline: 0;
  }
}

.cardapp__content {
  margin-top: $baseline-grid-unit * 2;
  font-size: 16px;
}

.cardapp__footer {
  position: absolute;
  bottom: $baseline-grid-unit * 2;
  left: $baseline-grid-unit * 2;
  right: $baseline-grid-unit * 2;
  border-top: 1px solid #CCC;
  padding-top: $baseline-grid-unit * 1;
  font-size: 14px;

  .cardapp__footer__text {
    float: right;
  }
}





/* List */

.cardapp--list {
  position: relative;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #CCC;
  padding: 15px 0 0px 0;
  margin-bottom: 0;

  .cardapp__top {
      min-height: 42px;
  }

  .cardapp__top__subtitle {
    @include media(desktop) {
      position: absolute;
      top: 8px;
      right: 0px;
    }
  }

  .cardapp__top__title {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .cardapp__top__img {
    width: 45px;
    min-width: 45px;
    border-radius: 12px;
  }

  .cardapp__content {
    min-height: auto;
    margin-top: 0px;
    font-size: 14px;
    padding-left: 63px;

    @include media(desktop) {
      position: relative;
      top: -18px;
    }
  }

  .cardapp__footer {
    border-top: 0;
    display: none;
  }
}
