
/* Taken through inspector */
.categories-list {
    float: left;
    width: 33.33333%;
}

.categories-list {
    float: left;
    width: 33.33333%;
    li {
        margin: 0 0 15px;
        padding: 0;
        list-style: none;
    }
    h3 {
      font-size: 19px;
      line-height: 1.31579;
    }
}
