
/* Taken through inspector */
.categories-list {

  @include media(tablet) {
    float: left;
    width: 33.33333%;
  }

  li {
    margin: 0 15px 15px 0;
    padding: 0;
    list-style: none;
    @include media(mobile) {
      margin: 0 15px 10px 0;
    }
  }

  h3 {
    font-size: 16px;
    line-height: 1.31579;
    font-weight: 600;
  }

  p {
    font-size: 16px;
  }

}


.categories-list--mobile-two-cols {
  @include media(mobile) {
    float: left;
    width: 49%;
  }
  h3 {
    //font-size: 15px;
    //line-height: 1.31579;
    //font-weight: 600;
  }
  li {

  }
}
