
/* Taken through inspector */
.categories-list {
  @include media(tablet) {
    float: left;
    width: 33.33333%;
  }
    li {
        margin: 0 15px 15px 0;
        padding: 0;
        list-style: none;
    }
    h3 {
      font-size: 19px;
      line-height: 1.31579;
      font-weight: 600;
    }
    p {
      font-size: 16px;
    }
}
