/* Filter */

.filter {

    background-color: $nhs-grey5;
    margin-right: 0;
    margin-bottom: 24px;

    /* Filter head */
    .filter-head {

        position: relative;
        padding: $baseline-grid-unit * 2;
        border-bottom: 1px solid $nhs-grey3;

        .filter-head__title {
          user-select: none;
          position: relative;
          top: 2px;
        }

        .filter-head__toggle {

          cursor: pointer;
          display: none;

          @include media(mobile) {
            display: inline-block;
            float: right;
            font-size: 14px;
            color: #005BBB;
            margin-top: 3px;
          }

        }

        .filter-head__toggle:after {
          @include media(mobile) {
            display: inline-block;
            font-size: 8px;
            height: 8px;
            padding-left: 5px;
            vertical-align: middle;
            content: " \25BC";
          }
        }

        .filter-head__reset {
          position: absolute;
          cursor: pointer;
          padding-left: $baseline-grid-unit;
          padding-right: $baseline-grid-unit;
          padding-bottom: $baseline-grid-unit - 4px;
          padding-top: $baseline-grid-unit;
          color: #FFF;
          font-size: 14px;
          background: $nhs-blue;
          border-bottom: 2px solid #002f61;
          top: 10px;
          right: 10px;

          @include media(mobile) {
            display: none;
          }
        }

        @include clearfix;

    }



    /* Filter sections */
    /* Unless you add the filter-section--collapse class */

    .filter-section {

      border-bottom: 1px solid $nhs-grey4;

      @include media(mobile) {
        display: none;
      }

      .filter-section__title {
        padding: $baseline-grid-unit * 2;
        color: $nhs-grey1;
      }

      .filter-section__contents {
        padding-left: $baseline-grid-unit * 2;
        padding-right: $baseline-grid-unit * 2;
        padding-bottom: $baseline-grid-unit * 2;

        a {
          color: $nhs-blue;
        }

        .active a {
          font-weight: 600;
          color: $nhs-black;
          text-decoration: none;
        }

      }

    }


    .filter-section--mobile-close {
      padding: $baseline-grid-unit * 2;

      .button {
        width: 100%;
        text-align: center;
      }

      @include media(tablet) {
        display: none;
      }

    }


    .filter-section--toggles {
        .filter-section__title {
            position: relative;
            cursor: pointer;

            &:after {
                position: absolute;
                right: 14px;
                top: 50%;
                margin-top: -15px;
                content: "+";
                text-align: center;
                font-size: 25px;
                min-width: 20px;
            }

            &:hover {
                &:after {
                    opacity: 0.75;
                }
            }
        }

        .filter-section__contents {
            display: none;
        }

    }

    .is-open {

        .filter-section__title:after {
            content: "-";
        }

        .filter-section__contents {
            display: block;
        }

    }



    /* Filter sections collapse */

    .filter__section--collapse {

        .filter__section__title {
            position: relative;
            cursor: pointer;
        }

        .filter__section__title:after {
            position: absolute;
            right: 14px;
            content: "+";
        }

        .filter__section__content {
            display: none;
        }
    }

    .filter__section--collapse--open {
        .filter__section__title:after {
            content: "-";
        }
    }

}



/* Filter by tags */
.filter-by {
  //background-color: #F2F2F2;
  //border-bottom: 1px solid $nhs-grey3;
  //border-left: 1px solid $nhs-grey3;
  //border-right: 1px solid $nhs-grey3;
  //margin-bottom: $baseline-grid-unit;
  min-height: 20px;
  clear: both;
}

.filter-by__item {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: #FFF;
  padding: $baseline-grid-unit $baseline-grid-unit *3 6px $baseline-grid-unit;
  margin: $baseline-grid-unit $baseline-grid-unit $baseline-grid-unit 0;
  font-size: 14px;
  border: 1px solid $nhs-grey2;
  //border-radius: 4px;
}

.filter-by__item:after {
  position: absolute;
  right: $baseline-grid-unit;
  color: $nhs-blue;
  font-weight: 600;
  content: "X";
}





/* Filter horizontal */

/* This is only used on variation 2 currently */
.filter-horz-mobile-action {
  position: relative;
  display: block;
  background-color: $nhs-grey2;
  padding: $baseline-grid-unit * 2;
  // margin-bottom: $baseline-grid-unit * 3;
  font-weight: 600;
  color: #FFF;

  @include media(tablet) {
    display: none;
  }

  &:after {
    position: absolute;
    right: 10px;
    top: 20px;
    content: "";
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(/images/icon-grey-chevron.png);
  }

}

.filter-horz--mobile-hide {
  @include media(mobile) {
    display: none;
  }
}

.filter-horz {

  background-color: #FFF;
  font-size: 16px;

  @include media(desktop) {
    border-bottom: 1px solid $nhs-grey3;
    //border-top: 1px solid $nhs-grey3;
    //border-left: 1px solid $nhs-grey3;
    //border-right: 1px solid $nhs-grey3;
  }


  @include clearfix;

  .filter-horz__title {
    font-weight: 600;

    margin-right: $baseline-grid-unit;
    padding-top: $baseline-grid-unit * 2;

    padding-right: $baseline-grid-unit;
    padding-bottom: $baseline-grid-unit;

    @include media(desktop) {
      float: left;
      //padding-left: $baseline-grid-unit * 2;
    }
  }

  .filter-horz-section {
    position: relative;

    @include media(desktop) {
      // display: inline-block;
      float: left;
    }
  }

  .filter-horz-section__contents {
    display: none;
    background-color: #FFF;
    //border: 1px solid $nhs-grey3;
    padding-top: $baseline-grid-unit * 2;
    padding-left: $baseline-grid-unit * 2;
    padding-right: $baseline-grid-unit * 2;
    padding-bottom: $baseline-grid-unit * 2;
    z-index: 10;

    @include media(desktop) {
      position: absolute;
      top: 53px;
      left: 0px;
      width: 280px;
    }
  }

  .is-open .filter-horz-section__contents {
    display: block;
    border: 1px solid $nhs-grey1;
  }

  .filter-horz-section__title {
    position: relative;
    cursor: pointer;
    //background-color: $nhs-white;
    border: 1px solid $nhs-grey3;
    margin-bottom: -1px;

    @include media(desktop) {
      border: 1px solid transparent;
      margin-top: -1px;
    }

    padding-top: $baseline-grid-unit * 2;
    padding-right: $baseline-grid-unit * 4;
    padding-left: $baseline-grid-unit * 2;
    padding-bottom: $baseline-grid-unit * 2;

    &:after {
      position: absolute;
      right: 10px;
      top: 21px;
      content: "";
      background-size: 12px 12px;
      width: 12px;
      height: 12px;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url("/images/icon-grey-chevron.png");
    }
  }

  .is-open .filter-horz-section__title {
    //background: #EEE;

    border-top: 1px solid $nhs-grey1;
    border-left: 1px solid $nhs-grey1;
    border-right: 1px solid $nhs-grey1;
    border-bottom: 1px solid #FFF;
    z-index: 11;

    &:after {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .filter-horz__sort {

    //display: none;
    margin-top: 6px;
    margin-bottom: $baseline-grid-unit;
    //margin-right: $baseline-grid-unit;

    @include media(desktop) {
      //display: block;
      margin-top: 10px;
      margin-bottom: 0;
      float: right;
    }

    .sort-label {
      font-weight: 600;
      display: block;
      padding-bottom: $baseline-grid-unit / 2;

      @include media(desktop) {
        display: inline-block;
      }
    }
  }

}




/* */
