/* Filter */

.filter {

    background-color: #F4F5F7;
    margin-right: 0;
    margin-bottom: 40px;

    /* Filter head */
    .filter-head {

        padding: $baseline-grid-unit * 2;
        border-bottom: 1px solid #CBCBCB;

        .filter-head__title {
          user-select: none;
          position: relative;
          top: 2px;
        }

        .filter-head__toggle {

          cursor: pointer;
          display: none;

          @include media(mobile) {
            display: inline-block;
            float: right;
            font-size: 14px;
            color: #005BBB;
            margin-top: 3px;
          }

        }

        .filter-head__toggle:after {
          @include media(mobile) {
            display: inline-block;
            font-size: 8px;
            height: 8px;
            padding-left: 5px;
            vertical-align: middle;
            content: " \25BC";
          }
        }

        @include clearfix;

    }


    /* Filter by tags */

    .filter-by__item {
      cursor: pointer;
      position: relative;
      display: inline-block;
      background-color: #FFF;
      padding: $baseline-grid-unit $baseline-grid-unit *3 6px $baseline-grid-unit;
      margin: $baseline-grid-unit 0 $baseline-grid-unit $baseline-grid-unit;
      font-size: 14px;
      border: 1px solid #CBCBCB;
      border-radius: 4px;
    }

    .filter-by__item:after {
      position: absolute;
      right: $baseline-grid-unit;
      color: $nhs-blue;
      font-weight: 600;
      content: "X";

    }

    /* Filter sections */
    /* Unless you add the filter-section--collapse class */

    .filter-section {

      border-bottom: 1px solid #DFE2E4;

      @include media(mobile) {
        display: none;
      }

      .filter-section__title {
        padding: $baseline-grid-unit * 2;
        color: #425563;
      }

      .filter-section__contents {
        padding-left: $baseline-grid-unit * 2;
        padding-right: $baseline-grid-unit * 2;
        padding-bottom: $baseline-grid-unit * 2;

        a {
          color: $nhs-blue;
        }

        .active a {
          font-weight: 600;
          color: #0b0c0c;
          text-decoration: none;
        }

      }

    }


    .filter-section--mobile-close {
      padding: $baseline-grid-unit * 2;

      .button {
        width: 100%;
        text-align: center;
      }

      @include media(tablet) {
        display: none;
      }

    }


    .filter-section--toggles {
        .filter-section__title {
            position: relative;
            cursor: pointer;

            &:after {
                position: absolute;
                right: 14px;
                top: 50%;
                margin-top: -15px;
                content: "+";
                text-align: center;
                font-size: 25px;
                min-width: 20px;
            }

            &:hover {
                &:after {
                    opacity: 0.75;
                }
            }
        }

        .filter-section__contents {
            display: none;
        }

    }

    .is-open {

        .filter-section__title:after {
            content: "-";
        }

        .filter-section__contents {
            display: block;
        }

    }



    /* Filter sections collapse */

    .filter__section--collapse {

        .filter__section__title {
            position: relative;
            cursor: pointer;
        }

        .filter__section__title:after {
            position: absolute;
            right: 14px;
            content: "+";
        }

        .filter__section__content {
            display: none;
        }
    }

    .filter__section--collapse--open {
        .filter__section__title:after {
            content: "-";
        }
    }

}
