
.pagination {
    // border-top: 1px solid $nhs-grey5;
    text-align: center;
    padding-top: $baseline-grid-unit;

    a {
        display: inline-block;
        text-decoration: none;
        padding: $baseline-grid-unit;
    }

    .pagination__list {
        list-style: none;

        .pagination__list__item {
            display: inline-block;
            border: 1px solid $nhs-grey4;
        }

        .pagination__list__item--previous {
            margin-right: $baseline-grid-unit;
        }

        .pagination__list__item--current {
            padding: $baseline-grid-unit;
            background-color: $nhs-grey4;
        }

        .pagination__list__item--next {
            margin-left: $baseline-grid-unit;
        }
    }
}
