
@mixin border-highlight {
  position: relative;
  border: 3px solid transparent;
  outline: 0;
  left: -3px;
  top: -3px;

  &:focus {
    border: 3px solid $focus-colour;
    outline: 0;
  }
}

/* Search banner */
.search-banner {
  background: $col-primary;
  margin-bottom: $baseline-grid-unit * 2;
  min-height: 30px;
}

.search-banner__inner {
  max-width: 960px;
  padding: $baseline-grid-unit * 3 $baseline-grid-unit * 2;
  margin: 0 auto;
  border: 1px solid transparent;

  @include media(tablet) {
    padding: $baseline-grid-unit * 4;
  }

  @media only screen and (min-width: 1020px) {
    padding: 0 30px;
    background-image: url("https://apps.beta.nhs.uk/media/1004/runnercheckingapp.jpg?anchor=center&mode=crop&width=475&height=300&rnd=131359762240000000");
    background-repeat: no-repeat;
    background-position: 94.5% 0;
    min-height: 300px;
  }
}

a.search-banner__link:link, a.search-banner__link:visited {
  color: #FFF;
  @extend .heading-small;
}

.search-banner__headline {
    color: $col-septenary;
    margin-top: 0;

    @media only screen and (min-width: 1020px) {
        max-width: 430px;
        margin-top: $baseline-grid-unit * 6;
    }
    
    @extend .heading-large;
}

.search-banner__form {
  position: relative;
  display: table;
  width: 100%;
  left: 3px;
  margin-bottom: 20px;

  @include media(desktop) {
    max-width: 450px;
  }

  .search-banner__input,
  .search-banner__button {
      width: 100%;
  }

  & > div {
    display: table-cell;
    min-width: 100px;

    &:not(:first-child) {
        width: 100px;
    }
  }

  span {
    display: none;
  }

}

.search-banner__input {
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  padding: round($baseline-grid-unit * 1.3) round($baseline-grid-unit * 2);
  color: $col-quaternary;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  @include border-highlight;

}

.search-banner__button {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: "Frutiger W01", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #00386E;
  border: 0;
  box-shadow: 0 2px 0 #003364;
  cursor: pointer;
  letter-spacing: .5px;
  line-height: 1.25;
  outline: 1px solid transparent;
  outline-offset: -1px;
  padding: 9px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  color: #fff;
  position: relative;
  left: 1px;
  box-shadow: none;
  outline-offset: -3px;
  line-height: 30px;
  position: relative;
  border: 3px solid transparent;
  outline: 0;
  left: -3px;
  background-image: url("/images/search-icon.png");
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 52px;
  top: 7px;
}
