

@mixin border-highlight {
  position: relative;
  border: 3px solid transparent;
  outline: 0;
  left: -3px;
  top: -3px;

  &:focus {
    border: 3px solid $focus-colour;
    outline: 0;
  }
}



/* Search banner */
.search-banner {
    background: $col-primary;
    padding: 1.5em 0 1.8em;
    margin-bottom: $baseline-grid-unit * 2;
    min-height: 30px;
}

.search-banner__pad {
  padding: $baseline-grid-unit * 3;
}
.search-banner__headline {
    @extend .heading-large;
    color: $col-septenary;
    max-width: 620px;
    //margin-bottom: 30px;
    //@include core-font(20);

    @include media(desktop) {
        max-width: 800px;
    }
}

.search-banner__form {
    position: relative;
    display: table;
    width: 100%;
    left: 3px;

    .search-banner__input,
    .search-banner__button {
        width: 100%;
    }



    & > div {
        display: table-cell;
        min-width: 100px;

        &:not(:first-child) {
            width: 100px;
        }
    }

    span {
      display: none;
    }
    /*
    @include media(mobile) {
        & > div {
            display: block;
            width: 100%;

            &:not(:first-child) {
                width: 100%;
            }

            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }
    */
}

.search-banner__input {
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    //min-height: 30px;
    padding: round($baseline-grid-unit * 1.3) round($baseline-grid-unit * 2);
    color: $col-quaternary;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    @include border-highlight;
    //@include core-font(20);
}

.search-banner__button {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: "Frutiger W01", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #00386E;
    border: 0;
    box-shadow: 0 2px 0 #003364;
    cursor: pointer;
    letter-spacing: .5px;
    line-height: 1.25;
    outline: 1px solid transparent;
    outline-offset: -1px;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #fff;
    position: relative;
    left: 1px;
    box-shadow: none;
    outline-offset: -3px;
    line-height: 30px;
    position: relative;
    border: 3px solid transparent;
    outline: 0;
    left: -3px;
    background-image: url("/images/search-icon.png");
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 52px;
    top: 7px;
}
