
/* Look into #container */
.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: $baseline-grid-unit;
    padding-right: $baseline-grid-unit;
}

/* Reverse the grid - Not used anymore but could be useful */
.grid-row--reverse > .column-third, .grid-row--reverse > .column-one-third, .grid-row--reverse > .column-two-thirds, .grid-row--reverse > .column-one-half {
  @include media(tablet) {
    float: right;
  }
}


/* Missing grid elements */
.column-three-quarters {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include media(tablet) {
    float: left;
    width: 75%;
  }
}

.mobile-column-one-half {
  @include media(mobile) {
    float: left;
    width: 50%;
  }
}


/* taken from the new redesign project */
/* https://nhsuk-redesign.azurewebsites.net */
.grey-bg {
  background-color: #f0f4f5;
}


/* Used on the keyword search on library */
.highlight {
  background-color: yellow;
}


/* Background color on the checkbox */
.multiple-choice [type=checkbox] + label::before {
  background-color: #FFF;
}

.multiple-choice:last-child, .multiple-choice:last-of-type {
  margin-bottom: $baseline-grid-unit;
}


/*.error-summary is included in the GDS patterns. But no confirmation message with the same format */
.confirm-summary {
  border: 5px solid $nhs-green;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 15px 15px;

  .confirm-summary-heading {
    color: $nhs-green;
    margin-top: 0;
    margin-bottom: 0;
  }

  .confirm-summary-list a {
    color: $nhs-green;
    font-weight: 600;
  }

}


/* Page breadcrumbs - missing from header elements */
.breadcrumbs {
  z-index: 2;
  background-color: #FFF;
}

.breadcrumbs__inner {
  max-width: 960px;
  padding: 0 $baseline-grid-unit * 2;
  margin: 0 auto;
}

.breadcrumbs li {
  background-image: url("../images/separator-2x.png");
  margin-bottom: 0;
}


/* What is this? */
.related-container {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
}


/* Task list extra classes */
a.task-name:link {
  text-decoration: none;
  .task-list-extra-details {
    @extend .font-xsmall;
    text-decoration: none;
    margin-bottom: $baseline-grid-unit / 2;
  }
}

.task-list-action, .task-list-details {
  background-color: $nhs-grey5;
  padding: $baseline-grid-unit * 2;
  border-top: 1px solid #e3e7e8;

  @extend .font-xsmall;

  strong {
    font-weight: bold;
  }
}

.task-list-details {
  display: none;
}

.task-list-action__link {
  display: table-cell;
  background-image: url("/images/icon-chevron-blue.png");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: 100% 3px;
  padding-right: 20px;
  @include media(desktop) {
    display: inline-block;
    float: right;
  }
}


/* Extra line on the homepage sidebar */
.govuk-related-items {
  margin-top: 40px;
  border-top: 2px solid $nhs-blue;
  padding-top: 5px;
}


/* Forms */
.form-label {
  margin-bottom: 7px;
}

.multiple-question {
  margin-top: 20px;
}

.form-group {
  @include media(tablet) {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.form-group-small {
  margin-bottom: 10px;
  @include media(tablet) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.form-control {
  margin-bottom: $baseline-grid-unit;
  @include media(tablet) {
    width: 64%;
    //padding: 10px 10px 6px;
    margin-bottom: $baseline-grid-unit * 2;
  }
}

/* Added so that the red error border from the GOV styles is also applied when a form-control is classed as "error" by jQuery validate */
.form-control.error {
    border: 4px solid #b10e1e;
}

/* Used on Apps library v8 prototype */
.form-control--search {
  background-image: url("../images/icon-search.png");
  background-repeat: no-repeat;
  background-position: 97% 10px;
  background-size: 20px 20px;
  padding: 10px 14px 10px;
  margin-bottom: 0;

  @include media(tablet) {
    background-size: 26px 26px;
    background-position: 97% 10px;
    width: 100%;
  }

  @include media(desktop) {
    padding: 10px 14px 10px;
    font-size: 22px;
    background-position: 98% 10px;
  }

}

.form-control--search-small {
  background-image: url("/images/icon-search.png");
  background-repeat: no-repeat;
  background-position: 98% 6px;
  background-size: 14px 14px;
  padding: 2px 8px 2px;
  margin-bottom: 0;
  font-size: 16px;

  @include media(tablet) {
    background-position: 97% 6px;
    background-size: 18px 18px;
    width: 100%;
    font-size: 19px;
  }

}

.form-add-comment {
  //border: 1px solid red;
  @extend .font-xsmall;
}

/* Input file upload */
input[type="file"] {
  background-color: #FFF;
  height: auto;
  padding: 5px 4px 4px;
  font-size: 14px;
  //border-bottom: 2px solid #b8c0c5;
}

/* Taken from shim.css - Not looked into why this is needed yet
.fileUpload {
    height:auto;
    padding:5px 4px 4px;
}
*/


/* Greyscale old comments in the thread */
.js-messages .panel:not(:first-child) {
    opacity: 0.6;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* Field disabled */
.form-control[type="text"]:disabled, textarea.form-control[disabled], select.form-control[disabled]  {
    background-color: #F8F8F8;
    border-color: #e0e0e0;
}


/* Trancate message thread */
.form-group{
  .js-expand-button {
    display: none;
  }
}

.form-group--truncate-messages {

  .js-messages .panel {
    display: none;
  }

  .js-messages .panel:first-child {
    display: block;
  }

  .js-expand-button {
    display: inline-block;
  }
}

.form-group--rejected {
  border-left: 3px solid $nhs-red;
  padding-left: $baseline-grid-unit * 2;
}

.form-group--approved {
  border-left: 3px solid #3E9A57;
  padding-left: $baseline-grid-unit * 2;
}

.form-group--inforequest {
  border-left: 3px solid #768692;
  padding-left: $baseline-grid-unit * 2;
}

.form-buttons {
  display: block;
  margin-bottom: $baseline-grid-unit * 2;
}


/* Panels */
.panel {
  margin-bottom: $baseline-grid-unit;
}

.panel--red {
  background-color: #FFF5F5;
  border-color: $nhs-red;
}

.panel--red-border {
  border-color: $nhs-red;
}

.panel--green {
  background-color: #EDFFF2;
  border-color: $nhs-green;
}

.panel--green-border {
  border-color: $nhs-green;
}


// status--completed
/* Tasklist */
/* Can this be removed now - I think we've gone with a different design */

.task-incomplete {
  position: relative;
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 12px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: #fff;
  background-color: #FFF;
  border: 1px solid #005da5;
  float: right;
  margin-right: 0;
  width: 111px;
  min-height: 22px;

  .task-incomplete__bar {
    background-color: #e8edee;
    min-height: 22px;
    border-right: 1px solid #c2d2d6;
  }

  .task-incomplete__text {
    text-align: center;
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    color: #005ea5;
  }
}


.panel--header {
  border: 10px solid $nhs-blue;

  @include media(tablet) {
    padding: $baseline-grid-unit * 4;
  }

  .panel--header__title {
    @extend .heading-medium;
    margin-top: 0;
  }

  .panel--header__side {
    float: right;
  }
}


/* Header for set2-details.html header */
.app-header {

  position: relative;
  background-color: #CCC;
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;

  min-height: 100px;

  @include media(mobile) {
    background-position: 65% 50%;
    background-size: 600px;

    margin-left: -$baseline-grid-unit;
    margin-right: -$baseline-grid-unit;
  }

  @include media(tablet) {
    min-height: 110px;
    background-size: cover;
  }

  @include media(desktop) {
    min-height: 175px;
  }

  .app-header__bg {
    width: 100%;
  }

  .app-header__icon {

    position: absolute;
    bottom: -$baseline-grid-unit * 2;
    left: $baseline-grid-unit;

    @include media(tablet) {
      left: $baseline-grid-unit * 3;
    }

    img {
      width: 80px;
      height: 80px;

      @include media(tablet) {
          width: 100px;
          height: 100px
      }

      border-radius: 18px;
      border: 1px solid rgba(0,0,0,0.08);
    }

    &:after {
      @include media(tablet) {
        content: "";
        position: absolute;
        bottom: -$baseline-grid-unit;
        left: $baseline-grid-unit * 3;
        right: $baseline-grid-unit * 3;
        border-radius: 10px;
        background-color: #000;
        height: 1px;
        filter: blur(4px);
      }
    }
  }
}


/* I don't know what this is:
.timer {
  display: none;
}
*/

/* Link to feedback form */
.feedback {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: $nhs-blue;
  padding: $baseline-grid-unit $baseline-grid-unit * 1.5;

  a {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
}



/* Title for Library Set4  */
.set4-lib-grid-row {
  @extend .grid-row;
  @extend .font-xsmall;

  margin-top: $baseline-grid-unit * 3;
  margin-bottom: $baseline-grid-unit * 3;
}

.set4-lib-grid-row__col1 {
  @extend .column-two-thirds;

  strong {
    font-weight: 600;
  }

  margin-bottom: $baseline-grid-unit;

  @include media(desktop) {
    margin-bottom: 0;
    margin-left: $baseline-grid-unit * 2;
  }
}

.set4-lib-grid-row__col2 {
  @include media(desktop) {
    float: right;
  }

  margin-right: $baseline-grid-unit * 2;
  padding-left: $baseline-grid-unit * 2;
}
