
/* Look into #container */
.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: $baseline-grid-unit;
    padding-right: $baseline-grid-unit;
}



.breadcrumbs li {
  background-image: url("/images/separator-2x.png");
}

/* Could do with some base font colors */
.blue {
  color: #005BBB;
}
.green {
  color: #3E9A57;
}
.lightgreen {
  color: #00BB89;
}
.red {
  color: #D00000;
}
.grey {
  color: #939293;
}




/* Task list extra classes */
.task-list-extra-details {
  @include media(tablet) {
    margin-left: 34px;
  }
  @extend .font-xsmall;
}

/* Extra line on the homepage sidebar */
.govuk-related-items {
  margin-top: 40px;
  border-top: 2px solid #005BBB;
  padding-top: 5px;
}


/* Buttons */

.button--blue {
  @include button($nhs-blue);
}

.button--red {
  @include button($nhs-red);
}

.button--grey {
  @include button($nhs-grey5);
}

.button--light-grey {
  @include button(#F8F8F8);
}

.button--small, .button--tiny {
  font-size: 16px;
}
.button--chevron {
  background-image: url("../images/icon-chevron.png");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 30px;
}
.button--chevron.button--grey, .button--chevron.button--light-grey {
  background-image: url("../images/icon-grey-chevron.png");
}

.button-start, .button-get-started {
  background-image: url("https://govuk-elements.herokuapp.com/public/images/icon-pointer-2x.png");
}

.button--large {
  font-size: 26px;
}


/* Form controls */
.form-label {
  margin-bottom: 7px;
}

.multiple-question {
  margin-top: 20px;
}

.form-group {
  @include media(tablet) {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
.form-control {
  @include media(tablet) {
    width: 64%;
    padding: 10px 10px 6px;
    margin-bottom: 4px;
  }
}

.js-messages .panel:not(:first-child) {
    opacity: 0.6;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* Field disabled */
.form-control[type="text"]:disabled, textarea.form-control[disabled]  {
    background-color: #F8F8F8;
    border-color: #e0e0e0;
}



/* TRUNCATE HACK */

.form-group{
  .js-expand-button {
    display: none;
  }
}

.form-group--truncate-messages {
  .js-messages .panel {
    display: none;
  }
  .js-messages .panel:first-child {
    display: block;
  }

  .js-expand-button {
    display: inline-block;
  }
}

.form-group--rejected {
  border-left: 3px solid $nhs-red;
  padding-left: $baseline-grid-unit * 2;
}

.form-group--approved {
  border-left: 3px solid #3E9A57;
  padding-left: $baseline-grid-unit * 2;
}




.form-buttons {
  display: block;
  margin-bottom: $baseline-grid-unit * 2;
}

.panel--red {
  background-color: #FFF5F5;
  border-color: $nhs-red;
}
.panel--red-border {
  border-color: $nhs-red;
}

.panel--green {
  background-color: #EDFFF2;
  border-color: $nhs-green;
}
.panel--green-border {
  border-color: $nhs-green;
}



/* Tasklist */
.task-incomplete {
  position: relative;
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 12px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: #fff;
  background-color: #FFF;
  border: 1px solid #005da5;
  float: right;
  margin-right: 0;
  width: 111px;
  min-height: 22px;
  .task-incomplete__bar {
    background-color: #e8edee;
    min-height: 22px;
    border-right: 1px solid #c2d2d6;
  }
  .task-incomplete__text {
    text-align: center;
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    color: #005ea5;
  }
}

.task-locked {
    color: #0b0c0c;
    display: inline-block;
    float: right;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 0;
    padding-top: 5px;
}



.panel--header {
  border: 10px solid $nhs-blue;

  @include media(tablet) {
    padding: $baseline-grid-unit * 4;
  }
  .panel--header__title {
    @extend .heading-medium;
    margin-top: 0;
  }
  .panel--header__side {
    float: right;
  }
}


/* Pie chart */
.pie {
  max-width: 60px;
}
.timer {
  display: none;
}
