
/* Look into #container */
.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: $baseline-grid-unit;
    padding-right: $baseline-grid-unit;
}

.grid-row--reverse {
  .column-third, .column-one-third, .column-two-thirds, .column-one-half {
    @include media(tablet) {
      float: right;
    }
  }
}

.breadcrumbs li {
  background-image: url("/images/separator-2x.png");
}




/* Could do with some base font colors */
.blue {
  color: #005BBB;
}

.green {
  color: #3E9A57;
}

.lightgreen {
  color: #00BB89;
}

.red {

  color: #D00000;
}

.grey {
  color: #939293;
}




/* Task list extra classes */
a.task-name:link {
  text-decoration: none;
  .task-list-extra-details {
    @extend .font-xsmall;
    text-decoration: none;
    margin-bottom: $baseline-grid-unit / 2;
  }
}


/* Extra line on the homepage sidebar */
.govuk-related-items {
  margin-top: 40px;
  border-top: 2px solid #005BBB;
  padding-top: 5px;
}


/* Buttons */
.button {
  margin-bottom: $baseline-grid-unit;
}

.button--blue {
  @include button($nhs-blue);
}

.button--red {
  @include button($nhs-red);
}

.button--grey {
  @include button($nhs-grey5);
}

.button--light-grey {
  @include button(#F8F8F8);
}

.button--small, .button--tiny {
  font-size: 16px;
}

.button--chevron {
  background-image: url("/images/icon-chevron.png");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 30px;
}

.button--chevron.button--grey, .button--chevron.button--light-grey {
  background-image: url("/images/icon-grey-chevron.png");
}

.button-start, .button-get-started {
  background-image: url("https://govuk-elements.herokuapp.com/public/images/icon-pointer-2x.png");
}

.button--large {
  font-size: 26px;
}


/* Form controls */
.form-label {
  margin-bottom: 7px;
}

.multiple-question {
  margin-top: 20px;
}

.form-group {
  @include media(tablet) {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.form-group-small {
  margin-bottom: 10px;
  @include media(tablet) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.form-control {
  @include media(tablet) {
    width: 64%;
    padding: 10px 10px 6px;
    margin-bottom: 4px;
  }
}

.js-messages .panel:not(:first-child) {
    opacity: 0.6;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* Field disabled */
.form-control[type="text"]:disabled, textarea.form-control[disabled]  {
    background-color: #F8F8F8;
    border-color: #e0e0e0;
}



/* TRUNCATE HACK */

.form-group{
  .js-expand-button {
    display: none;
  }
}

.form-group--truncate-messages {
  .js-messages .panel {
    display: none;
  }
  .js-messages .panel:first-child {
    display: block;
  }

  .js-expand-button {
    display: inline-block;
  }
}

.form-group--rejected {
  border-left: 3px solid $nhs-red;
  padding-left: $baseline-grid-unit * 2;
}

.form-group--approved {
  border-left: 3px solid #3E9A57;
  padding-left: $baseline-grid-unit * 2;
}




.form-buttons {
  display: block;
  margin-bottom: $baseline-grid-unit * 2;
}




/* Panels */
.panel--red {
  background-color: #FFF5F5;
  border-color: $nhs-red;
}

.panel--red-border {
  border-color: $nhs-red;
}

.panel--green {
  background-color: #EDFFF2;
  border-color: $nhs-green;
}

.panel--green-border {
  border-color: $nhs-green;
}




/* Panel Hero */

.panel-hero {

  margin-bottom: 40px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e8f3f7+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e8f3f7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e8f3f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#e8f3f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8f3f7',GradientType=0 ); /* IE6-9 */

  @include media(tablet) {
    font-size: 19px;
  }
}

.panel-hero-inner {
  max-width: 960px;
  margin: 0px auto;

  @include media(desktop) {
    background-image: url("../images/panel-hero-bg.png");
    background-repeat: no-repeat;
    background-position: 92% 100%;
    background-size: 450px;
  }

  padding: $baseline-grid-unit * 6  $baseline-grid-unit * 2;
  @include media(tablet) {
    padding: $baseline-grid-unit * 6  $baseline-grid-unit * 4;
  }
}

.panel-hero__title {
  @extend .heading-large;
  margin-top: $baseline-grid-unit * 2;
  max-width: 500px;
}

.panel-hero__para {
  max-width: 500px;
}




/* Status */

.status {
  float: right;
  display: inline-block;
  background-color: #FFF;
  color: $nhs-grey1;
  padding: 3px 5px 3px;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 13px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  @include media(desktop) {
    margin: 2px 0 0 0;
    padding: 3px 5px 1px;
    font-size: 16px;
  }
}

.status--part-complete {
  background-color: #FF9300;
  color: #FFF;
}

.status--complete {
  background-color: #00823B;
  color: #FFF;
}

.status--with-vendor {
  background-color: #F1F2F4;
}


// status--completed
/* Tasklist */

.task-incomplete {
  position: relative;
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 12px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: #fff;
  background-color: #FFF;
  border: 1px solid #005da5;
  float: right;
  margin-right: 0;
  width: 111px;
  min-height: 22px;
  .task-incomplete__bar {
    background-color: #e8edee;
    min-height: 22px;
    border-right: 1px solid #c2d2d6;
  }
  .task-incomplete__text {
    text-align: center;
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    color: #005ea5;
  }
}


.panel--header {
  border: 10px solid $nhs-blue;

  @include media(tablet) {
    padding: $baseline-grid-unit * 4;
  }

  .panel--header__title {
    @extend .heading-medium;
    margin-top: 0;
  }

  .panel--header__side {
    float: right;
  }
}


/* Header for set2-details.html header */

.app-header {

  @include media(tablet) {
    position: relative;
  }

  .app-header__bg {
    width: 100%;
    @include media(mobile) {
      display: none;
    }
  }

  .app-header__icon {
    position: relative;
    img {
      max-width: 100px;
      border-radius: 25px;
    }
    @include media(tablet) {
      img {
        max-width: 125px;
      }
      position: absolute;
      bottom: -10px;
      left: $baseline-grid-unit * 3;
    }
    &:after {
      @include media(tablet) {
        content: "";
        position: absolute;
        bottom: -$baseline-grid-unit;
        left: $baseline-grid-unit * 3;
        right: $baseline-grid-unit * 3;
        border-radius: 10px;
        background-color: #000;
        height: 1px;
        filter: blur(4px);
      }
    }
  }
}


/* Pie chart */
.pie {
  max-width: 60px;
}

.timer {
  display: none;
}




/* Link to feedback form */

.feedback {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: $nhs-blue;
  padding: $baseline-grid-unit $baseline-grid-unit * 1.5;
  a {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
}
