

.swatch {
  width: 150px;
  float: left;
  border: 1px solid $grey-3;
  margin-right: $baseline-grid-unit;
  margin-bottom: $baseline-grid-unit;

  .swatch__colour {
    width: 100%;
    height: 100px;
  }

  .swatch__name {
    font-weight: 600;
    padding-top: 6px;
    text-align: center;
    font-size: 14px;
  }

  .swatch__ref {
    padding-bottom: 6px;
    text-align: center;
    font-size: 14px;
  }
}


/* TRUMP ALL */
.blue, a.blue:link {
  color: $nhs-blue!important;
}

.green, a.green:link {
  color: $nhs-green!important;
}

.lightgreen, a.lightgreen:link {
  color: $nhs-lightgreen!important;
}

.red, a.red:link, .error {
  color: $nhs-red!important;
}

.grey, a.grey:link {
  color: $nhs-grey1!important;
}

.black, a.black:link {
  color: $nhs-black!important;
}
