
/* Tabs */
.tabs-nav {
    padding: 0;
    margin-bottom: $baseline-grid-unit * 3;
    list-style: none;
    border-bottom: 1px solid $nhs-grey3;
    margin-bottom: $baseline-grid-unit * 2;

    .tabs-nav__item {

        display: inline-block;

        .tabs-link {
            display: block;
            padding: $baseline-grid-unit * 2;
            color: $nhs-blue;
            //@include core-font(14);
        }

        @include media(mobile) {
          width: 49%;
          text-align: center;
        }

    }

    .tabs-nav__item--active {
        background-color: #FFFFFF;
        position: relative;
        top: 1px;
        border: 1px solid $nhs-grey3;
        border-bottom: none;

        .tabs-link {
            text-decoration: none;
            color: $nhs-black;
            padding: $baseline-grid-unit * 2 $baseline-grid-unit * 3;
        }
    }
}
