
/*---Tree Nav--*/

.tree_wrap {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  background-image: -moz-linear-gradient(left, #ffffff 0%, #fcfcfc 100%);
  background-image: -webkit-linear-gradient(left, #ffffff 0%, #fcfcfc 100%);
  background-image: linear-gradient(to right, #ffffff 0%, #fcfcfc 100%);
  border-right: 1px solid #d8d8d8; }


  .tree_nav {
    height: inherit;
  }

  .tree_nav ul {
    list-style: none;
  }

  .tree_nav ul ul {
    font-size: 16px;
  }

  .tree_nav li {
    margin: 10px 0;
  }

  .tree_nav ul li ul li {
    list-style: disc;
    margin-left: 17px;
  }

  .tree_nav ul li.parent {
    list-style: none;
    margin-left: 0;
    font-weight: 500;
  }

  .tree_nav a {
    color: #444444;
  }

  .tree_nav .parent .expand {
    background: url("../images/tree_arrows.svg") no-repeat;
    background-position: bottom;
    display: block;
    width: 10px;
    height: 11px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    margin: 8px 5px 0 0;
  }

  .tree_nav .parent .open {
    background-position: top;
  }

  .tree_nav .current_page_ancestor a.expand {
    background-position: top;
  }

  .tree_nav ul li ul {
    margin-left: 15px;
    display: none;
    font-weight: 300;
  }

  .tree_nav li.current_page_ancestor ul {
    display: block;
  }
