
.sticky {
  @include media(desktop) {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }
  &.sticky--top {
      top: 0;
  }
}

.sticky-mobile {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    &.sticky-mobile--top {
        top: 0;
    }
}



.cl {
  @include clearfix;
}

.markdown {

  font-size: 16px;

  strong, h1, h2, h3, h4 {
    font-weight: 600;
  }

  ul {
    list-style: disc;
    margin: $baseline-grid-unit * 2;
  }

  ol {
    list-style: decimal;
    margin: $baseline-grid-unit * 2;
  }

  table td {
    font-size: 16px;
  }

}

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none;
}

.mobile-hide {
  @include media(mobile) {
    display: none;
  }
}

.tablet-hide {
  @include media(tablet) {
    display: none;
  }
}

.flush {
  margin: 0;
}

.no-scroll {
  overflow-y: hidden;
}
