<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Review / Apps / Question States NEW</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">
    <script id="__bs_script__">
    //<![CDATA[
      document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
    //]]>
    </script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_review" id="proposition-name">Apps Assessment</a>
              <strong class="phase-tag" style="position:relative; left:4px; top:-2px;">REVIEWER</strong>
              <ul id="proposition-links">
                <li><a href="/apps_review/apps.html" class="active">Apps</a></li>
                <li><a href="/apps_review/profile.html">Profile</a></li>
                <li><a href="/apps_review/logout.html">Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>

    <main id="content" role="main">

      <div class="breadcrumbs">
        <ol>
          <li><a href="/apps_review/apps.html">Apps</a></li>
          <li><a href="/apps_review/apps-details.html">Pinpoint Tech</a></li>
          <li aria-current="page">Questions</li>
        </ol>
      </div>

      <h1 class="heading-large"> Digital Tool Information</h1>



      <!-- ############################################################################################################## -->
      <!-- Question START -->
      <!-- ############################################################################################################## -->

      <form action="#">

        <div class="form-group" id="viewb01">
          <label class="form-label" for="b01"><span class="heading-medium">B.0.1 What is the name of the Digital Service?</span></label>
          <!-- <p>Note: This isn't a standard GDS pattern</p> -->

          <input class="form-control" id="b01" type="text" name="b01" value="MyApp" disabled>
          <fieldset class="inline" style="margin-top:12px;">

            <!-- Buttons -->
            <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
              <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup" value="1" id="b01a" />
              <label for="b01a">Approve</label>
              <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup" value="2" id="b01b" />
              <label for="b01b">Reject</label>
              <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup" value="3" id="b01c" />
              <label for="b01c">Information request</label>
            </div>

            <!-- Rejected -->
            <div class="js-rejected" style="display: none">
              <p class="form-note">David Sayce <span class="red">rejected</span> this question &nbsp; <a href="#" class="js-link-change">Change</a></p>
            </div>

            <!-- Reject input -->
            <div class="js-rejected-input panel" style="display: none">
              <label class="form-label" for="value-1-4-1">Reason for rejection <span class="red">*</span></label>
              <textarea class="form-control form-control-1-4-1" name="textarea" id="textarea" rows="5"></textarea>
            </div>

            <!-- Approved -->
            <div class="js-approved" style="display: none">
              <p class="form-note">David Sayce <span class="green">approved</span> this question &nbsp; <a href="#" class="js-link-change">Change</a></p>
            </div>

            <!-- Approved input -->
            <div class="js-approved-input panel" style="display: none">
              <label class="form-label" for="value-1-4-1">Optional recommendations</label>
              <textarea class="form-control form-control-1-4-1" name="textarea" id="textarea" rows="5"></textarea>
            </div>

            <!-- Document request input -->
            <div class="js-doc-request-input panel" style="display: none">
              <label class="form-label" for="value-1-4-1">Extra information required <span class="red">*</span></label>
              <textarea class="form-control form-control-1-4-1" name="textarea" id="textarea" rows="5"></textarea>
            </div>

            <!-- Document requested -->
            <div class="js-doc-request panel font-xsmall" style="display: none">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et ante imperdiet, cursus felis sit amet, faucibus leo. Suspendisse facilisis luctus ante, sed pulvinar urna aliquam et. </p>
              <p>2 hours ago <a href="#">David Sayce</a></p>
            </div>

            <!-- Messages -->
            <div class="js-messages"></div>

            <!-- Reveal all messages -->
            <div class="js-expand-button button button--light-grey button--small">Reveal all (<span>1</span>)</div>


          </fieldset>


        </div>
      </form>

      <hr>

      <input type="submit" value="Save" class="button button--blue button--large js-page-submit">


      <br><br><br><br><br><br>
      <h3>Fake action from the assessment side</h3>
      <ul>
        <li>
          <a href="#" class="js-assessment-change-answer">User changes answer</a>
        </li>
      </ul>


    </main>



    <footer class="group js-footer" id="footer" role="contentinfo">
      <p style="text-align: center; color: #adb1b5; padding-top: 20px;">Footer</p>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Pie charts -->
    <link href="https://rawgit.com/pguso/jquery-plugin-circliful/1.0.2/css/jquery.circliful.css" media="screen" rel="stylesheet" />
    <script src="https://rawgit.com/pguso/jquery-plugin-circliful/1.0.2/js/jquery.circliful.js"></script>


    <!-- Accrodion -->
    <script>
      $( ".subsection__header" ).click(function() {
        $( this ).next().toggleClass( "js-hidden" );
        $( this ).parent().toggleClass( "subsection--is-open" );
      });
    </script>




    <script>

      $( document ).ready(function() { // 6,32 5,38 2,34

        // ######################################
        // Show the correct extra questions:
        // ######################################

        $('.v2-radio-buttons-wrapper input:radio').change(

          function(){

              localReject = $(this).parent().siblings('.js-rejected-input');
              localApproved = $(this).parent().siblings('.js-approved-input');
              localRequestDoc = $(this).parent().siblings('.js-doc-request-input');


              if ($(this).is(':checked') && $(this).val() == '1') {
                  // alert("approve");

                  $(localReject).hide();
                  $(localApproved).show();
                  $(localRequestDoc).hide();

              } else if ($(this).is(':checked') && $(this).val() == '2') {
                  // alert("reject");

                  $(localReject).show();
                  $(localApproved).hide();
                  $(localRequestDoc).hide();

              } else if ($(this).is(':checked') && $(this).val() == '3') {
                  // alert("request");

                  $(localReject).hide();
                  $(localApproved).hide();
                  $(localRequestDoc).show();

              }
          });

          // ######################################
          // On page submit
          // ######################################

          // Fake the corect states for demoing page

          // radioButtonGroup
          // radioButtonGroupb02
          // radioButtonGroupb03
          // radioButtonGroupb04
          // radioButtonGroupb05

          // form-group > form-group--approved | form-group--rejected


          approvedHtml = "<div class='panel font-xsmall'><p><span class='green'>Approved</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>2 hours ago - <a href='#'>David Sayce</a></p></div>";
          rejectedHtml = "<div class='panel font-xsmall'><p><span class='red'>Rejected</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>2 hours ago - <a href='#'>David Sayce</a></p></div>";
          requestedHtml = "<div class='panel font-xsmall'><p><span class=''>Requested documents</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>2 hours ago - <a href='#'>David Sayce</a> - <a href='#' class='js-fake-reply'>Fake a reply</a></p></div>";
          fakeReplyHtml = "<div class='panel font-xsmall' style='margin-top: 12px'><p><a href='#'>FILENAME</a> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>2 hours ago - <a href='#'>Fred Smith</a></p></div>";



          $( ".js-page-submit" ).click(function() {

            $( "html" ).scrollTop( 0 );

            $("#viewb01 .js-radio-buttons").hide();
            $("#viewb01 .js-approved-input").hide();
            $("#viewb01 .js-rejected-input").hide();
            $("#viewb01 .js-doc-request-input").hide();


            if ($('input[name=radioButtonGroup]:checked').val() == "1") {
              // console.log ("1");

              $("#viewb01 .js-approved").show();
              $("#viewb01 .js-rejected").hide();

              $("#viewb01").addClass("form-group--approved");
              $("#viewb01 .js-messages").prepend( approvedHtml );

            } else if ($('input[name=radioButtonGroup]:checked').val() == "2") {

              $("#viewb01 .js-approved").hide();
              $("#viewb01 .js-rejected").show();

              $("#viewb01").addClass("form-group--rejected");
              $("#viewb01 .js-messages").prepend( rejectedHtml );

            } else if ($('input[name=radioButtonGroup]:checked').val() == "3") {

              $("#viewb01 .js-radio-buttons").show();
              $("#viewb01 .js-messages").prepend( requestedHtml );

              addClickFake();

            } else {

              $("#viewb01 .js-radio-buttons").show();

            }


            // Truncate Messages
            // form-group--truncate-messages
            messageCount = $("#viewb01 .js-messages").children().length;
            if (messageCount > 1) {

              $("#viewb01").addClass("form-group--truncate-messages");
              $(".js-expand-button span").html(messageCount - 1);


            }
            // $("#viewb01 .js-messages").children().length



          });




          $( ".js-link-change" ).click(function() {

            //alert($(this).parent().parent().parent().html());
            $(this).parent().parent().parent().find(".js-approved").hide();
            $(this).parent().parent().parent().find(".js-rejected").hide();
            $(this).parent().parent().parent().find(".js-rejected-input").hide();
            $(this).parent().parent().parent().find(".js-radio-buttons").show();


            $(this).parent().parent().parent().parent().removeClass("form-group--approved");
            $(this).parent().parent().parent().parent().removeClass("form-group--rejected");

            $('#viewb01 input[name=radioButtonGroup]:checked').removeAttr('checked');

          });

          function addClickFake() {
            $( ".js-fake-reply" ).click(function() {
              //alert("dd");
              //$(this).hide();

              $(this).after(fakeReplyHtml);
            });
          }


          // Assessment side
          userChangedAnswerHtml = "<div class='panel font-xsmall'><p><span class=''>Answer change</span> - Was 'MyApp' is now 'MyAppNew' <br>2 hours ago - <a href='#'>David Sayce</a></p></div>";

          $( ".js-assessment-change-answer" ).click(function() {
            $("#b01").val("MyAppNew");
            $("#viewb01 .js-messages").prepend( userChangedAnswerHtml );
          });


          // Expand button to show all truncated Messages
          $( ".js-expand-button" ).click(function() {
            $("#viewb01").removeClass( "form-group--truncate-messages" );
          });


      });
    </script>





</body>
</html>
