<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <title>NHS Apps Review / Apps / Question States NEW</title>

  <!--[if gt IE 8]><!-->
  <link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" />
  <!--<![endif]-->
  <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
  <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
  <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
  <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

  <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
  <!--[if gte IE 9]><!-->
  <link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" />
  <!--<![endif]-->
  <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

  <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

  <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
  <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

  <meta name="theme-color" content="#0b0c0c" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!-->
  <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <!--<![endif]-->


</head>

<body class="">
  <script id="__bs_script__">
    //<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
    //]]>
  </script>

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>



  <div id="skiplink-container">
    <div>
      <a href="#content" class="skiplink">Skip to main content</a>
    </div>
  </div>

  <div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
  </div>


  <header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
      <div class="header-global">
        <div class="header-logo">
          <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
        </div>
      </div>

      <div class="header-proposition">
        <div class="content">
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <nav id="proposition-menu">
            <a href="/apps_review" id="proposition-name">Apps Assessment</a>
            <strong class="phase-tag" style="position:relative; left:4px; top:-2px;">REVIEWER</strong>
            <ul id="proposition-links">
              <li><a href="/apps_review/apps.html" class="active">Apps</a></li>
              <li><a href="/apps_review/profile.html">Profile</a></li>
              <li><a href="/apps_review/logout.html">Logout</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </header>

  <div id="global-header-bar"></div>



  <form action="#">
    <main id="content" role="main">

      <div class="breadcrumbs">
        <li><a href="/">Apps</a></li>
        <li aria-current="page"> Mediman</li>
      </div>

      <h1 class="heading-large">Submit Your Application</h1>

      <!-- Default -->
      <div class="callout callout--info">
        <h2 class="callout__title">Invite user to the DAQ</h2>
        <p class="callout__para">Email: davesayce@googlemail.com</p>
        <p style="padding-top: 20px;">
          <a href="apps-details-submit-your-app-sent.html" class="button button--blue">Invite user to the DAQs</a>
        </p>
      </div>

      <hr>

      <!-- Invite sent -->
      <div class="callout callout--muted">
        <h2 class="callout__title">&#x2714; Invite sent</h2>
        <table>
          <tr>
            <td style="width: 130px;">Email:</td>
            <td>davesayce@googlemail.com</td>
          </tr>
          <tr>
            <td>Date sent:</td>
            <td>29/12/2017 13:09:06</td>
          </tr>
        </table>

        <p style="padding-top: 20px;">
          <input type="submit" value="Invite again" class="button button--blue js-page-submit">
        </p>
      </div>

      <hr>

      <!-- Invite sent -->
      <div class="callout callout--warning">
        <p class="callout__para">Invite to the DAQ cannot be sent as no email address has been supplied</p>
      </div>



      <script src="/js/pages/review.js"></script>

    </main>

  </form>

  <div id="global-app-error" class="app-error hidden"></div>

  <script src="/javascripts/govuk-template.js?0.22.3"></script>

  <!-- Javascript -->
  <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
  <script src="/javascripts/jquery-1.11.3.js"></script>
  <script src="/javascripts/govuk/details.polyfill.js"></script>
  <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
  <script src="/javascripts/govuk/show-hide-content.js"></script>
  <script src="/javascripts/application.js"></script>


  <!-- GOV.UK Prototype kit v6.3.0 -->
  <script>
    if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');
  </script>

</body>
</html>
