<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Review / Apps / Question States NEW</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">
    <script id="__bs_script__">
    //<![CDATA[
      document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
    //]]>
    </script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_review" id="proposition-name">Apps Assessment</a>
              <strong class="phase-tag" style="position:relative; left:4px; top:-2px;">REVIEWER</strong>
              <ul id="proposition-links">
                <li><a href="/apps_review/apps.html" class="active">Apps</a></li>
                <li><a href="/apps_review/profile.html">Profile</a></li>
                <li><a href="/apps_review/logout.html">Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>



    <form action="#">
      <main id="content" role="main">

        <div class="breadcrumbs">
          <ol>
            <li><a href="/apps_review/apps.html">Apps</a></li>
            <li><a href="/apps_review/apps-details-tasklist.html">Pinpoint Tech</a></li>
            <li aria-current="page">7. Usability &amp; Accessibility</li>
          </ol>
        </div>

        <h1 class="heading-large">Usability &amp; Accessibility</h1>


              <div class="form-group">
                <h3 class="heading-medium">B.6.1 - ISO 9241-210 lays out 6 key principles of User centred design (UCD). Has the development followed a user centred design process that conforms to this standard?</h3>
                <div class="multiple-choice">
                  <input id="radio-1" type="radio" name="radio-group1" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2" type="radio" name="radio-group1" value="iOS Download" disabled="disabled">
                  <label for="radio-2">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1a" value="1" id="1aa" />
                    <label for="1aa">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1a" value="2" id="1ab" />
                    <label for="1ab">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1a" value="3" id="1ac" />
                    <label for="1ac">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.2 - Did the user centred design (UCD) process follow a set of well defined planned phases - for example discovery, alpha, beta, go live?</h3>
                <div class="multiple-choice">
                  <input id="radio-1b" type="radio" name="radio-group1b" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1b">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2b" type="radio" name="radio-group1b" value="iOS Download" disabled="disabled">
                  <label for="radio-2b">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1b" value="1" id="1ba" />
                    <label for="1ba">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1b" value="2" id="1bb" />
                    <label for="1bb">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1b" value="3" id="1bc" />
                    <label for="1bc">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.3 - Was a clear user demographic defined at the outset of app development?</h3>
                <div class="multiple-choice">
                  <input id="radio-1c" type="radio" name="radio-group1c" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1c">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2c" type="radio" name="radio-group1c" value="iOS Download" disabled="disabled">
                  <label for="radio-2c">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1c" value="1" id="1ca" />
                    <label for="1ca">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1c" value="2" id="1cb" />
                    <label for="1cb">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1c" value="3" id="1cc" />
                    <label for="1cc">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.4 - Was a representative/suitable sample of this user demographic engaged with throughout the user centred design process?</h3>
                <div class="multiple-choice">
                  <input id="radio-1d" type="radio" name="radio-group1d" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1d">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2d" type="radio" name="radio-group1d" value="iOS Download" disabled="disabled">
                  <label for="radio-2d">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1d" value="1" id="1da" />
                    <label for="1da">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1d" value="2" id="1db" />
                    <label for="1db">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1d" value="3" id="1dc" />
                    <label for="1dc">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.5 - Were used needs captured/confirmed through the engagement of users?</h3>
                <div class="multiple-choice">
                  <input id="radio-1e" type="radio" name="radio-group1e" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1e">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2e" type="radio" name="radio-group1e" value="iOS Download" disabled="disabled">
                  <label for="radio-2e">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1e" value="1" id="1ea" />
                    <label for="1ea">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1e" value="2" id="1eb" />
                    <label for="1eb">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1e" value="3" id="1ec" />
                    <label for="1ec">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.6 - Were the used needs recorded in a clear technology neutral format for example in user stories?</h3>
                <div class="multiple-choice">
                  <input id="radio-1f" type="radio" name="radio-group1f" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1f">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2f" type="radio" name="radio-group1f" value="iOS Download" disabled="disabled">
                  <label for="radio-2f">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1f" value="1" id="1fa" />
                    <label for="1fa">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1f" value="2" id="1fb" />
                    <label for="1fb">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1f" value="3" id="1fc" />
                    <label for="1fc">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.7 - For each of the user needs were clear user acceptance criteria defined?</h3>
                <div class="multiple-choice">
                  <input id="radio-1g" type="radio" name="radio-group1g" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1g">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2g" type="radio" name="radio-group1g" value="iOS Download" disabled="disabled">
                  <label for="radio-2g">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1g" value="1" id="1ga" />
                    <label for="1ga">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1g" value="2" id="1gb" />
                    <label for="1gb">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1g" value="3" id="1gc" />
                    <label for="1gc">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.8 - Were the user needs and user stories the basis upon which the apps were developed?</h3>
                <div class="multiple-choice">
                  <input id="radio-1h" type="radio" name="radio-group1h" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1h">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2h" type="radio" name="radio-group1h" value="iOS Download" disabled="disabled">
                  <label for="radio-2h">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1h" value="1" id="1ha" />
                    <label for="1ha">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1h" value="2" id="1hb" />
                    <label for="1hb">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1h" value="3" id="1hc" />
                    <label for="1hc">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.9 - Were early versions of the app evaluated with a sample of the user demographic?</h3>
                <div class="multiple-choice">
                  <input id="radio-1i" type="radio" name="radio-group1i" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1i">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2i" type="radio" name="radio-group1i" value="iOS Download" disabled="disabled">
                  <label for="radio-2i">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1i" value="1" id="1ia" />
                    <label for="1ia">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1i" value="2" id="1ib" />
                    <label for="1ib">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1i" value="3" id="1ic" />
                    <label for="1ic">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.10 - Were early versions of the app evaluated more than once with a sample of the user demographic?</h3>
                <div class="multiple-choice">
                  <input id="radio-1j" type="radio" name="radio-group1j" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1j">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2j" type="radio" name="radio-group1j" value="iOS Download" disabled="disabled">
                  <label for="radio-2j">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1j" value="1" id="1ja" />
                    <label for="1ja">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1j" value="2" id="1jb" />
                    <label for="1jb">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1j" value="3" id="1jc" />
                    <label for="1jc">Information request</label>
                  </div>
                </fieldset>
              </div>

              <hr>

              <div class="form-group">
                <h3 class="heading-medium">B.6.11 - Before release was the app evaluated with a representative sample of the user demographic?</h3>
                <div class="multiple-choice">
                  <input id="radio-1k" type="radio" name="radio-group1k" value="Web Browser" checked="" disabled="disabled">
                  <label for="radio-1k">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-2k" type="radio" name="radio-group1k" value="iOS Download" disabled="disabled">
                  <label for="radio-2k">No</label>
                </div>
                <fieldset class="inline" style="padding-top:20px;">
                  <div class="js-radio-buttons v2-radio-buttons-wrapper v2-radio-buttons-wrapper--small">
                    <input type="radio" class="v2-radio-button radio-button--approve" name="radioButtonGroup1k" value="1" id="1ka" />
                    <label for="1ka">Approve</label>
                    <input type="radio" class="v2-radio-button radio-button--reject js-btn-reject" name="radioButtonGroup1k" value="2" id="1kb" />
                    <label for="1kb">Reject</label>
                    <input type="radio" class="v2-radio-button radio-button--request js-btn-request" name="radioButtonGroup1k" value="3" id="1kc" />
                    <label for="1kc">Information request</label>
                  </div>
                </fieldset>
              </div>



          <input type="submit" value="Save" class="button  button--large button--blue js-page-submit">


          <p>&nbsp;</p>
          <div class="callout callout--muted">
            <h2 class="callout__title">Status: Unapproved</h2>
            <p class="callout__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu metus, dictum nec tincidunt ut,
               egestas vitae ipsum. Etiam interdum massa non tellus pellentesque semper vel sed magna. Nunc at ligula
               in lectus efficitur gravida quis eu erat. Nullam ac dui euismod sapien porta vestibulum.
            </p>
            <p style="padding-top: 20px;">
              <input type="submit" value="Approve Section" class="button button--blue js-page-submit">
            </p>
          </div>






      </main>
    </form>







    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>












</body>
</html>
