<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Assessment / Apps / Details</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="apps-details-daqs-questions-general.html">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_review" id="proposition-name">Apps Assessment</a>
              <strong class="phase-tag" style="position:relative; left:4px; top:-2px;">REVIEWER</strong>

              <ul id="proposition-links">
                <li><a href="/apps_review/apps.html" class="active">Apps</a></li>
                <li><a href="/apps_review/profile.html">Profile</a></li>
                <li><a href="/apps_review/logout.html">Logout</a></li>
              </ul>

            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>

    <main id="content" role="main">

      <div class="breadcrumbs">
        <ol>
          <li><a href="apps.html">Apps</a></li>
          <li aria-current="page">Pinpoint Tech</li>
        </ol>
      </div>


      <h1 class="heading-large">Pinpoint Tech</h1>


      <!--
      <div class="callout callout--attention">
        <div class="grid-row">
          <div class="column-two-thirds">
            Status:
            <h3 class="heading-medium" style="margin:0">Under assessment</h3>
          </div>
          <div class="column-one-third">
            <div style="margin-top: 12px;">
              <select class="form-control" id="select-box" name="select-box" style="width: 100%">
                <option value="simple">Simple view</option>
                <option value="my-todo">Requiring review</option>
                <option value="all-questions">All questions</option>

                <option value="satisfactory">Satisfactory</option>
                <option value="satisfactory">Satisfactory with improvements</option>
                <option value="not-satisfactory">Not Satisfactory</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      -->


      <ol class="task-list">
        <li id="section1">
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> General
          </h2>

          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="eligibility-completed">
                 Digital Tool Information
              </a>
              <div class="status status--in-progress">In Progress</div>

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--grey"><a href="#" class="list-link">B.0.1 What is the name of the Digital Service?</a></li>
                <li class="lists__item lists__item--red"><a href="#" class="list-link">B.0.2 What are the components of the Digital Service?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.0.3 Please select the platforms that are available to users of your digital service:</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.0.3.2 For each platform provide the current version number</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="read-declaration-completed">
                Company Registration
              </a>
              <div class="status status--reject">Rejected</div>

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--grey"><a href="#" class="list-link">B.0.4 What type of organisation has developed the digital service?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="read-declaration-completed">
                Key Personnel
              </a>
              <div class="status status--approved">Approved</div>

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--grey"><a href="#" class="list-link">B.0.5.1 Senior Executive / Manager / Sponsor</a></li>
                <li class="lists__item lists__item--red"><a href="#" class="list-link">B.0.5.2 Clinical Safety Officer</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.0.5.3 Information Governance</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.0.5.4 Cyber Security</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.0.5.5 User Research / UX</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.0.5.6 UI / Development</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.0.5.7 Technical Architecture</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.0.5.8 Service / Operational Management</a></li>
              </ul>

            </li>
          </ul>
        </li>

        <li id="section2">
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Clinical Effectiveness
          </h2>

          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="eligibility-completed">
                 Clarity of Purpose &amp; Intended Use
              </a>
              <div class="status status--with-vendor">With Vendor</div>

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.1 Is the health and/or wellbeing purpose clearly defined within the digital service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.1.2 (if Yes) Please provide the wording used in the service</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.1.3 Is it clearly stated within the service who it is suitable for and, if relevant, who it is not suitable for?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.1.4 (if Yes) Please provide the wording used in the service</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.1.5 Is it clearly stated in the service when and how the digital service should be used in order to gain the health and care benefits claimed?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.1.6 Please provide the wording used in the service</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="read-declaration-completed">
                Evidence Basis of Digital Service
              </a>
              <div class="status status--info-request">Information Requested</div>

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.2.1 What type of evidence informed the design and development of the service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.2.2 Please provide links to the evidence and describe how you identified it and how it was used.</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.2.3 Are behaviour change components that are appropriate for the targeted behaviour incorporated within the service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.2.5 Is there a documented process to ensure the service is revised in line with any relevant updates to the evidence basis?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.2.6 (if Yes) Please describe the review and update process.</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="read-declaration-completed">
                Data and Evidence Related to the Specific Digital Service
              </a>
              <div class="status status--awaiting">Awaiting</div>

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.3.1 How often should users use the digital health service to realise its benefits?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.2 Is there data available demonstrating actual usage of the digital service in line with expected usage patterns?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.3 Describe the data which demonstrates usage of the digital service in line with the expected pattern and explain how it was obtained.</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.4 Are you claiming that there are clinical or behavioural benefits from using the digital service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.5 (if Yes) What are the claimed clinical or behavioural benefits of the digital service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.5.1 (if Other) Please describe</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.6 Is there evidence available to demonstrate the claimed clinical or behavioural effectiveness of the digital service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.8 How long will it take for the claimed clinical or behavioural benefits of the digital service to occur?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.9 Are you claiming that there are economic benefits from using the digital service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.10 Is use of the digital service in a UK health or social care setting likely to be cost saving, cost neutral or cost incurring overall in comparison to standard care?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.11 If the digital service is likely to be cost saving, please describe where the savings are likely to occur.</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.12 What are the costs expected to be per user assuming that the digital service will be purchased by the health and care system?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.13 Is there cost and resource impact data available to demonstrate the claimed economic benefits of the digital service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.15 How long will it take for the claimed economic benefits of the digital service to occur?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.16 Are you claiming that there are user or societal benefits from using the digital service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.17 What are the claimed user or societal benefits of the digital service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.18 (if Other) Please describe</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.19 Is there evidence available to demonstrate the claimed user benefits of the digital service?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.1.3.21 How long will it take for the claimed user or societal benefits of the digital service to occur?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="read-declaration-completed">
                Ongoing Studies
              </a>
              <!--<div class="status status--complete">Review Complete</div>-->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.4.1 Please list any ongoing studies that have not been previously disclosed as part of the app assessment process and which are designed to assess the benefit(s) of the digital service.</a></li>
              </ul>

            </li>
          </ul>
        </li>

        <li id="section3">
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Regulatory Approval
          </h2>

          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="eligibility-completed">
                 Care Quality Commission (CQC)
              </a>
              <!-- <div class="status">Awaiting Review</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.2.1 Does the digital service fall under the definition of a service that requires registration with the Care Quality Commission (CQC) in England?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.2.1.2 (if No) Have you read the scope of the 14 regulated activities of the CQC AND determined your digital service does not require to be registered as a regulated service with the CQC?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="read-declaration-completed">
                Health &amp; Social Care Network (HSCN)
              </a>
              <!--<div class="status status--part-complete">Review in Progress</div>-->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.2.2 Does your digital service access the Health & Social Care Network, utilise or access data held in a nationally provided service or read or write to an external clinical service or patient record?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.2.2.1 (if Yes) Have you consulted NHS Digital and obtained the correct assurance for this?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html" aria-describedby="read-declaration-completed">
                Medicines and Health products Regulatory Agency (MHRA)
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.2.3 Is the digital service 'CE' marked to show the manufacturer's declaration that the application complies with the EU Medical device directive, and if so can you evidence this?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.2.4 The digital service is eligible to be classified as a Medical Device?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.2.5 The digital service has a degree of direct control or monitoring of any equipment (medical device)?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.2.6 Does the digital service provide decision support or decision making software?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.2.7 Does the digital service indicate a treatment or diagnosis?</a></li>
                <li class="lists__item lists__item--orange"><a href="#" class="list-link">B.2.8 Does the digital service apply some form of automated reasoning, such as a simple calculation, a decision support algorithm or a more complex series of calculations, e.g. dose calculations, risk assessment, symptom tracking, and clinicians’ guides?</a></li>
              </ul>

            </li>
          </ul>
        </li>

        <li id="section4">
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> Clinical Effectiveness
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Clarity of Purpose &amp; Intended Use
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.1 Is the health and/or wellbeing purpose clearly defined within the digital service?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.2 (if Yes) Please provide the wording used in the service</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.3 Is it clearly stated within the service who it is suitable for and, if relevant, who it is not suitable for?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.4 (if Yes) Please provide the wording used in the service</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.5 Is it clearly stated in the service when and how the digital service should be used in order to gain the health and care benefits claimed?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.6 Please provide the wording used in the service</a></li>
              </ul>

            </li>
          </ul>
        </li>

        <li id="section5">
          <h2 class="task-list-section">
            <span class="task-list-section-number">5. </span> Privacy &amp; Confidentiality
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Privacy &amp; Consent
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.1 Is the health and/or wellbeing purpose clearly defined within the digital service?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.3 Is it clearly stated within the service who it is suitable for and, if relevant, who it is not suitable for?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.3 Does your digital service make anonymous data available to other systems?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.4 Does your digital service make pseudonymised data available to other systems?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.5 If the digital service collects or processes personal data (e.g. user's name and address; personal email address) does this also include sensitive data</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.3.6 Were the NHS England mandated Safety Standards (SCCI0129) considered during the development of your digital service, and have you conducted a formal Risk Assessment and identified Clinical Safety Hazards in accordance with SCCI0129? http://content.digital.nhs.uk/isce/publication/scci0129</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.7 Is the Data Controller, or its nominated representative, registered (notified) with an EEA Data Protection Act Register?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.8 What is the legal basis for the processing of Personal data which is described, e.g. in a privacy notice, to the user?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.8.1 If consent is the legal basis, please explain:</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.9 What is the legal basis for your processing of SENSITIVE Personal data which is described?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.10 For ***SENSITIVE*** personal data:</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.11 Is the collection and use of personal data and sensitive personal data made fair and transparent to the user?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.12 Are you able to respond to the users' legal rights to access their personal information i.e. a written request (from the user or a third party entitled to act on behalf of the individual) e.g. provide the users with copies of their personal data you hold on them when requested?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.13 Is the personal data and/or sensitive personal data collected the minimum required for the purposes described to the user?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.14 When the privacy policy is changed, are the changes brought to the attention of the user?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.15 Does your service enable the user to delete, or request that you delete, all their personal data on request, irrespective of where the data is held?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.16 Do you have a data retention policy? Does this policy set out retention periods that ensure personal data processed for the purpose(s) described to the user, is not be kept for longer than is necessary for that purpose(s)?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.17 Are encrypted connections used for transmission of personal data?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.17.1 (if Yes) What encryption standards do you use?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.18 Do you use encryption to store personally identifiable data?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.18.1 (if Yes) What encryption standards do you use?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.19 Is any PERSONAL OR SENSITIVE PERSONAL data transferred / stored (this includes cloud storage) solely within the European Economic Area or within a country which appears on the EU Commission’s list of countries or territories providing adequate protection?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.19.1 (if not "No") Please detail where the data is sent and for what purposes</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.20 Does your digital service interoperate with (i.e. read or write data to) an external electronic health record service or similar organisational record system?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.20.1 Please describe</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.21 Is sent data appropriately safeguarded?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.4.21.1 (if Yes) Please state what the safeguards are</a></li>
              </ul>

            </li>
          </ul>
        </li>

        <li id="section6">
          <h2 class="task-list-section">
            <span class="task-list-section-number">6. </span> Security
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Mobile Standards
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.0 Given the verification standard linked above select the level appropriate to your app/web service:</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Architecture, Design and Threat Modelling
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.1.1 Is the health and/or wellbeing purpose clearly defined within the digital service?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.2 Are any and all third party components used such as libraries and frameworks identified and checked for known vulnerabilities?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.3 Are security controls are enforced only on the client side or are they also enforced on the respective remote endpoints as well?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.4 Is there a high-level architecture for the mobile app/web service?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.5 Define all connected remote services</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.6 What security concerns have been addressed in the architecture design?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.7 Identify all data considered sensitive in the context of the mobile app/web service</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.35 Define all app/web service components and list what business function and/or security functions they provide</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.36 Has a threat model for the app/web service and the associated remote services been produced that identifies potential threats and countermeasures.</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.37 Have all third party components have been assessed (associated risks) before being used or implemented?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.38 Outline what process is in place to ensure that each time a security update for a third party component is published, the change is inspected and the risk evaluated?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.39 Do all security controls have a centralized implementation?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.40 Are there any components that are not part of the app/web service but that the app/web service relies on to operate?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.41 Is there an explicit policy for how cryptographic keys (if any) are managed?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.41.1 Is the lifecycle of cryptographic keys enforced?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.41.2 Do you follow a key management standard such as NIST SP 800-57?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.42 Do remote endpoints verify that connecting clients use an up-to-date version of the mobile app?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.43 Is security addressed within all parts of the software development lifecycle?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Data Storage and Privacy
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.8 What system credential storage facilities are used to store sensitive data, such as user credentials or cryptographic keys?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.2.2.1 (if Yes) Have you consulted NHS Digital and obtained the correct assurance for this?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.10 Is the keyboard cache disabled on text inputs that process sensitive data?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.1.2.5 Is there a documented process to ensure the service is revised in line with any relevant updates to the evidence basis?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.12 Could sensitive data be exposed via any interprocess communication mechanisms?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.13 Could sensitive data, such as passwords and credit card numbers, be exposed through the user interface or leaked to screenshots?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.44 Is sensitive data included in backups generated by the operating system?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.45 When backgrounded, does the app remove sensitive data from views?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.46 Is sensitive data held in memory for only as long as is necessary?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.47 Is memory explicitly cleared after use?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.48 What is the minimum device-access-security policy (e.g. requiring the user to set a device passcode) enforced by the app?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.49 Does the app/web service indicate to the user the security best practices the user should follow when using the app/web service?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Cryptography
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.14 What methods of encryption are used within the app/web service?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.15 What cryptographic protocols or algorithms does the app/web service use?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.2.5 The digital service has a degree of direct control or monitoring of any equipment (medical device)?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.17 Where random values are generated what secure random number generator is used?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Authentication and Session Management
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.18 If the app provides users with access to a remote service, what form of authentication (e.g. username/password) is performed at the remote endpoint?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.19 How does the remote endpoint authenticate client requests?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.20 What happens to existing sessions when the user logs out?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.21 Does a password policy for the app/web service exist?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.21.1 (if Yes) Is the password policy enforced at the remote endpoint?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.22 How does the app manage incorrect authentication credentials been submitted an excessive number of times?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.50 What happens to sessions after a period of inactivity?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.51 Do you enforce a second factor of authentication at the remote endpoint?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.52 Does the app/web service inform the user of all login activities with his or her account?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.53 Does the app/web service allow users to manage the list of devices used to access their account?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.54 Does the app use its own certificate store?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.55 What communication channels (email or SMS) are used for critical operations, such as enrolments and account recovery?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Network Communication
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.23 Is data encrypted on the network using TLS?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.23.1 (if Yes) Is the secure channel is used consistently throughout the app/web service?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.23.2 (if Yes) Are the TLS settings are in line with current best practices, or as close as possible if the operating system does not support the recommended standards?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.24 Does the app/web service verify the X.509 certificate of the remote endpoint when the secure channel is established?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.24.1 (if Yes) Are only certificates signed by a valid CA accepted?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Environment Interaction
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.25 What validation is carried out on any input into the app/web service?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.26 Does the app/web service export sensitive functionality via custom URL schemes?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.27 Does the app/web service export sensitive functionality via IPC facilities?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.28 Does the app/web service explicitly require the use of JavaScript in WebViews?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.29 Are potentially dangerous handlers, such as file, tel and app-id disabled?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.30 Does the app/web service load user-supplied local resources into WebViews?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.31 Are Java objects exposed in a WebView?/a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.31.1 (if Yes) Does the WebView only render JavaScript contained within the app/web service package?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.32 Is object serialization, if any, implemented using safe serialization APIs?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.56 Are WebViews configured to allow only the minimum set of protocol handlers required?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.57 Does the app detect whether it is being executed on a rooted or jailbroken device?</a></li>
              </ul>

            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Code Quality and Build Setting
              </a>
              <!-- <div class="status status--complete">Review Complete</div> -->

              <ul class="lists" style="display: none">
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.33 Is the app/web service code signed and provisioned with a valid certificate?</a></li>
                <li class="lists__item lists__item--green"><a href="#" class="list-link">B.5.34 Describe the exception handling processes within the app/web service</a></li>
              </ul>

            </li>

          </ul>
        </li>

        <li id="section7">
          <h2 class="task-list-section">
            <span class="task-list-section-number">7. </span> Usability &amp; Accessibility
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-usability.html">
                Usability &amp; Accessibility
              </a>
            </li>
          </ul>
        </li>

        <li id="section8">
          <h2 class="task-list-section">
            <span class="task-list-section-number">8. </span> Interoperability
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Interoperability
              </a>
            </li>
          </ul>
        </li>

        <li id="section9">
          <h2 class="task-list-section">
            <span class="task-list-section-number">9. </span> Technical Stability
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Quality Assurance
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Service Management
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Product Development
              </a>
            </li>
          </ul>
        </li>

        <li id="section10">
          <h2 class="task-list-section">
            <span class="task-list-section-number">10. </span> Change Management
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="apps-details-daqs-questions-general.html">
                Change Management
              </a>
            </li>
          </ul>
        </li>

      </ol>

      <br>

      <div class="new-section">
        <h2 class="heading-medium">Project Files</h2>
        <table>
          <thead class="">
            <tr class="">
              <th class="">Name</th>
              <th class="">Type</th>
              <th class="">Size</th>
              <th class="">Uploaded</th>
              <th class="">Actions</th>
            </tr>
          </thead>
          <tbody class="">
          </tbody>
        </table>
        <p class="font-xsmall">
          <label for="file-upload">Select File</label>
          <input type="file" id="file-upload">
        </p>
      </div>



    </main>



    <footer class="group js-footer" id="footer" role="contentinfo">
      <p style="text-align: center; color: #adb1b5; padding-top: 20px;">Footer</p>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>



    <script>

    $(".lists").hide();

    $("#select-box").on("change", function() {

      if ( this.value == "simple") {

        $(".lists").hide();

      } else if ( this.value == "all-questions")  {

        $(".lists").show();
        $(".lists__item").show();

      } else if ( this.value == "my-todo")  {

        $(".lists").show();
        $(".lists__item").hide();
        $(".lists__item--orange").show();

      } else if ( this.value == "satisfactory")  {

        $(".lists").show();
        $(".lists__item").hide();
        $(".lists__item--green").show();

      } else if ( this.value == "not-satisfactory")  {

        $(".lists").show();
        $(".lists__item").hide();
        $(".lists__item--red").show();

      }
    })

    </script>




</body>
</html>
