<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Review / Apps</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_review" id="proposition-name">Apps Assessment</a>
              <strong class="phase-tag" style="position:relative; left:4px; top:-2px;">REVIEWER</strong>

              <ul id="proposition-links">
                <li><a href="/apps_review/apps.html" class="active">Home</a></li>
                <li><a href="/apps_review/profile.html">Profile</a></li>
                <li class="proposition-links-right">

                  <div class="tooltip tooltip--under tooltip--desktop-right">
                    <div class="tooltip__modal">
                        <p>Your roles:</p>
                        <p><a href="#">Assessment</a></p>
                        <p><a href="#" class="black">Review</a></p>
                        <p><a href="#">Admin</a></p>
                        <hr>
                        <p class="flush"><a href="#">Log out</a></p>
                    </div>
                    <div class="tooltip__title">david.sayce@infinityworks.com</div>
                  </div>

                </li>
              </ul>



            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>

    <main id="content" role="main">

      <h1 class="heading-large">Your Apps</h1>

      <div class="js-tabs tabs-nav--3tabs">
        <ul class="tabs-nav" role="tablist">
          <li class="tabs-nav__item">
            <a tabindex="0" href="/apps_developer/apps.html" class="tabs-link" role="tab">Developer</a>
          </li>
          <li class="tabs-nav__item tabs-nav__item--active">
            <a tabindex="1" href="/apps_review/apps.html" class="tabs-link" role="tab">Reviewer</a>
          </li>
          <li class="tabs-nav__item">
            <a tabindex="1" href="/apps_admin/home.html" class="tabs-link" role="tab">Admin</a>
          </li>
        </ul>
      </div>

      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="form-group-small">
            <label class="form-label" for="select-box">View by:</label>
            <select class="form-control" id="select-box" name="select-box">
              <option value="apps.html">Recently updated</option>
              <option value="apps.html">Date added - Ascending</option>
              <option value="apps.html">Date added - Descending</option>
              <option value="apps.html">App name - A/Z</option>
              <option value="apps.html">App name - Z/A</option>
              <option value="apps-todo-list.html" selected>SME To-Do List</option>
            </select>
          </div>
        </div>
      </div>











      <h2 class="heading-large">Mediman</h2>

      <ol class="task-list">

          <li id="section1">
            <h2 class="task-list-section">
              <span class="task-list-section-number">1. </span> General
            </h2>
            <ul class="task-list-items">

              <!-- Q1 -->
              <li class="task-list-item">
                <a class="task-name" href="#">
                  B.0.1 What is the name of the Digital Service?
                </a>
                <strong class="status status--awaiting">To review</strong>
              </li>

            </ul>
          </li>

          <li id="section2">
            <h2 class="task-list-section">
              <span class="task-list-section-number">2. </span> Clinical Effectiveness
            </h2>
            <ul class="task-list-items">

              <!-- Q1 -->
              <li class="task-list-item">
                <a class="task-name" href="#">
                  B.1.1.1 Is the health and/or wellbeing purpose clearly defined within the digital service?
                </a>
                <strong class="status status--awaiting">To review</strong>
              </li>

              <!-- Q2 -->
              <li class="task-list-item">
                <a class="task-name" href="#">
                  B.1.1.3 Is it clearly stated within the service who it is suitable for and, if relevant, who it is not suitable for?
                </a>
                <strong class="status status--awaiting">To review</strong>
              </li>

              <!-- Q2 -->
              <li class="task-list-item">
                <a class="task-name" href="#">
                  B.1.1.4 (if Yes) Please provide the wording used in the service
                </a>
                <strong class="status status--awaiting">To review</strong>
              </li>

            </ul>
          </li>

        </ol>






        <h2 class="heading-large">Powerhouse Pathways</h2>

        <ol class="task-list">

            <li id="section3">
              <h2 class="task-list-section">
                <span class="task-list-section-number">1. </span> Clinical Effectiveness
              </h2>
              <ul class="task-list-items">

                <!-- Q1 -->
                <li class="task-list-item">
                  <a class="task-name" href="#">
                    B.1.1.1 Is the health and/or wellbeing purpose clearly defined within the digital service?
                  </a>
                  <strong class="status status--awaiting">To review</strong>
                </li>

                <!-- Q2 -->
                <li class="task-list-item">
                  <a class="task-name" href="#">
                    B.1.1.3 Is it clearly stated within the service who it is suitable for and, if relevant, who it is not suitable for?
                  </a>
                  <strong class="status status--awaiting">To review</strong>
                </li>

                <!-- Q2 -->
                <li class="task-list-item">
                  <a class="task-name" href="#">
                    B.1.1.4 (if Yes) Please provide the wording used in the service
                  </a>
                  <strong class="status status--awaiting">To review</strong>
                </li>

              </ul>
            </li>

          </ol>






          <h2 class="heading-large">Basic Time</h2>

          <ol class="task-list">

              <li id="section3">
                <h2 class="task-list-section">
                  <span class="task-list-section-number">1. </span> Clinical Effectiveness
                </h2>
                <ul class="task-list-items">

                  <!-- Q1 -->
                  <li class="task-list-item">
                    <a class="task-name" href="#">
                      B.1.1.1 Is the health and/or wellbeing purpose clearly defined within the digital service?
                    </a>
                    <strong class="status status--awaiting">To review</strong>
                  </li>

                  <!-- Q2 -->
                  <li class="task-list-item">
                    <a class="task-name" href="#">
                      B.1.1.3 Is it clearly stated within the service who it is suitable for and, if relevant, who it is not suitable for?
                    </a>
                    <strong class="status status--awaiting">To review</strong>
                  </li>

                  <!-- Q2 -->
                  <li class="task-list-item">
                    <a class="task-name" href="#">
                      B.1.1.4 (if Yes) Please provide the wording used in the service
                    </a>
                    <strong class="status status--awaiting">To review</strong>
                  </li>

                </ul>
              </li>

            </ol>


    </main>



    <footer class="group js-footer" id="footer" role="contentinfo">
      <p style="text-align: center; color: #adb1b5; padding-top: 20px;">Footer</p>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/show-hide-content.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <script>
      $(function(){
        // bind change event to select
        $('#select-box').on('change', function () {
            var url = $(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
        });
      });
    </script>


</body>
</html>
