<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Developer / Home</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/developer" id="proposition-name">NHS Apps &amp; Wearables</a>
              <ul id="proposition-links">
                <li><a href="opt2-overview.html" class="active">Overview</a></li>
                <li><a href="opt2-case-studies.html">Case studies</a></li>
                <li><a href="opt2-getting-started.html">Getting started</a></li>
                <li><a href="opt2-faqs.html">FAQs</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>




    <div class="panel-hero">
      <div class="panel-hero-inner">
          <h2 class="panel-hero__title">NHS Apps Library</h2>
          <p class="panel-hero__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus, dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor</p>
          <p>
            <a href="#" class="button">Get started</a>
          </p>
      </div>
    </div>



    <main id="content" role="main">


      <div class="grid-row">
        <div class="column-one-half">
          <h2 class="heading-medium">Be discovered on nhs.net</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus,
            dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor
          </p>
          <p><a href="#" class="button">See the library</a></p>
        </div>
        <div class="column-one-half">
          <img src="/images/developer-be-discovered.png" style="width:100%">
        </div>
      </div>

      <hr>

      <div class="grid-row">
        <div class="column-one-half" style="text-align:center">
          <img src="http://via.placeholder.com/100x100" style="border-radius: 100px">
          <h2 class="heading-medium" style="margin-top:10px">NHS approval</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus,
            dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor
          </p>
        </div>
        <div class="column-one-half" style="text-align:center">
          <img src="http://via.placeholder.com/100x100" style="border-radius: 100px">
          <h2 class="heading-medium" style="margin-top:10px">Key benefit number 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus,
            dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor
          </p>
        </div>
      </div>

      <hr>

      <div class="grid-row">
        <div class="column-one-half" style="text-align:center">
          <img src="http://via.placeholder.com/100x100" style="border-radius: 100px">
          <h2 class="heading-medium" style="margin-top:10px">Key benefit number 3</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus,
            dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor
          </p>
        </div>
        <div class="column-one-half" style="text-align:center">
          <img src="http://via.placeholder.com/100x100" style="border-radius: 100px">
          <h2 class="heading-medium" style="margin-top:10px">Key benefit number 4</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus,
            dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor
          </p>
        </div>
      </div>



    </main>




    <footer class="group js-footer" id="footer" role="contentinfo">
      <p style="text-align: center; color: #adb1b5; padding-top: 20px;">Footer</p>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>








</body>
</html>
