<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Developer / Home</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/developer" id="proposition-name">NHS Apps Library</a>
              <ul id="proposition-links">
                <li><a href="/apps_library/set2-home.html">Apps Library</a></li>
                <li><a href="/developer/set2-home.html" class="active">Submit an app</a></li>
                <li><a href="/developer/set2-getting-started.html">Get started</a></li>
                <li><a href="/developer/set2-faqs.html">FAQs</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>


    <div id="global-header-bar"></div>

    <div class="panel-hero">
      <div class="panel-hero-inner">
          <h2 class="panel-hero__title">Submit an app</h2>
          <p class="panel-hero__para">Are you a developer wanting to contribute to a more efficient NHS, focused on patient-led healthcare? This is where you’ll find all the information you need if you have an existing app you’d like to see included on our <a href="/apps_library/set2-home.html">Apps Library</a></p>
          <p>
            <a href="set2-getting-started.html" class="button button-start">Get started</a>
          </p>
      </div>
    </div>



    <main id="content" role="main">


      <div class="grid-row">
        <div class="column-one-half">
          <h2 class="heading-medium">Be discovered on nhs.net</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus,
            dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor
          </p>
          <ul class="list list-bullet">
            <li><a href="/apps_library/set2-home.html">See the library</a></li>
          </ul>
        </div>
        <div class="column-one-half">
          <img src="/images/developer-be-discovered.png" style="width:100%">
        </div>
      </div>

      <hr>

      <div class="grid-row">
        <div class="column-one-half">
          <img src="/images/on-app-store.png" style="width:100%">
        </div>
        <div class="column-one-half">
          <h2 class="heading-medium">NHS approved on app stores</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus,
            dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor
          </p>
          <ul class="list list-bullet">
            <li><a href="#">View on Apple Store</a></li>
            <li><a href="#">View on Google Play</a></li>
          </ul>
        </div>
      </div>


      <hr>


      <h2 class="heading-large">How will my app be appraised?</h2>

      <div class="grid-row">
        <div class="column-two-thirds">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a euismod urna, vitae commodo ante. Aliquam viverra mollis nunc, et posuere diam</p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-one-half">
          <h2 class="heading-medium" style="margin-top:10px; margin-bottom:10px; color: #003087"><img src="/images/circle-dots_dark-blue-1.png" width="24" style="position: relative; top:4px;"> NHS approval</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus,
            dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor
          </p>
        </div>
        <div class="column-one-half">
          <h2 class="heading-medium" style="margin-top:10px; margin-bottom:10px; color: #003087"><img src="/images/circle-dots_dark-blue-1.png" width="24" style="position: relative; top:4px;"> NHS approval</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi risus,
            dignissim in libero non, semper vehicula lorem. Vestibulum non lectus porttitor
          </p>
        </div>
      </div>


      <hr>


      <div class="grid-row">
        <div class="column-one-half">
          <h2 class="heading-medium">What we're looking for</h2>
          <p>
            We are currently prioritising the assessment of apps that address the key health themes:
          </p>
          <ul class="list list-bullet">
            <li>Primary care</li>
            <li>Social care</li>
            <li>Cancer</li>
            <li>Mental health</li>
            <li>Maternity</li>
            <li>Long-term conditions like diabetes and asthma</li>
          </ul>
        </div>
        <div class="column-one-half">
          <h2 class="heading-medium">Developer Hub</h2>
          <p>
            Information and tools to help developers create software for health and social care.
          </p>
          <ul class="list list-bullet">
            <li><a href="https://developer.nhs.uk">NHS Developer Hub</a></li>
          </ul>
        </div>
      </div>

      <p>&nbsp;</p>

      <div class="callout callout--muted">
        <div class="callout__inner">
          <h2 class="heading-medium">Testimonials</h2>
          <div class="carousel">
            <div class="carousel__pad">
              <p><i class="lede">“myCOPD helps people with COPD to better manage their condition. Use it to perfect your inhaler technique, improve your breathing, reduce exacerbations, track your medication and more.”</i></p>
              <p class="heading-small">James Smith - MD myCOPD</p>
            </div>
            <div class="carousel__pad">
              <p><i class="lede">“myCOPD helps people with COPD to better manage their condition. Use it to perfect your inhaler technique, improve your breathing, reduce exacerbations, track your medication and more.”</i></p>
              <p class="heading-small">James Smith - MD myCOPD</p>
            </div>
          </div>
          <p>&nbsp;</p>
        </div>
      </div>


      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="heading-medium">Getting started</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a euismod urna, vitae commodo ante. Aliquam viverra mollis nunc, et posuere diam lacinia sit amet. </p>
          <ul class="list list-bullet">
            <li><a href="#">Step by step guide</a></li>
            <li><a href="#">Register your interest</a></li>
          </ul>
        </div>
      </div>



    </main>






    <footer class="group js-footer" id="footer" role="contentinfo">
      <p style="text-align: center; color: #adb1b5; padding-top: 20px;">Footer</p>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


    <!-- Slick slider -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" media="screen" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" media="screen" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
      //$('.carousel').slick();
      $(".carousel").slick({
        arrows: true,
        centerMode: true,
        responsive: true,
        centerPadding: false,
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1
      });
    </script>





</body>
</html>
