<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / About us</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>

        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_library/home" id="proposition-name">
                NHS Apps Library
              </a>

              <ul id="proposition-links">
                <li><a href="about-us.html">About us</a></li>
              </ul>

            </nav>
          </div>
        </div>

      </div>
    </header>


    <div id="global-header-bar"></div>


    <main id="content" role="main">

      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>

      <article role="article">

        <p><span style="font-size:12px;">◀</span> <a class="back-to-previous" href="home.html"> Back <span class="visuallyhidden"> to the previous page</span></a></p>

        <p class="heading-large">About us</p>
        <p>These new pages are designed to bring together a number of digital tools that you can use for your health and care.</p>
        <p>The design is intentionally clear and easy to navigate so that people of all ages and digital ability can move around it.</p>
        <p>&nbsp;</p>
        <p class="heading-large">A Beta site</p>
        <p>As this is a Beta -&nbsp;which means we are testing this with you -&nbsp;you have the opportunity to feed back on every aspect of these pages and their contents.&nbsp;</p>
        <p>We welcome your feedback on this early version of the Digital Apps Library, so please do take the time to tell us what you think<strong>. </strong></p>
        <p>There is a small selection of tools to begin with. This is to make sure the tools meet the high standard of quality, safety and effectiveness you expect from the NHS.</p>
        <p>Over time and with your help we will grow the library to cover many more health and social care needs and continue to drive up quality.</p>
        <p>&nbsp;</p>
        <p class="heading-large">Vetting apps</p>
        <p>You may notice that some apps are labelled, "NHS Approved" meaning there is clinical evidence that it supports clinical outcomes, or "Being Tested in the NHS", which means they are part of an NHS programme that is monitoring and gathering evidence.</p>
        <p>These products have been selected to trial because we identified where there was a need for digital intervention.</p>
        <p>We identify the need, the market develops the tools, and patients benefit.</p>
        <p>The library has a selection of tools that have gone through a technical assessment; this <span>seeks clarification from developers and vendors regarding compliance with the Data Protection Act, through to collecting personal data and other key areas. </span></p>
        <p>&nbsp;</p>
        <p class="heading-large">NHS badges</p>
        <p>For digital tools that are labelled "NHS Approved" or "Being Tested in the NHS" further assessment has been undertaken.</p>
        <p>Specific information on these assessments is below:<strong><em>&nbsp;</em></strong>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong class="heading-medium"><img style="width: 185px; height:70px;" src="https://apps.beta.nhs.uk/media/1178/nhs-approved-frame.jpg?width=185&amp;height=70" alt="NHS Approved badge" data-id="1273"></strong></p>
        <p>&nbsp;</p>
        <p><strong class="heading-medium">Summary</strong>: It meets NHS quality standards for clinical effectiveness, safety, usability and accessibility, and has evidence to support its use.</p>
        <p><strong class="heading-medium">Detail</strong>: There is&nbsp;strong evidence&nbsp;supporting improvement of patient outcomes.</p>
        <p>We considered the NHS definition of quality and have applied the same principles to digital products. These will meet what we consider to be good quality digital standards for safety, experience and effectiveness.&nbsp;This means the following:</p>
        <p><strong class="heading-medium">Safety</strong>: Both clinical safety and information safety (Information Governance, Privacy and Security)</p>
        <p><strong class="heading-medium">Experience</strong>: Ensuring user-centred design, accessibility and product stability</p>
        <p><strong class="heading-medium">Effectiveness</strong>: Is measured by clinical effectiveness/outcomes, cost effectiveness and/or effectiveness of impact&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><img style="width: 185px; height:70px;" src="https://apps.beta.nhs.uk/media/1179/being-tested-frame.jpg?width=185&amp;height=70" alt="Being Tested in the NHS badge" data-id="1274"></strong></p>
        <p>&nbsp;</p>
        <p><strong class="heading-medium">Summary</strong>: This meets NHS quality standards for safety, usability and accessibility, and is being tested now in the NHS to see if there is sufficient evidence to provide an NHS stamp of approval.</p>
        <p><strong class="heading-medium">Detail</strong>: This means it is being tested with patients and the public to gather evidence of its effectiveness.</p>
        <p>For these tools, we have considered the NHS definition of quality and have applied the following principles:</p>
        <p><strong class="heading-medium">Safety</strong>: Both clinical safety and information safety (Information Governance, Privacy and Security)</p>
        <p><strong class="heading-medium">Experience</strong>: Ensuring user-centred design, accessibility and product stability</p>
        <p>During the trial period, the NHS programme managing these tools will monitor and gather evidence to include effectiveness, improved outcomes, cost efficiencies and positive impact.&nbsp;If the standard of effectiveness is met and validated, the digital tool will be categorised as NHS Approved.</p>

      </article>

    </main>



    <footer class="global-footer" role="contentinfo">
      <div class="container">
        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>
        <ul class="link-list">
          <li><a href="#" target="_blank">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Toggle the view on mobile -->
    <script>

    if ($(window).width() < 641) {

      // Title toggle
      $( ".apps-grid__controller__title" ).click(function() {
          $( ".apps-grid__controller__list" ).slideToggle( "fast", function() {
            // Animation complete.
          });
      });

      // Close menu on selecing an item
      $( ".apps-grid__controller__list__item__link" ).click(function() {
          $( ".apps-grid__controller__list" ).slideToggle( "fast", function() {
            // Animation complete.
          });
      });

    }


    // Fake the filters
    $( ".apps-grid__controller__list__item__link" ).click(function() {
        $(".apps-grid__controller__list__item__link").removeClass("apps-grid__controller__list__item__link--selected");
        $( this ).addClass("apps-grid__controller__list__item__link--selected");
    });


    // Fake alphabetic assend / decending
    $( ".apps-grid__title__sortby__link--direction" ).click(function(e) {
        $(this).toggleClass("apps-grid__title__sortby__link--direction--assending");

        $('#js-grid > div').each(function() {
            $(this).prependTo(this.parentNode);
        });

        e.preventDefault();
    });






    </script>


  </body>
</html>
