<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Homepage</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>

        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_library/home.html" id="proposition-name">
                NHS Apps Library
              </a>

              <ul id="proposition-links">
                <li><a href="about-us.html">About us</a></li>
              </ul>

            </nav>
          </div>
        </div>

      </div>
    </header>


    <div id="global-header-bar"></div>


    <main id="content" role="main">

      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>


      <section class="search-banner" aria-label="Search form">
          <div class="search-banner__pad">
              <h3 class="search-banner__headline">Find digital tools to help you manage and improve your health</h3>
              <form role="search" method="get" action="home-search-diabetes.html" class="search-banner__form">
                  <div>
                      <input type="text" name="query" id="query" class="search-banner__input" placeholder="Search for apps" value="">
                  </div>
                  <div>
                      <button class="search-banner__button"><span>Search</span></button>
                  </div>
              </form>
          </div>
      </section>

      <!--
      <div class="local-header">
        <h2 class="local-header__title">NHS Digital provides technology, information and services, which help the NHS deliver better care</h2>
        <form role="search" method="get" action="/search" class="search-banner__form">
          <div>
            <label class="form-label" for="full-name-f1">Full name</label>
            <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
              </div>
            <div>
                <button class="search-banner__button"><span>Search</span></button>
            </div>
        </form>
      </div>
      -->

      <div class="apps-grid">
        <div class="apps-grid__controller">
          <div class="apps-grid__controller__title">
            FILTER BY CATEGORY
            <span class="apps-grid__controller__title__icon">+</span>
          </div>
            <ul class="apps-grid__controller__list">
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link apps-grid__controller__list__item__link--selected" href="#">All</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Cancer</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">COPD</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Dementia</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Dental</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Diabetes</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Healthy Living</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Learning Disabilities</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Mental Health</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Online Community</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Other</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Pregnancy and Baby</a></li>
          </ul>
        </div>
        <div class="apps-grid__content">


          <div class="apps-grid__title">
            <h2 class="apps-grid__title__text">Latest approved apps:</h2>
          </div>


          <div class="grid-row">

            <div class="column-one-half" id="js-item1">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1170/mycopd_icon2.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131364634110000000" alt="myCOPD">
                  <a href="set1-details.html" class="cardapp__top__title">myCOPD</a>
                  <div class="cardapp__top__subtitle">
                    <img src="/images/tick_dark-blue-1.png" class="cardapp__top__subtitle__icon"> NHS Approved
                  </div>
                </div>
                <div class="cardapp__content">
                  myCOPD helps people with COPD to better manage their condition.
                </div>
                <div class="cardapp__footer">
                  COPD
                </div>
              </div>
            </div>


            <div class="column-one-half" id="js-item2">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1014/cove-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359652470000000" alt="Cove">
                  <a href="set1-details.html" class="cardapp__top__title">Cove</a>
                  <div class="cardapp__top__subtitle"><img src="/images/circle-dots_dark-blue-1.png" class="cardapp__top__subtitle__icon"> Being tested in the NHS</div>
                </div>
                <div class="cardapp__content">
                  Create music to capture your mood and express how you feel with the Cove app.
                </div>
                <div class="cardapp__footer">
                  MENTAL HEALTH
                </div>
              </div>
            </div>

            <div class="column-one-half" id="js-item3">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1018/panda-icon.png?anchor=center&mode=crop&width=96&height=96&rnd=131360560850000000" alt="Chill Panda">
                  <a href="set1-details.html" class="cardapp__top__title">Chill Panda</a>
                  <!-- <div class="cardapp__top__subtitle">NHS Approved</div> -->
                </div>
                <div class="cardapp__content">
                  Learn to relax, manage your worries and improve your wellbeing with Chill Panda.
                </div>
                <div class="cardapp__footer">
                  MENTAL HEALTH
                </div>
              </div>
            </div>

            <div class="column-one-half" id="js-item4">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1272/data1skh-users-rohe4-my-pictures-blueice-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131539190460000000" alt="BlueIce">
                  <a href="set1-details.html" class="cardapp__top__title">BlueIce</a>
                  <!-- <div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  Learn to relax, manage your worries and improve your wellbeing with Chill Panda.
                </div>
                <div class="cardapp__footer">
                  MENTAL HEALTH
                </div>
              </div>
            </div>

          </div>



          <div class="apps-grid__title">
            <p class="apps-grid__title__sortby">Sort by: <a href="home.html" class="apps-grid__title__sortby__link apps-grid__title__sortby__link--direction">Recently published</a> | <a href="#" class="apps-grid__title__sortby__link">Alphabetic</a></p>
            <h2 class="apps-grid__title__text">All apps</h2>
          </div>




          <div class="grid-row" id="js-grid">

            <div class="column-one-half" id="js-item1">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1170/mycopd_icon2.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131364634110000000" alt="myCOPD">
                  <a href="set1-details.html" class="cardapp__top__title">myCOPD</a>
                  <div class="cardapp__top__subtitle">
                    <img src="/images/tick_dark-blue-1.png" class="cardapp__top__subtitle__icon"> NHS Approved
                  </div>
                </div>
                <div class="cardapp__content">
                  myCOPD helps people with COPD to better manage their condition.
                </div>
                <div class="cardapp__footer">
                  COPD
                </div>
              </div>
            </div>


            <div class="column-one-half" id="js-item2">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1014/cove-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359652470000000" alt="Cove">
                  <a href="set1-details.html" class="cardapp__top__title">Cove</a>
                  <div class="cardapp__top__subtitle"><img src="/images/circle-dots_dark-blue-1.png" class="cardapp__top__subtitle__icon"> Being tested in the NHS</div>
                </div>
                <div class="cardapp__content">
                  Create music to capture your mood and express how you feel with the Cove app.
                </div>
                <div class="cardapp__footer">
                  MENTAL HEALTH
                </div>
              </div>
            </div>

            <div class="column-one-half" id="js-item3">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1018/panda-icon.png?anchor=center&mode=crop&width=96&height=96&rnd=131360560850000000" alt="Chill Panda">
                  <a href="set1-details.html" class="cardapp__top__title">Chill Panda</a>
                  <!-- <div class="cardapp__top__subtitle">NHS Approved</div> -->
                </div>
                <div class="cardapp__content">
                  Learn to relax, manage your worries and improve your wellbeing with Chill Panda.
                </div>
                <div class="cardapp__footer">
                  MENTAL HEALTH
                </div>
              </div>
            </div>

            <div class="column-one-half" id="js-item4">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1272/data1skh-users-rohe4-my-pictures-blueice-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131539190460000000" alt="BlueIce">
                  <a href="set1-details.html" class="cardapp__top__title">BlueIce</a>
                  <!-- <div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  Learn to relax, manage your worries and improve your wellbeing with Chill Panda.
                </div>
                <div class="cardapp__footer">
                  MENTAL HEALTH
                </div>
              </div>
            </div>

            <div class="column-one-half" id="js-item5">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1204/c-users-male8-desktop-evergreen-life-app-and-website-app-evergreen-life-app-logo.png?anchor=center&mode=crop&width=96&height=96&rnd=131496149770000000" alt="Evergreen Life">
                  <a href="set1-details.html" class="cardapp__top__title">Evergreen Life</a>
                  <!--<div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  Evergreen Life is a personal health record app that stores your health information in one place.
                </div>
                <div class="cardapp__footer">
                  HEALTHY LIVING
                </div>
              </div>
            </div>

            <div class="column-one-half" id="js-item6">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1205/c-users-stsh3-desktop-active-10_icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131496032910000000" alt="Active 10 walking tracker">
                  <a href="set1-details.html" class="cardapp__top__title">Active 10 walking tracker</a>
                  <!--<div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  The Active 10 app will help you get into the habit of walking briskly for 10 minutes every day.
                </div>
                <div class="cardapp__footer">
                  HEALTHY LIVING
                </div>
              </div>
            </div>

            <div class="column-one-half" id="js-item7">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1191/logo_appslibrary.png?anchor=center&mode=crop&width=96&height=96&rnd=131388020220000000" alt="Patients Know Best">
                  <a href="set1-details.html" class="cardapp__top__title">Patients Know Best</a>
                  <!--<div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  Patients Know Best works with the NHS to give patients instant access to their medical records.
                </div>
                <div class="cardapp__footer">
                  OTHER
                </div>
              </div>
            </div>

            <div class="column-one-half" id="js-item8">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1091/my-choice-pad.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360396300000000" alt="MyChoicePad">
                  <a href="set1-details.html" class="cardapp__top__title">MyChoicePad</a>
                  <!--<div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  MyChoicePad helps people with learning disabilities communicate better.
                </div>
                <div class="cardapp__footer">
                  LEARNING DISABILITIES
                </div>
              </div>
            </div>


          </div>

          <div class="pagination" style="clear: both">
              <ul class="pagination__list">
                  <li class="pagination__list__item pagination__list__item--current">
                      <span class="">1</span>
                  </li>
                  <li class="pagination__list__item">
                      <a href="home-page2.html" title="Page 2">2</a>
                  </li>
                  <li class="pagination__list__item pagination__list__item--next">
                      <a href="home-page2.html" title="Next">
                          <span class="next">Next</span>
                      </a>
                  </li>
              </ul>
          </div>

        </div>
      </div>

    </main>


    <footer class="global-footer" role="contentinfo">
      <div class="container">
        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>
        <ul class="link-list">
          <li><a href="#" target="_blank">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>



    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Toggle the view on mobile -->
    <script>

    if ($(window).width() < 641) {

      // Title toggle
      $( ".apps-grid__controller__title" ).click(function() {
          $( ".apps-grid__controller__list" ).slideToggle( "fast", function() {
            // Animation complete.
          });
      });

      // Close menu on selecing an item
      $( ".apps-grid__controller__list__item__link" ).click(function() {
          $( ".apps-grid__controller__list" ).slideToggle( "fast", function() {
            // Animation complete.
          });
      });

    }


    // Fake the filters
    $( ".apps-grid__controller__list__item__link" ).click(function() {
        $(".apps-grid__controller__list__item__link").removeClass("apps-grid__controller__list__item__link--selected");
        $( this ).addClass("apps-grid__controller__list__item__link--selected");
    });


    // Fake alphabetic assend / decending
    $( ".apps-grid__title__sortby__link--direction" ).click(function(e) {
        $(this).toggleClass("apps-grid__title__sortby__link--direction--assending");

        $('#js-grid > div').each(function() {
            $(this).prependTo(this.parentNode);
        });

        e.preventDefault();
    });






    </script>


  </body>
</html>
