<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Case Study</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">

        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

      </div>
    </header>


    <div id="global-header-bar"></div>


    <main id="content" role="main">
      <div class="container">


        <div class="breadcrumbs">
          <ol>
            <li><a href="set3-home.html">Apps Library</a></li>
            <!-- <li><a href="set3-case-studies.html">Case Studies</a></li> -->
            <li aria-current="page">How we review apps</li>
          </ol>
        </div>


        <h1 class="heading-large">How we review apps</h1>

        <div class="grid-row">

          <div class="column-one-third sticky sticky--top">
            <div class="article_nav">
              <h2 class="article_nav__heading">Sections</h2>
              <hr>
              <ul class="article_nav__list">
                <li><a href="#what-we-assess">What we assess</a></li>
                <li><a href="#pre-qualification">Pre-qualification</a></li>
                <li><a href="#eligibility">Eligibility</a></li>
                <li><a href="#evidence-of-outcomes">Evidence of outcomes</a></li>
                <li><a href="#clinical-safety">Clinical safety</a></li>
                <li><a href="#data-protection">Data protection</a></li>
                <li><a href="#security">Security</a></li>
                <li><a href="#usability">Usability &amp; Accessibility</a></li>
                <li><a href="#interoperability">Interoperability</a></li>
                <li><a href="#technical-stability">Technical Stability</a></li>
              </ul>
            </div>
          </div>

          <div class="column-two-thirds">


              <h3 class="heading-medium" id="what-we-assess">What we assess</h3>
              <p>Our Digital Assessment Questions make sure only safe, secure and effective apps are hosted on the NHS Apps Library. We ask developers to provide evidence that their products pass all of our tests for eligibility, clinical safety, data protection, security and usability, and that anyone using them will benefit from improved health and well-being.</p>

              <hr>

              <h3 class="heading-medium" id="pre-qualification">Pre-qualification</h3>
              <p>Developers must answer our pre-qualification questions before they can put their app forward for full assessment and be considered for the NHS Apps Library.</p>
              <p>We currently focus on apps that help with social care, cancer, maternity, mental health or long-term conditions like asthma or diabetes.</p>

              <hr>

              <h3 class="heading-medium" id="eligibility">Eligibility </h3>
              <p>Our eligibility questions are used to find out what an app actually does. We ask how it helps users to treat or manage their condition and who might use it as part of their treatment. </p>
              <p>All apps must have approval from the correct regulatory body, for example the Medicines and Healthcare products <a href="https://www.gov.uk/government/organisations/medicines-and-healthcare-products-regulatory-agency/about" target="_blank">Regulatory Agency</a> which makes sure that medical devices work and are safe to use. </p>

              <hr>

              <h3 class="heading-medium" id="evidence-of-outcomes">Evidence of outcomes</h3>
              <p>These questions make sure all apps are doing what they are supposed to do and we ask developers to show us how their app improves health and well-being. For example, if an app is supposed to help patients with mental health, developers must give examples of how it has already helped people.</p>
              <p>We also need to make sure there is a need for any apps that are put forward and developers must show that their app will help patients. They are also asked in what ways their app can help the NHS in areas like reducing waiting times and reducing the need for doctor’s appointments.</p>

              <hr>

              <h3 class="heading-medium" id="clinical-safety">Clinical safety</h3>
              <p>Our clinical safety questions make sure developers have taken all appropriate action to keep safe any patients using their app. For example, with an app that reminds patients to take their medication, developers must provide evidence of testing to prove the reminders have never failed.</p>
              <p>If those test results are not available, developers must work to meet our standards by setting up Hazard Logs and Safety Reports as required by the
                <a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections/scci0129-clinical-risk-management-its-application-in-the-manufacture-of-health-it-systems" target="_blank">Health and Social Care Act 2012</a>.
              </p>

              <hr>

              <h3 class="heading-medium" id="data-protection">Data protection</h3>
              <p>Our data protection questions are designed to make sure that any sensitive personal information collected or shared by an app is handled safely. </p>
              <p>Developers must provide details of where any personal data is stored and what rights users have to control how their information is used. </p>

              <hr>

              <h3 class="heading-medium" id="security">Security</h3>
              <p>These questions make sure apps are secure. They check an app only asks for the information it really needs to work for you, and that your information is then stored securely. </p>
              <p>We also make sure that apps won’t damage your computer or mobile phone. Developers must prove that their apps meet our security needs so we can be sure they are safe to use.</p>

              <hr>

              <h3 class="heading-medium" id="usability">Usability &amp; Accessibility</h3>
              <p>Our usability and accessibility questions help us make sure apps are easy to understand and use. Text must be easy to read, action buttons must be easy to press, clearly marked and do exactly what users expect them to do.</p>
              <p>Apps are assessed to make sure they provide access to as many people as possible, including older users, younger users and those with disabilities. This might involve the app being able to increase text size where needed and work with voice software to help visually impaired people.</p>

              <hr>

              <h3 class="heading-medium" id="interoperability">Interoperability</h3>
              <p>Our interoperability questions make sure information collected by an app can be easily shared amongst developers to help improve health and well-being apps.</p>
              <p>Patients will benefit from these improvements, but developers must meet <a href="https://www.england.nhs.uk/digitaltechnology/info-revolution/interoperability/open-api" target="_blank">NHS England’s rules on access to data</a>. This is to make the sharing process simpler to carry out while also keeping it safe and secure and making sure that only the right people receive that data.</p>

              <hr>

              <h3 class="heading-medium" id="technical-stability">Technical Stability</h3>
              <p>These questions make sure that any app tested works properly. Developers must show us how patients can report any problems with an app and how they will work to sort out those problems. </p>
              <p>These questions also cover what happens to any patient information an app has collected if that patient should decide to stop using the app or if the app is closed down by the developer.</p>

              <hr>














































          </div>
        </div>


      </div>
    </main>


    <footer class="global-footer" role="contentinfo">
      <div class="container">
        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>
        <ul class="link-list">
          <li><a href="#" target="_blank">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>

    <div class="feedback">
      <a href="https://docs.google.com/forms/d/1Ws6q7gGbYOGWLPNaf5IKOc0dWkVqgWMeYm09DtVD6tc" target="_blank">Feedback</a>
    </div>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


    <script>

      /*  Smooth scroll to  */
      $(document).on('click', 'a[href^="#"]', function (event) {
          event.preventDefault();

          $('html, body').animate({
              scrollTop: $($.attr(this, 'href')).offset().top
          }, 500);
      });

    </script>


  </body>
</html>
