<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Homepage</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">

        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <!--
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_library" id="proposition-name">NHS Apps Library</a>
              <ul id="proposition-links">
                <li><a href="/apps_library/set6-home.html" class="active">Apps Library</a></li>
                <li><a href="/developer/set6-home.html">Submit an app</a></li>
                <li><a href="/developer/set6-getting-started.html">Get started</a></li>
                <li><a href="/developer/set6-faqs.html">FAQs</a></li>
              </ul>
            </nav>
          </div>
        </div>
        -->

      </div>
    </header>


    <div id="global-header-bar"></div>


    <main id="content" role="main">

      <div class="container">

        <h1 class="heading-large">NHS Apps Library</h1>
        <p>We provide links to health and well-being apps that are proven to treat, manage or organise your healthcare</p>

        <form action="test.html" id="conditionsForm">
          <div class="form-group">
            <label class="form-label" for="condition-f1"><span class="heading-medium">Search for a condition</span></label>
            <input id="example-conditions" placeholder="eg.. Pregancy or Diabetes" class="form-control" id="condition-f1" type="text" name="condition-f1" />
          </div>
        </form>


        <hr>


        <h2 class="heading-medium">Apps by category</h2>

        <div class="callout callout--muted" style="margin-bottom: 24px;">

          <div class="categories-lists">
            <ol class="categories-list categories-list--mobile-two-cols">
              <li>
                <h3><a href="#">Cancer</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="#">COPD</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="#">Dementia</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
            </ol>
            <ol class="categories-list categories-list--mobile-two-cols">
              <li>
                <h3><a href="#">Dental</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="#">Diabetes</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="#">Healthy Living</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
            </ol>
            <ol class="categories-list">
              <li>
                <h3><a href="set6-mental-health.html">Mental Health</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="#">Online Community</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="set6-pregancy.html">Pregnancy and Baby</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
            </ol>
          </div>

        </div>




        <h2 class="heading-medium">Get inspired</h2>

        <div class="grid">
          <div class="column-one-third">
            <a href="set6-case-study.html"><img src="/images/sample-editorial1.jpg" style="width: 100%"></a>
            <h4><a href="set6-case-study.html" class="heading-small">Get on track</a></h4>
            <p>Nullam lobortis volutpat hendrerit. Donec lobortis elit at metus iaculis, sit amet rutrum</p>
          </div>
          <div class="column-one-third">
            <a href="set6-case-study.html"><img src="/images/sample-editorial2.jpg" style="width: 100%"></a>
            <h4><a href="set6-case-study.html" class="heading-small">Manage your health</a></h4>
            <p>Nullam lobortis volutpat hendrerit. Donec lobortis elit at metus iaculis, sit amet rutrum</p>
          </div>
          <div class="column-one-third">
            <a href="set6-case-study.html"><img src="/images/sample-editorial3.jpg" style="width: 100%"></a>
            <h4><a href="set6-case-study.html" class="heading-small">Mental health week</a></h4>
            <p>Nullam lobortis volutpat hendrerit. Donec lobortis elit at metus iaculis, sit amet rutrum</p>
          </div>
        </div>


        <p style="clear:both"></p>
        <hr style="margin-top: 40px;">


        <div class="grid">
          <div class="column-one-half">
            <h3 class="heading-medium">Had an adverse reaction?</h3>
            <p class="callout__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam justo sed nibh convallis, sit amet tincidunt felis fermentum. Proin blandit sapien turpis,</p>
            <ul class="callout__list list list-number">
              <li>Contact the developer</li>
              <li>Forward the details to <a href="mailto:m-health@nhs.net">m-health@nhs.net</a></li>
            </ul>
          </div>
          <div class="column-one-half">
            <h3 class="heading-medium">Disclaimer</h3>
            <p class="callout__para">Use of the tools / apps presented in this library are not intended to be a substitute for a consultation with a healthcare professional. It is up to you to contact a healthcare professional if you are concerned about your health. See our full disclaimer here.</p>
            <ul class="callout__list list list-bullet">
              <li><a href="#">Disclaimer</a></li>
            </ul>
          </div>
        </div>





      </div>





    </main>






    <footer class="global-footer" role="contentinfo">
      <div class="container">

        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>

        <ul class="link-list">
          <li><a href="#" target="_blank">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>

    <div class="feedback">
      <a href="https://docs.google.com/forms/d/1Ws6q7gGbYOGWLPNaf5IKOc0dWkVqgWMeYm09DtVD6tc" target="_blank">Feedback</a>
    </div>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>
    <script src="/javascripts/jquery.easy-autocomplete.min.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


    <script>

      // Hack
      $('#example-conditions').removeAttr('style');

      /* Mobile only toggle fitlers */

      var options = {

        url: "/javascripts/conditions.json",

        categories: [{
            listLocation: "pregancy",
            maxNumberOfElements: 4,
            header: "Pregancy"
        }, {
            listLocation: "mental health",
            maxNumberOfElements: 4,
            header: "Mental Health"
        }],

        getValue: function(element) {
            return element.condition;
            return element.website;

        },

        template: {
            type: "description",
            fields: {
                description: "details"
            }
        },

        list: {
            maxNumberOfElements: 8,
            match: {
                enabled: true
            },
            sort: {
                enabled: true
            }, onClickEvent: function() {

              var websiteSelected = $("#example-conditions").getSelectedItemData().website;
              window.location.href = websiteSelected;
              //alert(websiteSelected);

          }
        },

        theme: "square"

    };

    $("#example-conditions").easyAutocomplete(options);







    </script>


  </body>
</html>
