<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Homepage</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">

        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <!--
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_library" id="proposition-name">NHS Apps Library</a>
              <ul id="proposition-links">
                <li><a href="/apps_library/set6-home.html" class="active">Apps Library</a></li>
                <li><a href="/developer/set6-home.html">Submit an app</a></li>
                <li><a href="/developer/set6-getting-started.html">Get started</a></li>
                <li><a href="/developer/set6-faqs.html">FAQs</a></li>
              </ul>
            </nav>
          </div>
        </div>
        -->

      </div>
    </header>


    <div id="global-header-bar"></div>


    <main id="content" role="main">

      <div class="container">

        <div class="breadcrumbs">
          <ol>
            <li><a href="set6-home.html">Apps Library</a></li>
            <li aria-current="page">Mental Health</li>
          </ol>
        </div>


        <h1 class="heading-large">Mental Health Apps</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis</p>


        <div class="filter-horz" style="border-bottom: 0">

          <a href="#" style="float: right" ;="" class="js-toggle-sort">Filter &amp; Sort ▼</a>
          <h3 class="heading-medium">16 Apps</h3>

        </div>





            <!-- CARDS -->
            <div id="container">



              <div class="callout callout--muted js-pregancy hide" style="padding-top: 20px; margin-top: 10px; margin-bottom: 20px;">
                <fieldset>

                  <div class="grid-row">

                    <div class="column-one-half">
                      <div class="multiple-choice">
                        <input id="pregancy-1" name="pregancy" type="checkbox" value="pregancy-1">
                        <label for="pregancy-1">
                          <strong style="font-weight: bold">Sample filter 1</strong>
                          <br><p class="font-xsmall">TBC </p>
                        </label>
                      </div>
                    </div>

                    <div class="column-one-half">
                      <div class="multiple-choice">
                        <input id="pregancy-2" name="pregancy" type="checkbox" value="pregancy-2">
                        <label for="pregancy-2">
                          <strong style="font-weight: bold">Sample filter 2</strong>
                          <br><p class="font-xsmall">TBC</p>
                        </label>
                      </div>
                    </div>

                  </div>

                  <div style="clear: both; padding-top: 10px;">
                    <a href="set6-mental-health.html" class="button button--blue">Update</a>
                  </div>

                </fieldset>
              </div>


              <div class="cardrow cardrow--featured cardrow--type-healthyliving" data-name="EvergreenLife" style="display: none;">
                <div class="cardrow__featured" style="background-image:url('/images/app-header-evergreen.png')"></div>
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1204/c-users-male8-desktop-evergreen-life-app-and-website-app-evergreen-life-app-logo.png?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131496149770000000">
                <h3 class="cardrow__title"><a href="set6-details-evergreen.html" class="cardrow-link">Evergreen Life</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Evergreen Life is a personal health record app that stores your health information in one place.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
                <div class="tooltip">
                  <div class="tooltip__modal">
                    These digital tools meet NHS quality standards for safety, usability and accessibility and are being tested now with NHS patients to see if there is sufficient evidence to provide them an NHS stamp of approval.
                  </div>
                  <img src="/images/circle-dots_dark-blue-1.png" class="tooltip__icon"> <span class="tooltip__title">Being tested in the NHS</span>
                </div>
              </div>

              <div class="cardrow cardrow--type-copd" data-name="myCOPD" style="display: none;">
                  <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1170/mycopd.jpg?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131708584730000000">
                  <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">myCOPD</a></h3>
                  <p class="cardrow__para" style="max-width: 580px;">myCOPD helps people with COPD to better manage their condition.</p>
                  <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
                  <!--<div class="tooltip">
                    <div class="tooltip__modal">
                      This digital tool is NHS Approved. It meets NHS quality standards for clinical effectiveness, safety, usability and accessibility and has a supportive evidence base.
                    </div>
                    <img src="/images/circle-dots_dark-blue-1.png" class="tooltip__icon"> <span class="tooltip__title">NHS Approved</span>
                  </div>
                  -->
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="Cove" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1014/cove-icon.jpg?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131359652470000000">
                <h3 class="cardrow__title"><a href="set6-details-cove.html" class="cardrow-link">Cove</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Create music to capture your mood and express how you feel with the Cove app.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
                <div class="tooltip">
                  <div class="tooltip__modal">
                    These digital tools meet NHS quality standards for safety, usability and accessibility and are being tested now with NHS patients to see if there is sufficient evidence to provide them an NHS stamp of approval.
                  </div>
                  <img src="/images/circle-dots_dark-blue-1.png" class="tooltip__icon"> <span class="tooltip__title">Being Tested in the NHS</span>
                </div>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="ChillPanda" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1018/panda-icon.png?anchor=center&amp;mode=crop&amp;width=70&amp;height=70&amp;rnd=131360560850000000">
                <h3 class="cardrow__title"><a href="set6-details-chill-panda.html" class="cardrow-link">Chill Panda</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Learn to relax, manage your worries and improve your wellbeing with Chill Panda.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
                <div class="tooltip">
                  <div class="tooltip__modal">
                    These digital tools meet NHS quality standards for safety, usability and accessibility and are being tested now with NHS patients to see if there is sufficient evidence to provide them an NHS stamp of approval.
                  </div>
                  <img src="/images/circle-dots_dark-blue-1.png" class="tooltip__icon"> <span class="tooltip__title">Being Tested in the NHS</span>
                </div>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="BlueIce" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1272/data1skh-users-rohe4-my-pictures-blueice-icon.jpg?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131539190460000000">
                <h3 class="cardrow__title"><a href="set6-details-blue-ice.html" class="cardrow-link">BlueIce</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">BlueIce is an evidenced-based app to help young people manage their emotions and reduce urges to self-harm.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="SilverCloud" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1089/silvercloud_120x120.png?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131358903420000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">SilverCloud</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">SilverCloud is an online course to help people manage stress, anxiety and depression.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="Stress" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1047/stress-and-anxiety-companion-companion-app-logo.jpg?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131360383830000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">Stress &amp; Anxiety Companion</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Stress &amp; Anxiety Companion helps you handle stress and anxiety on-the-go.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="Leso" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1040/ieso-patient-sq.jpg?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131696601200000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">Leso</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Ieso is an online course using instant messaging for people with mental health problems.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="CatchIt" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1035/catchit_icon.jpg?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131359476130000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">Catch It</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Learn how to manage feelings like anxiety and depression with Catch It.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="BigWhiteWall" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1032/big-white-wall-app.jpg?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131584175640000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">Big White Wall</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Big White Wall is an online community for people who are stressed, anxious or feeling low.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="FearFighter" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1020/fearfighter-ccbtfull-120x120-72dpi.png?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131365509800000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">FearFighter</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">FearFighter is an online course for people who struggle with phobias, panic or anxiety.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="CalmHarm" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1249/calm_harm_logo.png?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131496013650000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">Calm Harm</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Calm Harm is an app designed to help people resist or manage the urge to self-harm.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="RallyRound" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1263/rr-icon-120.png?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131502034890000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">Rally Round</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Rally Round is a free and secure online tool that allows parents, other family members, friends and carers to organise support for a child with an illness or challenging behaviour. </p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth cardrow--type-onlinecommunity" data-name="RallyRoundolderpersonversion" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1263/rr-icon-120.png?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131502034890000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">Rally Round older person version</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Rally Round is a free and secure online tool that allows family, friends and carers to organise support for an older person.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="Cypher" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1268/cypher-logo.png?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131626564330000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">Cypher</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Cypher (formerly Silent Secret) is an anonymous peer-to-peer social network.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
                <div class="tooltip">
                  <div class="tooltip__modal">
                    These digital tools meet NHS quality standards for safety, usability and accessibility and are being tested now with NHS patients to see if there is sufficient evidence to provide them an NHS stamp of approval.
                  </div>
                  <img src="/images/circle-dots_dark-blue-1.png" class="tooltip__icon"> <span class="tooltip__title">Being Tested in the NHS</span>
                </div>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="BeMindful" style="display: block;">
                <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1288/logo.jpg?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131623938720000000">
                <h3 class="cardrow__title"><a href="set6-details.html" class="cardrow-link">Be Mindful</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">The Be Mindful course is an easy-to-follow web-based training programme that guides you through all the elements of mindfulness-based cognitive therapy.</p>
                <p class="cardrow__price" style="max-width: 100px;">Price: Free</p>
              </div>

            </div>















      </div>

      <p>&nbsp;</p>




      <div class="grid">
        <div class="column-one-half">

          <div class="callout callout--muted callout--small callout--mobile-accordion" style="margin-bottom: 24px;">
            <h4 class="callout__title">Had an adverse reaction?</h4>
            <p class="callout__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam justo sed nibh convallis, sit amet tincidunt felis fermentum. Proin blandit sapien turpis,

            </p>
          </div>

        </div>

        <div class="column-one-half">

          <div class="callout callout--muted callout--small callout--mobile-accordion" style="margin-bottom: 24px;">
            <h4 class="callout__title">Disclaimer</h4>
            <p class="callout__para">Use of the tools / apps presented in this library are not intended to be a substitute for a consultation with a healthcare professional. It is up to you to contact a healthcare professional if you are concerned about your health. See our full disclaimer here.</p>
          </div>

        </div>
      </div>



    </main>






    <footer class="global-footer" role="contentinfo">
      <div class="container">

        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>

        <ul class="link-list">
          <li><a href="#" target="_blank">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>

    <div class="feedback">
      <a href="https://docs.google.com/forms/d/1Ws6q7gGbYOGWLPNaf5IKOc0dWkVqgWMeYm09DtVD6tc" target="_blank">Feedback</a>
    </div>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>
    <script src="/javascripts/show-hide-content.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


    <script>


      /* Mobile only toggle fitlers */



      $('.filter-horz-mobile-action').on('click', function(e) {

        $( ".filter-horz--mobile-hide" ).slideToggle( "fast", function() {
          // Animation complete.
        });

        e.preventDefault();

      });


      /*  Filter toggle sections  */

      $('.filter-horz-section__title').on('click', function(e) {

        $(this).parent().toggleClass("is-open").siblings().removeClass("is-open");
        e.preventDefault();

      });



      /*  Mobile only close filter button  */

      $('.filter-section--mobile-close .button').on('click', function(e) {

        $(".filter-section--toggles, .filter-section--mobile-close").hide();
        e.preventDefault();

      });



      /*  Filters  */
      /*  1. Filter by "type"  */

      $('.filter-by-type .multiple-choice input').change(function() {

        var parentElement = $('.filter-by');
        var label = $(this).next().html();
        var val = $(this).val();

        if(this.checked) {

          // 1. add filter facet
          var link = parentElement.append('<div class=filter-by__item data= ' + val + '>' + label + '</div>');

          // 2. add link
          addLinks();


        } else {

          $(".filter-by__item[data=" + val + "]").remove();

        }

        setViewCards();
        numOfVisibleCards();
        //sortCards();

      });






      /*  2. Sorting  */
      //  <fieldset class="sort-by">
      //  default: sortby-default
      //  az:      sortby-az
      //  za:      sortby-za

      $('.sort-by .multiple-choice input').change(function() {

        var $container = $('#container'),
            $cardrow = $container.children('.cardrow');

        if($('#sortby-default').is(':checked')) {
          // do nothing
        } else if ($('#sortby-az').is(':checked')) {

          $cardrow.sort(function(a,b){
            var an = a.getAttribute('data-name'),
              bn = b.getAttribute('data-name');

            if(an > bn) {
              return 1;
            }
            if(an < bn) {
              return -1;
            }
            return 0;
          });

          $cardrow.detach().appendTo($container);

        } else if ($('#sortby-za').is(':checked')) {

          $cardrow.sort(function(a,b){
            var an = a.getAttribute('data-name'),
              bn = b.getAttribute('data-name');

              if(an < bn) {
                return 1;
              }
              if(an > bn) {
                return -1;
              }
              return 0;
          });

          $cardrow.detach().appendTo($container);

        }
      });







      function handler() {

        $(this).remove();

        getID = "#" + $(this).attr("data");
        $(getID).prop('checked', false);
        //alert(getID);

        setViewCards();
        numOfVisibleCards();

      }



      function addLinks() {

        $('.filter-by__item').each(function() {
          $(this).click(handler);
        });

      }



      function setViewCards() {

        // if filter-by-type
        $(".cardrow").hide();

        // Show filters if there are any being used
        // $(".filter-by").show();

        var $boxes = $('.multiple-choice input:checkbox:checked');
        var numberOfBoxes = $boxes.length;

        if (numberOfBoxes >= 1) {

          $boxes.each(function(){

              var tempPath = ".cardrow--" + $(this).attr('id');
              // console.log(tempPath);

              $(tempPath).show();

          });

        } else {

          // Show all cards
          $(".cardrow").show();

          // Hide filters if all cards are show
          // $(".filter-by").hide();

        }

      }



      $('.js-toggle-sort').on('click', function(e) {

        $(".js-pregancy").toggleClass("hide");
        e.preventDefault();

      });


      /*  Number count  */
      function numOfVisibleCards() {
        var num = $('.cardrow:visible').length;

        $('.js-count').html(num);

      }


      // Init
      setViewCards();
      numOfVisibleCards();


    </script>


  </body>
</html>
