<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / App Details</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>



    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>
        <!--
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/developer" id="proposition-name">NHS Apps Library</a>
              <ul id="proposition-links">
                <li><a href="/apps_library/set2-home.html" class="active">Apps Library</a></li>
                <li><a href="/developer/set2-home.html">Submit an app</a></li>
                <li><a href="/developer/set2-getting-started.html">Get started</a></li>
                <li><a href="/developer/set2-faqs.html">FAQs</a></li>
              </ul>
            </nav>
          </div>
        </div>
      -->
      </div>
    </header>


    <div id="global-header-bar"></div>

  <!--
    <div class="container">
      <div class="phase-banner" style="border-bottom:0;">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
  -->


    <main id="content" role="main">

      <div class="container">

        <div class="breadcrumbs">
          <ol>
            <li><a href="set7-home.html">Apps Library</a></li>
            <li><a href="set7-copd.html">COPD</a></li>
            <li aria-current="page">myCOPD</li>
          </ol>
        </div>

        <div class="app-header" style="background-image:url('/images/app-header-copd.png')">
          <div class="app-header__icon">
            <img src="/images/icon-copd.png">
          </div>
        </div>


        <div class="grid-row">

          <div class="column-two-thirds">

            <h1 class="heading-large">myCOPD</h1>

            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-copd.html" class="app-tags__item">COPD</a>
            </div>


            <p>myCOPD helps people with COPD to better manage their condition. Use it to perfect your inhaler technique, improve your breathing, reduce exacerbations, track your medication and more.</p>


            <ul class="apps-store">
              <li class="apps-store__item">
                <a href="#"><img src="/images/app-store-apple.png" class="apps-store-btn-apple"></a>
              </li>
              <li class="apps-store__item">
                <a href="#"><img src="/images/app-store-playstore.png" class="apps-store-btn-google"></a>
              </li>
            </ul>



            <h4 class="heading-medium">Gallery</h4>
            <div class="callout callout--attention">
              <div class="carousel">
                <div><img src="https://apps.beta.nhs.uk/media/1314/mycopd1.jpg" alt="Screenshot1 "></div>
                <div><img src="https://apps.beta.nhs.uk/media/1315/mycopd2.jpg" alt="Screenshot2" ></div>
                <div><img src="https://apps.beta.nhs.uk/media/1316/mycopd3.jpg" alt="Screenshot3" ></div>
              </div>
            </div>

            <h4 class="heading-medium">App details</h4>
            <table>
              <tr>
                <th>App developer</th>
                <td>myCOPD</td>
              </tr>
              <tr>
                <th>Price</th>
                <td>Free</td>
              </tr>
              <tr>
                <th>Available on</th>
                <td>Website  /  Mobile app</td>
              </tr>
            </table>


            <h4 class="heading-medium">Who is it suitable for?</h4>
            <p>myCOPD is suitable for all COPD (chronic obstructive pulmonary disease) patients at any stage of their disease.</p>

            <h4 class="heading-medium">How does it work?</h4>
            <p>The&nbsp;tool will help you manage your COPD&nbsp;independently and reduce your reliance on GP and hospital appointments.&nbsp;</p>
            <p>myCOPD has been shown to correct 98% of inhaler errors without any other clinical intervention, resulting in an improvement in quality of life.&nbsp;</p>
            <p>Once logged in, you will have access to a dashboard full of self-care tools and educational resources, including:&nbsp;</p>
            <ul class="list list-bullet">
              <li>inhaler videos</li>
              <li>breathing exercises</li>
              <li>medication diary</li>
              <li>symptom tracker</li>
            </ul>
            <p><span>Clinicians can also use myCOPD to check in with their patients remotely, track their condition, update medication and improve their overall care.</span></p>

            <h4 class="heading-medium">How do I access it?</h4>
            <p>The myCOPD app is free to download from the Apple Store.</p>
            <p>Alternatively you can contact your GP, COPD healthcare team or clinical commissioning group (CCG), to find out if myCOPD is available as a free NHS service in your area. If it is not, you can buy a lifetime licence for £20 from the supplier's website mymhealth.</p>
            <p>myCOPD can be accessed on any device that connects to the internet, such as a computer, smartphone or tablet.</p>

            <ul class="apps-store">
              <li class="apps-store__item">
                <a href="#"><img src="/images/app-store-apple.png" class="apps-store-btn-apple"></a>
              </li>
              <li class="apps-store__item">
                <a href="#"><img src="/images/app-store-playstore.png" class="apps-store-btn-google"></a>
              </li>
            </ul>

          </div>

          <div class="column-one-third">
            <div class="article_nav">
              <h2 class="article_nav__heading">COPD apps</h2>
              <hr>

              <ul class="article_nav__list">
                <li><a href="set7-details-copd.html">myCOPD</a></li>
                <li><a href="set7-copd.html" class="black">See all (1)</a></li>
              </ul>

            </div>
          </div>

        </div>

      </div>



      <h3 class="heading-medium">App categories</h3>
      <div class="callout callout--muted" style="margin-bottom: 24px; ">
        <div class="categories-lists">
          <ol class="categories-list categories-list--mobile-two-cols">
            <li>
              <h3><a href="#">Cancer</a></h3>
              <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
            </li>
            <li>
              <h3><a href="set7-copd.html">COPD</a></h3>
              <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
            </li>
            <li>
              <h3><a href="#">Dementia</a></h3>
              <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
            </li>
          </ol>
          <ol class="categories-list categories-list--mobile-two-cols">
            <li>
              <h3><a href="#">Dental</a></h3>
              <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
            </li>
            <li>
              <h3><a href="#">Diabetes</a></h3>
              <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
            </li>
            <li>
              <h3><a href="#">Healthy Living</a></h3>
              <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
            </li>
          </ol>
          <ol class="categories-list">
            <li>
              <h3><a href="set7-mental-health.html">Mental Health</a></h3>
              <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
            </li>
            <li>
              <h3><a href="#">Online Community</a></h3>
              <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
            </li>
            <li>
              <h3><a href="set7-pregancy.html">Pregnancy and Baby</a></h3>
              <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
            </li>
          </ol>
        </div>
      </div>

    </main>


    <footer class="global-footer" role="contentinfo">
      <div class="container">
        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>
        <ul class="link-list">
          <li><a href="set7-disclaimer.html" target="_blank">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>


    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>
    <script src="/javascripts/show-hide-content.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>

      // Carousel
      $(".carousel").slick({
        arrows: true,
        centerMode: true,
        responsive: true,
        centerPadding: false,
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1
      });

      // Fake the app launch
      $(".apps-store__item").click(function() {
        alert( "This action would leave this website and launch the app store. We are currently in prototyping so this link doesn't work" );
      });

    </script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Toggle the view on mobile -->
    <script>

    </script>


  </body>
</html>
