<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Homepage</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">

        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <!--
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_library" id="proposition-name">NHS Apps Library</a>
              <ul id="proposition-links">
                <li><a href="/apps_library/set7-home-v4.html" class="active">Apps Library</a></li>
                <li><a href="/developer/set7-home-v4.html">Submit an app</a></li>
                <li><a href="/developer/set7-getting-started.html">Get started</a></li>
                <li><a href="/developer/set7-faqs.html">FAQs</a></li>
              </ul>
            </nav>
          </div>
        </div>
        -->

      </div>
    </header>


    <div id="global-header-bar"></div>


    <main id="content" role="main">

      <div class="container">

        <div class="breadcrumbs">
          <ol>
            <li><a href="set7-home.html">Apps Library</a></li>
            <li aria-current="page">Mental Health</li>
          </ol>
        </div>


        <h1 class="heading-large">Mental Health Apps</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis</p>


        <div class="filter-horz" style="border-bottom: 0">

          <h3 class="heading-medium">16 Apps</h3>

        </div>





        <!-- CARDS -->
        <div id="container">

          <hr style="margin-bottom: 0px; margin-top: 0px;">

          <div class="cardrow cardrow--featured cardrow--type-healthyliving" data-name="EvergreenLife" style="display: none;">
            <div class="cardrow__featured" style="background-image:url('/images/app-header-evergreen.png')"></div>
            <a href="set7-mental-health.html" style="display:block;">
              <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1204/c-users-male8-desktop-evergreen-life-app-and-website-app-evergreen-life-app-logo.png?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131496149770000000">
            </a>
            <h3 class="cardrow__title"><a href="set7-details-evergreen.html" class="cardrow-link">Evergreen Life</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Evergreen Life is a personal health record app that stores your health information in one place.</p>
            <div class="tooltip">
              <div class="tooltip__modal">
                These digital tools meet NHS quality standards for safety, usability and accessibility and are being tested now with NHS patients to see if there is sufficient evidence to provide them an NHS stamp of approval.
              </div>
              <img src="/images/circle-dots_dark-blue-1.png" class="tooltip__icon"> <span class="tooltip__title">Being tested in the NHS</span>
            </div>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="Cove">
            <a href="set7-details-cove.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1014/cove-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359652470000000"></a>
            <h3 class="cardrow__title"><a href="set7-details-cove.html" class="cardrow-link">Cove</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Create music to capture your mood and express how you feel with the Cove app.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="ChillPanda">
            <a href="set7-details-panda.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1018/panda-icon.png?anchor=center&mode=crop&width=70&height=70&rnd=131360560850000000"></a>
            <h3 class="cardrow__title"><a href="set7-details-chill-panda.html" class="cardrow-link">Chill Panda</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Learn to relax, manage your worries and improve your wellbeing with Chill Panda.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="BlueIce">
            <a href="set7-details-blue-ice.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1272/data1skh-users-rohe4-my-pictures-blueice-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131539190460000000"></a>
            <h3 class="cardrow__title"><a href="set7-details-blue-ice.html" class="cardrow-link">BlueIce</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">BlueIce is an evidenced-based app to help young people manage their emotions and reduce urges to self-harm.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="SilverCloud">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1089/silvercloud_120x120.png?anchor=center&mode=crop&width=96&height=96&rnd=131358903420000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">SilverCloud</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">SilverCloud is an online course to help people manage stress, anxiety and depression.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="Stress">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1047/stress-and-anxiety-companion-companion-app-logo.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360383830000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Stress &amp; Anxiety Companion</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Stress &amp; Anxiety Companion helps you handle stress and anxiety on-the-go.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="Leso">
            <img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1040/ieso-patient-sq.jpg?anchor=center&amp;mode=crop&amp;width=96&amp;height=96&amp;rnd=131696601200000000">
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Leso</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Ieso is an online course using instant messaging for people with mental health problems.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="CatchIt">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1035/catchit_icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359476130000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Catch It</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Learn how to manage feelings like anxiety and depression with Catch It.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="BigWhiteWall">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1032/big-white-wall-app.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131584175640000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Big White Wall</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Big White Wall is an online community for people who are stressed, anxious or feeling low.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="FearFighter">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1020/fearfighter-ccbtfull-120x120-72dpi.png?anchor=center&mode=crop&width=96&height=96&rnd=131365509800000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">FearFighter</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">FearFighter is an online course for people who struggle with phobias, panic or anxiety.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="CalmHarm">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1249/calm_harm_logo.png?anchor=center&mode=crop&width=96&height=96&rnd=131496013650000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Calm Harm</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Calm Harm is an app designed to help people resist or manage the urge to self-harm.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="RallyRound">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1263/rr-icon-120.png?anchor=center&mode=crop&width=96&height=96&rnd=131502034890000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Rally Round</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Rally Round is a Price: Free and secure online tool that allows parents, other family members, friends and carers to organise support for a child with an illness or challenging behaviour. </p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth cardrow--type-onlinecommunity" data-name="RallyRoundolderpersonversion">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1263/rr-icon-120.png?anchor=center&mode=crop&width=96&height=96&rnd=131502034890000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Rally Round older person version</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Rally Round is a Price: Free and secure online tool that allows family, friends and carers to organise support for an older person.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="Cypher">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1268/cypher-logo.png?anchor=center&mode=crop&width=96&height=96&rnd=131626564330000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Cypher</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">Cypher (formerly Silent Secret) is an anonymous peer-to-peer social network.</p>
            <div class="tooltip">
              <div class="tooltip__modal">
                These digital tools meet NHS quality standards for safety, usability and accessibility and are being tested now with NHS patients to see if there is sufficient evidence to provide them an NHS stamp of approval.
              </div>
              <img src="/images/circle-dots_dark-blue-1.png" class="tooltip__icon"> <span class="tooltip__title">Being Tested in the NHS</span>
            </div>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--last cardrow--type-mentalhealth" data-name="BeMindful">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1288/logo.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131623938720000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Be Mindful</a></h3>
            <p class="cardrow__para" style="max-width: 580px;">The Be Mindful course is an easy-to-follow web-based training programme that guides you through all the elements of mindfulness-based cognitive therapy.</p>
            <div class="app-tags">
              <div class="app-tags__item app-tags__item--free">Free</div>
              <a href="set7-mental-health.html" class="app-tags__item">Mental health</a>
            </div>
          </div>

        </div>
      </div>

      <p>&nbsp;</p>




      <div class="callout callout--large callout--muted" style="margin-bottom: 24px;">

        <h3 class="heading-medium" style="margin-top:10px; margin-bottom:10px;">Find an app</h3>

        <form action="#" id="conditionsForm">
          <input id="example-conditions" placeholder="Search for health apps" class="form-control form-control--search" id="condition-f1" type="text" name="condition-f1" />
          <p class="font-xsmall" style="color: #737373"><i>For example pregnancy, diabetes or healthy living</i></p>
        </form>

        <p>&nbsp;</p>

        <div class="grid-row">
          <div class="column-one-half">
            <p>From booking GP appointments online to quitting smoking, we have apps to support all areas of your healthcare </p>
            <p>&nbsp;</p>
          </div>
          <div class="column-one-quarter">
            <ul class="list list-bullet" style="margin-bottom:0">
              <li><a href="#">Cancer</a></li>
              <li><a href="set7-copd.html">COPD</a></li>
              <li><a href="#">Dementia</a></li>
              <li><a href="#">Dental</a></li>
              <li><a href="#">Diabetes</a></li>
              <li><a href="#">Healthy Living</a></li>
            </ul>
          </div>
          <div class="column-one-quarter">
            <ul class="list list-bullet">
              <li><a href="#">Learning Disabilities</a></li>
              <li><a href="set7-mental-health.html">Mental Health</a></li>
              <li><a href="#">Online Community</a></li>
              <li><a href="#">Other</a></li>
              <li><a href="set7-pregancy.html">Pregnancy and Baby</a></li>
            </ul>
          </div>
        </div>

      </div>


      <div class="grid-row">
        <div class="column-one-half">
          <div class="callout callout--small callout--mobile-accordion" style="clear:both; margin-bottom: 24px;">
            <h4 class="callout__title">Had an adverse reaction?</h4>
            <p class="callout__para">If you’ve suffered an adverse reaction after using any of the apps listed here, please contact the developer directly and forward the details to NHS Digital at <a style="white-space:nowrap" href="mailto:m-health@nhs.net">m-health@nhs.net</a></p>
          </div>
        </div>
        <div class="column-one-half">
          <div class="callout callout--small callout--mobile-accordion" style="clear:both; margin-bottom: 24px;">
            <h4 class="callout__title">Disclaimer</h4>
            <p class="callout__para">The NHS Apps Library does not provide medical advice and is not a substitute for a medical consultation &nbsp; <a href="https://apps.beta.nhs.uk/disclaimer/">Read more</a></p>
          </div>
        </div>
      </div>



    </main>






    <footer class="global-footer" role="contentinfo">
      <div class="container">

        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>

        <ul class="link-list">
          <li><a href="#" target="_blank">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>

    <div class="feedback">
      <a href="https://docs.google.com/forms/d/1Ws6q7gGbYOGWLPNaf5IKOc0dWkVqgWMeYm09DtVD6tc" target="_blank">Feedback</a>
    </div>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>
    <script src="/javascripts/show-hide-content.js"></script>
    <script src="/javascripts/jquery.easy-autocomplete.min.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


    <script>

      // Hack
      $('#example-conditions').removeAttr('style');

      /* Mobile only toggle fitlers */

      var options = {

        url: "/javascripts/conditions.json",
        adjustWidth: false,

        categories: [{
            listLocation: "pregancy",
            maxNumberOfElements: 4,
            header: "Pregancy"
        }, {
            listLocation: "mental health",
            maxNumberOfElements: 4,
            header: "Mental Health"
        }, {
            listLocation: "healthy living",
            maxNumberOfElements: 4,
            header: "Healthy Living"
        }],

        getValue: function(element) {
            return element.condition;
            return element.website;

        },

        template: {
            type: "description",
            fields: {
                description: "details"
            }
        },

        list: {
            maxNumberOfElements: 8,
            match: {
                enabled: true
            },
            sort: {
                enabled: true
            }, onClickEvent: function() {

              var websiteSelected = $("#example-conditions").getSelectedItemData().website;
              window.location.href = websiteSelected;
              //alert(websiteSelected);

          }
        },

        theme: "square"

      };

      $("#example-conditions").easyAutocomplete(options);


    </script>


  </body>
</html>
