<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Homepage</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">

        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <!--
        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_library" id="proposition-name">NHS Apps Library</a>
              <ul id="proposition-links">
                <li><a href="/apps_library/set7-home-v4.html" class="active">Apps Library</a></li>
                <li><a href="/developer/set7-home-v4.html">Submit an app</a></li>
                <li><a href="/developer/set7-getting-started.html">Get started</a></li>
                <li><a href="/developer/set7-faqs.html">FAQs</a></li>
              </ul>
            </nav>
          </div>
        </div>
        -->

      </div>
    </header>


    <div id="global-header-bar"></div>


    <main id="content" role="main">

      <div class="container">

        <h1 class="heading-large">NHS Apps Library</h1>
        <p>We provide links to health and well-being apps that are proven to treat, manage or organise your healthcare.</p>



        <!-- TABS -->
        <div class="js-tabs tabs-nav--grey tabs-nav--2tabs">
          <ul class="tabs-nav" role="tablist" style="margin-bottom: 0">
            <li class="tabs-nav__item tabs-nav__item--active">
              <a tabindex="0" href="#" class="tabs-link js-tab-search" role="tab">Search</a>
            </li>
            <li class="tabs-nav__item">
              <a tabindex="1" href="#" class="tabs-link js-tab-category" role="tab">By Category</a>
            </li>
          </ul>
        </div>


        <!-- TAB 1 - SEARCH -->
        <div class="js-tab-content-search callout callout--muted" style="margin-bottom: 24px;">
          <form action="#" id="conditionsForm">
            <div class="form-group">
              <label class="form-label mobile-hide" for="condition-f1"><span class="heading-medium">Search for a condition</span></label>
              <input id="example-conditions" placeholder="Search for conditions" class="form-control form-control--search" id="condition-f1" type="text" name="condition-f1" />
            </div>
            <p class="font-xsmall" style="margin:0"><i>For example pregnancy or diabetes</i></p>
          </form>
        </div>


        <!-- TAB 2 - Category -->
        <div class="js-tab-content-category callout callout--muted" style="margin-bottom: 24px; display: none">
          <div class="categories-lists">
            <ol class="categories-list categories-list--mobile-two-cols">
              <li>
                <h3><a href="#">Cancer</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="set7-copd.html">COPD</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="#">Dementia</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
            </ol>
            <ol class="categories-list categories-list--mobile-two-cols">
              <li>
                <h3><a href="#">Dental</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="#">Diabetes</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="#">Healthy Living</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
            </ol>
            <ol class="categories-list">
              <li>
                <h3><a href="set7-mental-health.html">Mental Health</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="#">Online Community</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
              <li>
                <h3><a href="set7-pregancy.html">Pregnancy and Baby</a></h3>
                <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
              </li>
            </ol>
          </div>
        </div>




        <!-- THIS IS HORRIBLE - IF THIS STICKS REWORK -->
        <div>
          <a href="#" class="js-filter" style="float: right" id="filterBtn">Filter &amp; Sort</a>
          <h1 class="heading-medium" style="margin:0">49 Apps</h1>
        </div>

        <div class="filter-by" style="display: none">
          <!-- <div class="filter-by__item">Apple iOS (46)</div>-->
        </div>

        <!--
        <table>
          <tr>
            <td style="width: 18%; white-space: nowrap; border-bottom: 0"><label for="select-box">Sort by &nbsp;</label></td>
            <td style="border-bottom: 0">
              <select class="form-control" id="select-box" name="select-box" style="width: 100%">
               <option>Relevence</option>
               <option>Price low to high</option>
               <option>Price high to low</option>
               <option>Alphabetic A/Z</option>
               <option>Alphabetic Z/A</option>
             </select>
           </td>
         </tr>
        </table>
        -->

        <hr style="margin-bottom: 0; margin-top: 20px">





        <!-- CARDS -->
        <div id="container">





          <div class="cardrow cardrow--type-copd" data-name="myCOPD">
            <a href="set7-details-copd.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1170/mycopd.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131708584730000000"></a>
            <h3 class="cardrow__title"><a href="set7-details-copd.html" class="cardrow-link">myCOPD</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">myCOPD helps people with COPD to better manage their condition.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--paid">&pound;20. Free in some areas</div>
              <a href="set7-copd.html" class="cardrow-tag">COPD</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="Cove">
            <a href="set7-details-cove.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1014/cove-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359652470000000"></a>
            <h3 class="cardrow__title"><a href="set7-details-cove.html" class="cardrow-link">Cove</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Create music to capture your mood and express how you feel with the Cove app.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="ChillPanda">
            <a href="set7-details-panda.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1018/panda-icon.png?anchor=center&mode=crop&width=70&height=70&rnd=131360560850000000"></a>
            <h3 class="cardrow__title"><a href="set7-details-chill-panda.html" class="cardrow-link">Chill Panda</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Learn to relax, manage your worries and improve your wellbeing with Chill Panda.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-other cardrow--publisher-independent" data-name="Healthera">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1310/healthera_logo_120x120.jpg?anchor=center&mode=crop&width=70&height=70&rnd=131695748770000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Healthera</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">The Healthera app helps you get the most out of your local pharmacy services.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-other" data-name="engage">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1306/engage-120x120-72dpi.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131695706460000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">engage warfarin self-care</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Patients receiving treatment to prevent blood clots can use the engage self-care app to self-test safely and conveniently.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-pregnancyandbaby" data-name="KicksCount">
            <a href="set7-details-kick-count.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1298/logo.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131654217710000000"></a>
            <h3 class="cardrow__title"><a href="set7-details-kick-count.html" class="cardrow-link">Kicks Count</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Use the Kicks Count app to keep track of your baby's movements in the womb and look out for any changes.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Pregnancy and baby</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-other cardrow--publisher-nhsengland" data-name="NHSOnlineBexley">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1303/nhs_online_bexley_-_logo.png?center=0.26580459770114945,0.52806122448979587&mode=crop&width=96&height=96&rnd=131673112020000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">NHS Online Bexley</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Consult your GP online, book an appointment, order a prescription and much more using the NHS Online Bexley app.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="BlueIce">
            <a href="set7-details-blue-ice.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1272/data1skh-users-rohe4-my-pictures-blueice-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131539190460000000"></a>
            <h3 class="cardrow__title"><a href="set7-details-blue-ice.html" class="cardrow-link">BlueIce</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">BlueIce is an evidenced-based app to help young people manage their emotions and reduce urges to self-harm.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-healthyliving" data-name="Change4LifeFoodScanner">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1039/food-scanner.webp?anchor=center&mode=crop&width=120&height=120&rnd=131614475780000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Change4Life Food Scanner</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">The Change4Life Food Scanner app lets you look up the sugar, saturated fat and salt in everyday foods and drinks.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Healthy living</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-healthyliving" data-name="Active10walkingtracker">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1205/c-users-stsh3-desktop-active-10_icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131496032910000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Active 10 walking tracker</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">The Active 10 app will help you get into the habit of walking briskly for 10 minutes every day.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Healthy living</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-other" data-name="PatientsKnowBest">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1191/logo_appslibrary.png?anchor=center&mode=crop&width=96&height=96&rnd=131388020220000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Patients Know Best</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Patients Know Best works with the NHS to give patients instant access to their medical records.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-learningdisabilities" data-name="MyChoicePad">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1091/my-choice-pad.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360396300000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">MyChoicePad</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">MyChoicePad helps people with learning disabilities communicate better.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--paid">&pound;4.99 a month</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Learning disabilities</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-onlinecommunity" data-name="HealthUnlocked">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1090/health-unlocked-app.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360339450000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">HealthUnlocked</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Find and connect with people with a similar health condition using HealthUnlocked.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Online community</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="SilverCloud">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1089/silvercloud_120x120.png?anchor=center&mode=crop&width=96&height=96&rnd=131358903420000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">SilverCloud</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">SilverCloud is an online course to help people manage stress, anxiety and depression.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-dementia" data-name="TalkingPoint">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1054/data1skh-users-rohe4-as_logo_stnd_pos_rgb_eng.png?anchor=center&mode=crop&width=96&height=96&rnd=131469409650000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Talking Point</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Talking Point is an online community for anyone affected by dementia.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Dimentia</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="Stress">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1047/stress-and-anxiety-companion-companion-app-logo.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360383830000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Stress &amp; Anxiety Companion</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Stress &amp; Anxiety Companion helps you handle stress and anxiety on-the-go.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Mental health</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-cancer" data-name="OWisebreastcancer">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1045/owise-icon120.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360361690000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">OWise breast cancer</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Use the OWise breast cancer app to keep track of your treatment and your wellbeing.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Cancer</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-learningdisabilities" data-name="MyHealthGuide">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1043/my-health-guide-logo.png?anchor=center&mode=crop&width=96&height=96&rnd=131358901020000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">My Health Guide</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">My Health Guide is an easy-to-use communication tool for adults with learning disabilities.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Learning disabilites</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-diabetes" data-name="mumoActive">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1042/mumoactive.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359614320000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">mumoActive</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">mumoActive makes tracking your type 1 diabetes quick and easy so you can get on with your life.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Diabetes</a>
            </div>
          </div>

          <div class="cardrow cardrow--type-mentalhealth" data-name="Leso">
            <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1040/ieso-patient-sq.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131696601200000000"></a>
            <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Leso</a></h3>
            <p class="cardrow__para" style="max-width: 680px;">Ieso is an online course using instant messaging for people with mental health problems.</p>
            <div class="cardrow__tags">
              <div class="cardrow-tag cardrow-tag--free">Free</div>
              <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
            </div>
          </div>

          <div style="display: none;" class="js-fake-loader">

            <div class="cardrow cardrow--type-healthyliving" data-name="Change4LifeFoodScanner">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1039/food-scanner.webp?anchor=center&mode=crop&width=120&height=120&rnd=131614475780000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Change4Life Food Scanner</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">The Change4Life Food Scanner app lets you look up the sugar, saturated fat and salt in everyday foods and drinks.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

            <div class="cardrow cardrow--type-healthyliving" data-name="EasyMeals">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1038/easy-meals-1.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359746940000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Easy Meals</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">Plan and eat healthier meals with the Easy Meals recipe app.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

            <div class="cardrow cardrow--type-healthyliving" data-name="DrinksTracker">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1037/drinks-tracker-1.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359746430000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Drinks Tracker</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">Use this easy-to-use drinks tracker to stay in control of how much alcohol you drink.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

            <div class="cardrow cardrow--type-healthyliving" data-name="Couchto5K">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1036/c25k.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359734650000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Couch to 5K</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">Couch to 5K is designed to get you off the couch and running 5km in just nine weeks.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

            <div class="cardrow cardrow--type-mentalhealth" data-name="CatchIt">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1035/catchit_icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359476130000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Catch It</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">Learn how to manage feelings like anxiety and depression with Catch It.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

            <div class="cardrow cardrow--type-dental" data-name="BrushDJ">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1033/brush-dj-logo-2016-non-rounded-edges-120-x-120-png.png?anchor=center&mode=crop&width=96&height=96&rnd=131360481870000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Brush DJ</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">Brush DJ plays two minutes of your music so you brush your teeth for the right amount of time.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

            <div class="cardrow cardrow--type-mentalhealth" data-name="BigWhiteWall">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1032/big-white-wall-app.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131584175640000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Big White Wall</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">Big White Wall is an online community for people who are stressed, anxious or feeling low.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

            <div class="cardrow cardrow--type-healthyliving" data-name="BMIcalculator">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1009/bmi_.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359646750000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">BMI calculator</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">Use the NHS body mass index calculator to measure and track your weight.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

            <div class="cardrow cardrow--type-mentalhealth" data-name="FearFighter">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1020/fearfighter-ccbtfull-120x120-72dpi.png?anchor=center&mode=crop&width=96&height=96&rnd=131365509800000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">FearFighter</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">FearFighter is an online course for people who struggle with phobias, panic or anxiety.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

            <div class="cardrow cardrow--type-healthyliving" data-name="SmartRecipes">
              <a href="set7-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1174/smart-recipes.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359735100000000"></a>
              <h3 class="cardrow__title"><a href="set7-details.html" class="cardrow-link">Smart Recipes</a></h3>
              <p class="cardrow__para" style="max-width: 680px;">Search over 160 easy, calorie-counted recipes across breakfast, lunch, dinner, dessert and snacks with Smart Recipes.</p>
              <div class="cardrow__tags">
                <div class="cardrow-tag cardrow-tag--free">Free</div>
                <a href="set7-mental-health.html" class="cardrow-tag">Other</a>
              </div>
            </div>

          </div>

          <div style="text-align: center; padding: 40px 0">
            <a href="#" class="js-fake-loader-btn button button--blue">Load more apps</a>
          </div>


          <div class="grid">
            <div class="column-full">

              <h3 class="heading-medium">App categories</h3>
              <div class="callout callout--muted" style="margin-bottom: 24px; ">
                <div class="categories-lists">
                  <ol class="categories-list categories-list--mobile-two-cols">
                    <li>
                      <h3><a href="#">Cancer</a></h3>
                      <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
                    </li>
                    <li>
                      <h3><a href="#">COPD</a></h3>
                      <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
                    </li>
                    <li>
                      <h3><a href="#">Dementia</a></h3>
                      <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
                    </li>
                  </ol>
                  <ol class="categories-list categories-list--mobile-two-cols">
                    <li>
                      <h3><a href="#">Dental</a></h3>
                      <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
                    </li>
                    <li>
                      <h3><a href="#">Diabetes</a></h3>
                      <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
                    </li>
                    <li>
                      <h3><a href="#">Healthy Living</a></h3>
                      <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
                    </li>
                  </ol>
                  <ol class="categories-list">
                    <li>
                      <h3><a href="set7-mental-health.html">Mental Health</a></h3>
                      <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
                    </li>
                    <li>
                      <h3><a href="#">Online Community</a></h3>
                      <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
                    </li>
                    <li>
                      <h3><a href="set7-pregancy.html">Pregnancy and Baby</a></h3>
                      <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in risus convallis </p>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>



          <div class="grid">
            <div class="column-one-half">
              <div class="callout callout--small callout--mobile-accordion" style="clear:both; margin-bottom: 24px;">
                <h4 class="callout__title">Had an adverse reaction?</h4>
                <p class="callout__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam justo sed nibh convallis, sit amet tincidunt felis fermentum. Proin blandit sapien turpis,</p>
                <ul class="callout__list list list-number">
                  <li>Contact the developer</li>
                  <li>Forward the details to <a href="mailto:m-health@nhs.net">m-health@nhs.net</a></li>
                </ul>
              </div>
            </div>
            <div class="column-one-half">
              <div class="callout callout--small callout--mobile-accordion" style="clear:both; margin-bottom: 24px;">
                <h4 class="callout__title">Disclaimer</h4>
                <p class="callout__para">Our rigorous assessment makes sure only safe, secure and effective apps are published on our library. &nbsp; <a href="set5-how-we-review-apps.html">Read more</a></p>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="column-full">
              <div class="callout callout--small callout--mobile-accordion" style="clear:both; margin-bottom: 24px;">
                <h4 class="callout__title">How we review apps</h4>
                <p class="callout__para">Use of the tools / apps presented in this library are not intended to be a substitute for a consultation with a healthcare professional. It is up to you to contact a healthcare professional if you are concerned about your health. <a href="set7-how-we-review-apps.html">Find out more</a> </p>
              </div>
            </div>
          </div>


        </div>
      </div>






    </main>






    <footer class="global-footer" role="contentinfo">
      <div class="container">
        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>
        <ul class="link-list">
          <li><a href="#" target="_blank">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>

    <div class="feedback">
      <a href="https://docs.google.com/forms/d/1Ws6q7gGbYOGWLPNaf5IKOc0dWkVqgWMeYm09DtVD6tc" target="_blank">Feedback</a>
    </div>

    <div id="global-app-error" class="app-error hidden"></div>









    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">

        <span class="close">&times;</span>
        <h3 class="modal-title">Filter &amp; Sort</h3>

        <div class="modal-inner">
          <div class="grid">
            <div class="column-one-third" style="padding-bottom: 20px">
              <fieldset class="fieldset-price">
                <legend>
                  <h4 class="heading-medium">Price</h4>
                </legend>
                <div class="multiple-choice">
                  <input id="free" name="price" type="checkbox" value="Free">
                  <label for="free">Free</label>
                </div>
                <div class="multiple-choice">
                  <input id="paid" name="price" type="checkbox" value="Paid">
                  <label for="paid">Paid</label>
                </div>
                <div class="multiple-choice">
                  <input id="in-app" name="price" type="checkbox" value="In app purchase">
                  <label for="in-app">In app purchase</label>
                </div>
              </fieldset>
            </div>

            <div class="column-one-third" style="padding-bottom: 20px">
              <fieldset class="fieldset-device">
                <legend>
                  <h4 class="heading-medium">Device</h4>
                </legend>
                <div class="multiple-choice">
                  <input id="store-1" name="store-1" type="checkbox" value="Apple App Store">
                  <label for="store-1">Apple App Store</label>
                </div>
                <div class="multiple-choice">
                  <input id="store-2" name="store-2" type="checkbox" value="Google Play Store">
                  <label for="store-2">Google Play Store</label>
                </div>
                <div class="multiple-choice">
                  <input id="store-3" name="store-3" type="checkbox" value="Microsoft">
                  <label for="store-3">Microsoft</label>
                </div>
                <div class="multiple-choice">
                  <input id="store-4" name="store-4" type="checkbox" value="Web">
                  <label for="store-4">Web based</label>
                </div>
              </fieldset>
            </div>

            <div class="column-one-third" style="padding-bottom: 20px">
              <fieldset>
                <legend>
                  <h4 class="heading-medium">Sort by</h4>
                </legend>
                <div class="multiple-choice">
                  <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes" checked="checked">
                  <label for="radio-inline-1">A/Z</label>
                </div>
                <div class="multiple-choice">
                  <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                  <label for="radio-inline-2">Z/A</label>
                </div>
              </fieldset>
            </div>


          </div>
        </div>


        <div class="modal-footer">
          <a href="#" class="button button--blue button--large" id="js-update-filter">Update</a>
        </div>

      </div>
    </div>






    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>
    <script src="/javascripts/show-hide-content.js"></script>
    <script src="/javascripts/jquery.easy-autocomplete.min.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <script>

      // Hack
      $('#example-conditions').removeAttr('style');

      /* Mobile only toggle fitlers */

      var options = {

        url: "/javascripts/conditions.json",

        categories: [{
            listLocation: "pregancy",
            maxNumberOfElements: 4,
            header: "Pregancy"
        }, {
            listLocation: "mental health",
            maxNumberOfElements: 4,
            header: "Mental Health"
        }],

        getValue: function(element) {
            return element.condition;
            return element.website;

        },

        template: {
            type: "description",
            fields: {
                description: "details"
            }
        },

        list: {
            maxNumberOfElements: 8,
            match: {
                enabled: true
            },
            sort: {
                enabled: true
            }, onClickEvent: function() {

              var websiteSelected = $("#example-conditions").getSelectedItemData().website;
              window.location.href = websiteSelected;
              //alert(websiteSelected);

          }
        },

        theme: "square"

      };

      $("#example-conditions").easyAutocomplete(options);



      // Modal

      // Get the modal
      var modal = document.getElementById('myModal');

      // Get the button that opens the modal
      var btn = document.getElementById("filterBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on the button, open the modal
      btn.onclick = function() {
          modal.style.display = "block";
          $("html").addClass("no-scroll");

      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modal.style.display = "none";
          $("html").removeClass("no-scroll");
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }

      // If we're on mobile set modal-inner to fixed height
      var pageHeight = $(window).height();
      var pageWidth = $(window).width();

      var mobileOffset = 220;



      if (pageWidth < 600) {

        $(".modal-inner").css("height", pageHeight - mobileOffset);
      }



      // Filters
      $("#js-update-filter").click(function() {

        // Remove the modal
        modal.style.display = "none";
        $("html").removeClass("no-scroll");

        // Check the checkboxes
        var count = 0;
        var price = $(".fieldset-price");
        var device = $(".fieldset-device");
        var filterBy = $(".filter-by");

        $('input[type=checkbox]').each(function () {
            //var sThisVal = ( ? "1" : "0");
            //sList += (sList=="" ? sThisVal : "," + sThisVal);
            if (this.checked) {

              count = count + 1;

              // 1. add filter facet
              filterBy.append("<div class=filter-by__item>" + $(this).val() + "</div>");

              // 2. add link
              addLinks();

            };

        });

        if (count > 0 ) {
          $(".filter-by").show();
          $(".js-filter").text("Filter & Sort (" + count + ")");
        } else {
          $(".filter-by").hide();
          $(".js-filter").text("Filter & Sort");
        }

        //alert(count);

      });

      // Handler for facet
      function facetHandler() {

        $(this).remove();

        if (count > 0 ) {
          $(".filter-by").show();
          $(".js-filter").text("Filter & Sort (" + count + ")");
        } else {
          $(".filter-by").hide();
          $(".js-filter").text("Filter & Sort");
        }

        //getID = "#" + $(this).attr("data");
        //$(getID).prop('checked', false);
        //alert(getID);

      }


      // Add links to filter facets
      function addLinks() {

        $('.filter-by__item').each(function() {
          $(this).click(facetHandler);
        });

      }



      // Fake loader
      $(".js-fake-loader-btn").click(function(e) {
        $(".js-fake-loader").show();
        $(this).hide();
        e.preventDefault();
      });


      // TABS
      $(".js-tab-category").click(function(e) {
        $(".tabs-nav__item").removeClass("tabs-nav__item--active");
        $(this).parent().addClass("tabs-nav__item--active");

        $(".js-tab-content-category").show();
        $(".js-tab-content-search").hide();

        e.preventDefault();
      });

      $(".js-tab-search").click(function(e) {
        $(".tabs-nav__item").removeClass("tabs-nav__item--active");
        $(this).parent().addClass("tabs-nav__item--active");

        $(".js-tab-content-category").hide();
        $(".js-tab-content-search").show();

        e.preventDefault();
      });





    </script>

  </body>
</html>
