<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Homepage</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="grey-bg">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" class="header-new">
      <div class="header-new__inner">

        <a href="index.html" class="nhsuk-logo">
          <svg xmlns="http://www.w3.org/2000/svg" aria-labelledby="nhsuk-logo-title" role="img" width="100" height="40" style="margin:0">
            <title id="nhsuk-logo-title">NHS logo</title>
            <g fill-rule="nonzero" fill="none">
              <path fill="#FFF" d="M0 39.842h98.203V0H0z"></path>
              <path fill="#0058AD" d="M9.548 3.817H20.16l6.52 22.08h.09l4.465-22.08h8.021l-6.74 31.84H21.939l-6.65-22.032h-.09l-4.424 22.031H2.754l6.794-31.84M42.4 3.817h8.518l-2.502 12.18h10.069l2.508-12.18h8.519l-6.61 31.84h-8.518l2.826-13.638H47.135L44.31 35.656h-8.518L42.4 3.816M91.93 11.025c-1.64-.773-3.873-1.457-7.016-1.457-3.37 0-6.106.498-6.106 3.056 0 4.512 12.35 2.828 12.35 12.499 0 8.802-8.16 11.085-15.54 11.085-3.281 0-7.065-.78-9.842-1.648l2.006-6.477c1.682 1.096 5.058 1.827 7.835 1.827 2.646 0 6.789-.503 6.789-3.786 0-5.111-12.35-3.194-12.35-12.176 0-8.214 7.202-10.676 14.176-10.676 3.92 0 7.608.413 9.75 1.413l-2.052 6.34"></path>
            </g>
            <image class="nhsuk-logo nhsuk-logo__fallback" src="/images/nhs-logo.png" xlink:href=""></image>
          </svg>
        </a>

        <hr class="header-new-divider">

        <h1 class="header-new-heading heading-large">NHS Apps Library</h1>
        <p class="header-new-copy">We provide links to health and wellbeing apps that can help you to treat, manage or organise your healthcare.</p>

        <form action="set8-search-results.html" id="conditionsForm">
          <input id="example-conditions" placeholder="Search for health apps" class="form-control form-control--search" id="condition-f1" type="text" name="condition-f1" />
          <p class="header-new-copy"><i>For example pregnancy, diabetes or an app name</i></p>
        </form>

      </div>
    </header>





    <main id="content" role="main">

      <div class="container">


        <div class="grid-row">
          <div class="column-two-thirds mobile-column-one-half">
            <h2 class="heading-medium" style="margin: 8px 0 0px;">70 apps</h2>
          </div>
          <div class="column-one-third mobile-column-one-half">
            <label class="form-label js-hidden" for="select-box">View by:</label>
            <select class="form-control" id="select-box" name="select-box" style="width: 100%">
              <option value="set8-home.html" selected>By category</option>
              <option value="set8-home-by-name.html">See all apps</option>
            </select>
          </div>
        </div>


        <hr style="margin-bottom: 8px; margin-top: 8px">

        <div class="grid-row" style="margin-bottom: 24px;">

          <div class="column-two-thirds">

            <!-- CARDS -->
            <div id="container">


              <a href="#" class="cardrow-title">Cancer</a>

              <div class="cardrow cardrow--type-cancer cardrow--last" data-name="OWisebreastcancer">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1045/owise-icon120.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360361690000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">OWise breast cancer</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">Use the OWise breast cancer app to keep track of your treatment and your wellbeing.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Cancer</a>
                </div>
              </div>




              <a href="set8-copd.html" class="cardrow-title">COPD</a>

              <div class="cardrow cardrow--type-copd cardrow--last" data-name="myCOPD">
                <a href="set8-details-copd.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1170/mycopd.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131708584730000000"></a>
                <h3 class="cardrow__title"><a href="set8-details-copd.html" class="cardrow-link">myCOPD</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">myCOPD helps people with COPD to better manage their condition.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--paid">&pound;20. Free in some areas</div>
                  <a href="set8-copd.html" class="app-tags__item">COPD</a>
                </div>
              </div>



              <a href="#" class="cardrow-title">Dementia</a>

              <div class="cardrow cardrow--type-dementia cardrow--last" data-name="TalkingPoint">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1054/data1skh-users-rohe4-as_logo_stnd_pos_rgb_eng.png?anchor=center&mode=crop&width=96&height=96&rnd=131469409650000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">Talking Point</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">Talking Point is an online community for anyone affected by dementia.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Dimentia</a>
                </div>
              </div>



              <a href="#" class="cardrow-title">Dental</a>

              <div class="cardrow cardrow--type-dental cardrow--last" data-name="BrushDJ">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1033/brush-dj-logo-2016-non-rounded-edges-120-x-120-png.png?anchor=center&mode=crop&width=96&height=96&rnd=131360481870000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">Brush DJ</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">Brush DJ plays two minutes of your music so you brush your teeth for the right amount of time.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Other</a>
                </div>
              </div>


              <a href="#" class="cardrow-title">Diabetes</a>

              <div class="cardrow cardrow--type-diabetes" data-name="mumoActive">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1042/mumoactive.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359614320000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">mumoActive</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">mumoActive makes tracking your type 1 diabetes quick and easy so you can get on with your life.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Diabetes</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-diabetes cardrow--last" data-name="GDm-Health">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1220/logo-1.png?center=0.50241545893719808,0.50241545893719808&mode=crop&width=70&height=70&rnd=131496147650000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">GDm-Health</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">GDm-Health allows pregnant women to track their blood glucose levels and stay in touch with their healthcare team.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Diabetes</a>
                </div>
              </div>



              <a href="#" class="cardrow-title">Healthly living</a>

              <div class="cardrow cardrow--type-healthyliving" data-name="Active10walkingtracker">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1205/c-users-stsh3-desktop-active-10_icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131496032910000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">Active 10 walking tracker</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">The Active 10 app will help you get into the habit of walking briskly for 10 minutes every day.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Healthy living</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-healthyliving" data-name="Change4LifeFoodScanner">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1039/food-scanner.webp?anchor=center&mode=crop&width=120&height=120&rnd=131614475780000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">Change4Life Food Scanner</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">The Change4Life Food Scanner app lets you look up the sugar, saturated fat and salt in everyday foods and drinks.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Healthy living</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-healthyliving cardrow--last" data-name="EvergreenLife">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1204/c-users-male8-desktop-evergreen-life-app-and-website-app-evergreen-life-app-logo.png?anchor=center&mode=crop&width=70&height=70&rnd=131496149770000000"></a>
                <h3 class="cardrow__title"><a href="set8-details-evergreen.html" class="cardrow-link">Evergreen Life</a></h3>
                <p class="cardrow__para" style="max-width: 580px;">Evergreen Life is a personal health record app that stores your health information in one place.</p>
                <div class="tooltip">
                  <div class="tooltip__modal">
                    These digital tools meet NHS quality standards for safety, usability and accessibility and are being tested now with NHS patients to see if there is sufficient evidence to provide them an NHS stamp of approval.
                  </div>
                  <img src="/images/circle-dots_dark-blue-1.png" class="tooltip__icon"> <span class="tooltip__title">Being tested in the NHS</span>
                </div>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Mental health</a>
                </div>
              </div>




              <a href="#" class="cardrow-title">Learning Disabilities</a>

              <div class="cardrow cardrow--type-learningdisabilities" data-name="MyChoicePad">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1091/my-choice-pad.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360396300000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">MyChoicePad</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">MyChoicePad helps people with learning disabilities communicate better.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--paid">&pound;4.99 a month</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Learning disabilities</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-learningdisabilities cardrow--last" data-name="MyHealthGuide">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1043/my-health-guide-logo.png?anchor=center&mode=crop&width=96&height=96&rnd=131358901020000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">My Health Guide</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">My Health Guide is an easy-to-use communication tool for adults with learning disabilities.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Learning disabilites</a>
                </div>
              </div>



              <a href="set8-mental-health.html" class="cardrow-title">Mental Health</a>

              <div class="cardrow cardrow--type-mentalhealth" data-name="Cove">
                <a href="set8-details-cove.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1014/cove-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359652470000000"></a>
                <h3 class="cardrow__title"><a href="set8-details-cove.html" class="cardrow-link">Cove</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">Create music to capture your mood and express how you feel with the Cove app.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Mental health</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-mentalhealth" data-name="ChillPanda">
                <a href="set8-details-panda.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1018/panda-icon.png?anchor=center&mode=crop&width=70&height=70&rnd=131360560850000000"></a>
                <h3 class="cardrow__title"><a href="set8-details-chill-panda.html" class="cardrow-link">Chill Panda</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">Learn to relax, manage your worries and improve your wellbeing with Chill Panda.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Mental health</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-mentalhealth cardrow--last" data-name="BlueIce">
                <a href="set8-details-blue-ice.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1272/data1skh-users-rohe4-my-pictures-blueice-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131539190460000000"></a>
                <h3 class="cardrow__title"><a href="set8-details-blue-ice.html" class="cardrow-link">BlueIce</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">BlueIce is an evidenced-based app to help young people manage their emotions and reduce urges to self-harm.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Mental health</a>
                </div>
              </div>




              <a href="#" class="cardrow-title">Online Community</a>

              <div class="cardrow cardrow--type-onlinecommunity" data-name="HealthUnlocked">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1090/health-unlocked-app.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360339450000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">HealthUnlocked</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">Find and connect with people with a similar health condition using HealthUnlocked.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Online community</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-onlinecommunity cardrow--last" data-name="RallyRound">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1264/rr-icon-120.png?anchor=center&mode=crop&width=70&height=70&rnd=131502037220000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">Rally Round older person version</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">Rally Round is a free and secure online tool that allows family, friends and carers to organise support for an older person.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Online community</a>
                </div>
              </div>



              <a href="#" class="cardrow-title">Other</a>

              <div class="cardrow cardrow--type-other cardrow--publisher-independent" data-name="Healthera">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1310/healthera_logo_120x120.jpg?anchor=center&mode=crop&width=70&height=70&rnd=131695748770000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">Healthera</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">The Healthera app helps you get the most out of your local pharmacy services.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Other</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-other" data-name="engage">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1306/engage-120x120-72dpi.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131695706460000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">engage warfarin self-care</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">Patients receiving treatment to prevent blood clots can use the engage self-care app to self-test safely and conveniently.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Other</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-other cardrow--last" data-name="Pzizz">
                <a href="set8-details.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1321/app-icon-120x120.png?anchor=center&mode=crop&width=70&height=70&rnd=131720665690000000"></a>
                <h3 class="cardrow__title"><a href="set8-details.html" class="cardrow-link">Pzizz</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">The Pzizz app helps you quickly quiet your mind, fall asleep fast, stay asleep, and wake up refreshed.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-mental-health.html" class="app-tags__item">Other</a>
                </div>
              </div>




              <a href="set8-pregancy.html" class="cardrow-title">Pregnancy and Baby</a>

              <div class="cardrow cardrow--type-pregnancyandbaby" data-name="KicksCount">
                <a href="set8-details-kick-count.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1298/logo.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131654217710000000"></a>
                <h3 class="cardrow__title"><a href="set8-details-kick-count.html" class="cardrow-link">Kicks Count</a></h3>
                <p class="cardrow__para" style="max-width: 680px;">Use the Kicks Count app to keep track of your baby's movements in the womb and look out for any changes.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-pregancy.html" class="app-tags__item">Pregnancy and baby</a>
                </div>
              </div>

              <div class="cardrow cardrow--type-pregnancyandbaby cardrow--last" data-name="vCreateNeonatal">
                <a href="set8-details-vcreate.html"><img class="cardrow__img" src="https://apps.beta.nhs.uk/media/1280/vcreatesvmlogo.png?anchor=center&mode=crop&width=96&height=96&rnd=131626564930000000"></a>
                <h3 class="cardrow__title"><a href="set8-details-vcreate.html" class="cardrow-link">vCreate Neonatal</a></h3>
                <p class="cardrow__para"  style="max-width: 580px">vCreate Neonatal is a secure video messaging service that allows staff in neonatal units to record and send video updates to parents of premature and sick babies when they are unable to be with their child.</p>
                <div class="app-tags">
                  <div class="app-tags__item app-tags__item--free">Free</div>
                  <a href="set8-pregancy.html" class="app-tags__item">Pregnancy and baby</a>
                </div>
              </div>







            </div>


          </div>

          <div class="column-one-third">

            <div class="callout callout--small callout--mobile-accordion" style="clear:both; margin-bottom: 24px;">
              <h4 class="callout__title">How we review apps</h4>
              <p class="callout__para">Our  assessment makes sure only safe, secure and effective apps are published on our library. <a href="set8-how-we-review-apps.html">Find out more</a> </p>
            </div>

            <div class="callout callout--small callout--mobile-accordion" style="margin-bottom: 24px;">
              <h4 class="callout__title">For developers</h4>
              <p class="callout__para">Find out how you can get your app published on our library. <a href="/developer/wp-apps.html">Read more</a></p>
            </div>

            <div class="callout callout--small callout--mobile-accordion" style="margin-bottom: 24px;">
              <h4 class="callout__title">For healthcare professionals</h4>
              <p class="callout__para">Why you can confidently recommend the apps on our library. <a href="set8-info-for-hcp.html">Read more</a></p>
            </div>

          </div>
        </div>

        <div class="grid-row">
          <div class="column-one-half">
            <div class="callout callout--small callout--mobile-accordion" style="clear:both; margin-bottom: 24px;">
              <h4 class="callout__title">Had an adverse reaction?</h4>
              <p class="callout__para">If you’ve suffered an adverse reaction after using any of the apps listed here, please contact the developer directly and forward the details to NHS Digital at <a style="white-space:nowrap" href="mailto:m.health@nhs.net">m.health@nhs.net</a></p>
            </div>
          </div>
          <div class="column-one-half">
            <div class="callout callout--small callout--mobile-accordion" style="clear:both; margin-bottom: 24px;">
              <h4 class="callout__title">Disclaimer</h4>
              <p class="callout__para">The NHS Apps Library does not provide medical advice and is not a substitute for a medical consultation &nbsp; <a href="set8-disclaimer.html">Read more</a></p>
            </div>
          </div>
        </div>

      </div>

      <div class="grid">
        <div class="column-full">

          <div class="callout callout--large callout--muted" style="margin-bottom: 24px;">

            <h3 class="heading-medium" style="margin-top:10px; margin-bottom:10px;">Find an app</h3>

            <div class="grid-row">
              <div class="column-one-half">
                <p>From booking GP appointments online to quitting smoking, we have apps to support all areas of your healthcare </p>
                <p>&nbsp;</p>
              </div>
              <div class="column-one-quarter">
                <ul class="list list-bullet" style="margin-bottom:0">
                  <li><a href="#">Cancer</a></li>
                  <li><a href="set8-copd.html">COPD</a></li>
                  <li><a href="#">Dementia</a></li>
                  <li><a href="#">Dental</a></li>
                  <li><a href="#">Diabetes</a></li>
                  <li><a href="#">Healthy Living</a></li>
                </ul>
              </div>
              <div class="column-one-quarter">
                <ul class="list list-bullet">
                  <li><a href="#">Learning Disabilities</a></li>
                  <li><a href="set8-mental-health.html">Mental Health</a></li>
                  <li><a href="#">Online Community</a></li>
                  <li><a href="#">Other</a></li>
                  <li><a href="set8-pregancy.html">Pregnancy and Baby</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>



    <footer class="global-footer" role="contentinfo">
      <div class="container">
        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>
        <ul class="link-list">
          <li><a href="set8-disclaimer.html" target="">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>

    <div class="feedback">
      <a href="https://docs.google.com/forms/d/1Ws6q7gGbYOGWLPNaf5IKOc0dWkVqgWMeYm09DtVD6tc" target="_blank">Feedback</a>
    </div>

    <div id="global-app-error" class="app-error hidden"></div>







    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>
    <script src="/javascripts/show-hide-content.js"></script>
    <script src="/javascripts/jquery.easy-autocomplete.min.js"></script>
    <script src="/javascripts/jquery.easy-autocomplete-controller.js"></script>



    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <script>

      /* Jump to selectbox */
      $(function(){
        // bind change event to select
        $('#select-box').on('change', function () {
            var url = $(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
        });
      });

      </script>

  </body>
</html>
