<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Case Study</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">

        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

      </div>
    </header>


    <div id="global-header-bar"></div>


    <main id="content" role="main">
      <div class="container">


        <div class="breadcrumbs">
          <ol>
            <li><a href="set8-home.html">Apps Library</a></li>
            <!-- <li><a href="set5-case-studies.html">Case Studies</a></li> -->
            <li aria-current="page">Disclaimer</li>
          </ol>
        </div>


        <h1 class="heading-large">Disclaimer</h1>

        <div class="grid-row">

          <div class="column-one-third sticky sticky--top">
            <div class="article_nav">
              <h2 class="article_nav__heading">Sections</h2>
              <hr>
              <ul class="article_nav__list">
                <li><a href="#overview">Overview</a></li>
                <li><a href="#links">Useful links</a></li>
              </ul>
            </div>
          </div>

          <div class="column-two-thirds">


              <h3 class="heading-medium" id="overview">Overview</h3>

              <p>
                NHS Digital or the approving body is not the owner, manager or supplier of the tools/apps listed in the Digital Apps Library.
                NHS Digital or the approving body has set standards for reviewing the tools/apps as detailed in this library,
                but this does not mean that NHS Digital or the approving body has itself reviewed all aspects of the tool/app, or version of the same tool/app.
              </p>

              <p>
                The named supplier listed is the entity solely responsible for the tool/app. NHS Digital or the approving body is not responsible or liable for any advice, or any other information, services or products that you obtain through the use of the tool/apps listed on the Digital Apps Library.
              </p>

              <p>
                This Digital Apps Library is intended to provide supportive relevant information only. It does not provide medical advice and it is not a substitute for a medical consultation.
                For less urgent health needs, contact your GP or local pharmacist in the usual way. If you have an urgent medical need you should call 111. If a life is at risk, call 999.
              </p>

              <hr>

              <h3 class="heading-medium" id="links">Useful links</h3>
              <ul class="list list-bullet">
                <li><a href="set7-how-we-review-apps.html">How we review apps</a></li>
                <li><a href="set7-home.html">NHS Apps Library</a></li>
              </ul>





          </div>
        </div>


      </div>
    </main>


    <footer class="global-footer" role="contentinfo">
      <div class="container">
        <a href="index.html" title="NHS" id="logo" class="content" style="display: inline-block; width: 79px;">
          <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="" style="width: 100%;">
        </a>
        <ul class="link-list">
          <li><a href="set7-disclaimer.html" target="">Disclaimer</a></li>
          <li><a href="#" target="_blank">Helpdesk</a></li>
          <li><a href="#" target="_blank">For Developers</a></li>
        </ul>
      </div>
    </footer>

    <div class="feedback">
      <a href="https://docs.google.com/forms/d/1Ws6q7gGbYOGWLPNaf5IKOc0dWkVqgWMeYm09DtVD6tc" target="_blank">Feedback</a>
    </div>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


    <script>

      /*  Smooth scroll to  */
      $(document).on('click', 'a[href^="#"]', function (event) {
          event.preventDefault();

          $('html, body').animate({
              scrollTop: $($.attr(this, 'href')).offset().top
          }, 500);
      });

    </script>


  </body>
</html>
