<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Assessment / Register Step 3 of 5</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="index.html" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_developer" id="proposition-name">Apps Assessment</a>
              <ul id="proposition-links">
                <li><a href="/apps_developer/apps.html">Apps</a></li>
                <li><a href="/apps_developer/profile.html" class="active">Profile</a></li>
                <li><a href="/apps_developer/logout.html">Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>

    <main id="content" role="main">

      <div class="breadcrumbs">
        <ol>
          <li><a href="start-tab1.html">Apps &amp; wearables</a></li>
          <li aria-current="page">Register</li>
        </ol>
      </div>



      <div class="grid-row">
        <div class="column-two-thirds">

          <h2 class="heading-xlarge">
            <p class="grey font-xsmall">Step 3 of 5</p>
            Register
          </h2>

          <h3 class="heading-medium">NHS Digital Privacy Policy</h3>

          <p>
            References in this policy to “NHS Digital”, “we”, “our” and “us” are references to the Health
            and Social Care Information Centre, a non-departmental public body established under
            primary legislation and known as NHS Digital (see below for more information on who we
            are).
          </p>

          <h3 class="heading-medium">How we use your personal information</h3>
          <p>Last updated: 24 January 2018</p>

          <h3 class="heading-medium">Changes to our Privacy Policy</h3>
          <p>The terms of our privacy policy may change from time to time. Please check this page at frequent intervals to view any changes.</p>

          <h3 class="heading-medium">Our commitment to protecting your personal information</h3>
          <p>
            NHS Digital is committed to protecting your personal information. This Privacy Policy
            relates to our use of your personal information we collect from you via this web portal and
            any personal information you provide to us by other means such as phone, SMS, email. in
            letters and other correspondence.
          </p>
          <p>
            Whenever you provide personal information, we are legally obliged to use your information
            in line with data protection law. No website can be completely secure; if you have any
            concerns that your account could have been compromised e.g. someone could have
            discovered your password, please get in touch straight away.
          </p>

          <h3 class="heading-medium">This Privacy Policy explains the following:</h3>

          <ul class="list list-bullet">
            <li>Who we are</li>
            <li>Our Data Protection Ofﬁcer</li>
            <li>What Information We Collect about You</li>
            <li>The legal basis for using your personal data</li>
            <li>How we use your personal data</li>
            <li>Sharing your personal data</li>
            <li>Where your data is stored</li>
            <li>How long we hold onto your personal data</li>
            <li>Your rights</li>
          </ul>

          <div class="callout callout--muted">
            <div class="multiple-choice">
              <input id="privacy-policy" name="privacy-policy" type="checkbox" value="I agree">
              <label for="privacy-policy">I agree to the Privacy Policy</label>
            </div>
          </div>

          <p style="clear:both"></p>
          <p><a href="step4-register.html" class="button button--large">Continue</a></p>

        </div>
      </div>





    </main>



    <footer class="group js-footer" id="footer" role="contentinfo">
      <p style="text-align: center; color: #adb1b5; padding-top: 20px;">Footer</p>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


</body>
</html>
