<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Assessment</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/nhs-icon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <div id="global-header-bar"></div>

    <main id="content" role="main">

      <p><span style="font-size:12px;">&#9664;</span> <a class="back-to-previous" href="/"> Back <span class="visuallyhidden"> to the previous question</span></a></p>

      <h1 class="heading-xlarge">Apps Assessment</h1>


      <h2 class="heading-medium">Landing page</h2>

      <table style="max-width:800px">
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="home.html">Home</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="geting-started.html">Getting started</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
      </table>


      <h2 class="heading-medium">Set 1</h2>

      <table style="max-width:800px">
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="login.html">Login</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="reset-password.html">Reset password</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="signup.html">Sign up</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="apps.html">Apps</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="apps-details.html">Apps / Details</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="apps-details-invite.html">Apps / Details / Invite</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="apps-details-submit-your-app.html">Apps / Details / Submit your app</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="apps-details-submit-your-app-view2.html">Apps / Details / Submit your app / VIEW 2</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="apps-details-daqs.html">Apps / Details / DAQs</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>

        <tr>
          <td class="col1">-</td>
          <td>
            <a href="apps-details-daqs-questions.html">Apps / Details / DAQs / Questions</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">-</td>
          <td>
            <a href="profile.html">Apps / Profile</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
      </table>




      <h2 class="heading-medium">Archived</h2>
      <p>Exactly the same as the current build</p>

      <table style="max-width:800px">
        <tr>
          <td class="col1">X</td>
          <td>
            <a href="apps-details-daqs-old.html">Apps / Details / DAQ OLD</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">X</td>
          <td>
            <a href="apps-details-tasklist-questions-old.html">Apps / Details / Questions OLD</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
      </table>




      <h2 class="heading-medium">Set 3 - NHS Apps &amp; Wearables: sign in or register</h2>
      <p>This pattern is used by gov uk</p>

      <table style="max-width:800px">
        <tr>
          <td class="col1">3.0</td>
          <td>
            <a href="login-register-tab1.html">Sign in to NHS Apps &amp; Wearables</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">3.1</td>
          <td>
            <a href="login-register-tab2.html">Problems signing in</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
        <tr>
          <td class="col1">3.1</td>
          <td>
            <a href="login-register-tab3.html">Register for to NHS Apps &amp; Wearables</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
      </table>


      <h2 class="heading-medium">Set 4 - Alternative add an app</h2>

      <table style="max-width:800px">
        <tr>
          <td class="col1">4.0</td>
          <td>
            <a href="add-app-step1.html">Multiple steps ending up back at the apps page</a>
          </td>
          <td style="text-align:right">
            <span class="status status--red"></span>
          </td>
        </tr>
      </table>









    </main>



    <footer class="group js-footer" id="footer" role="contentinfo">
      <p style="text-align: center; color: #adb1b5; padding-top: 20px;">Footer</p>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- ADMIN Styles -->
    <style>

      table {
        margin-bottom: 70px;
      }

      .col1 {
        width: 34px;
        text-align: center;
      }

      /* Status - Not set */
      .status {
        position: relative;
      }
      .status:before {
        color: grey;
        content: "Not set";
        padding-right: 23px;
      }
      .status:after {
        position: absolute;
        right: 0px;
        top: 4px;
        content: "";
        background-color: #da291c;
        display: inline-block;
        background-color: grey;
        width: 14px;
        height: 14px;
        border-radius: 20px;
      }

      /* Status - Not signed off */
      .status--red:before {
        color: #da291c;
        content: "Not signed off";
      }
      .status--red:after {
        background-color: #da291c;
      }

      /* Status - Signed off */
      .status--green:before {
        color: #00823b;
        content: "Signed off";
      }
      .status--green:after {
        background-color: #00823b;
      }

      /* Status - Ready for show and tell */
      .status--ready:before {
        color: #005BBB;
        content: "Ready for show and tell";
      }
      .status--ready:after {
        background-color: #005BBB;
      }

      /* Mobile view remove the copy */
      @media screen and (min-width: 0px) and (max-width: 700px) {
        .status--red:before, .status--green:before, .status--ready:before { content: ""; }
      }

    </style>

</body>
</html>
